

/* Bootstrap formhelper */
.h2.has-feedback {
	.form-control-feedback {
		top: 10px !important;
	}
}

.form-inline {
	.form-group {

		input {
			width: 100% !important;
		}

		.form-control-feedback {
			top: 35px !important; 
		}		

	}
}


.form-control {
	padding-left: 10px;
}


.input-group-addon.left {
	padding-left: 12px;
}

/* Sidebar */
.nav-second-level li.current {
	background: #000;
	
	&:hover {
		background: #000;
	}

	a:hover, a:focus {
		background: #47506F;
	}
}

.nav-second-level li:last-child {
	margin-bottom: 0px;
}

.nav > li > span {
	padding: 14px 20px 15px 21px;
	font-weight: 500;
	display: block;
}

/* Forms */

.form-control {
	&:focus {
		box-shadow: none !important;
	}
}

.list-group.clear-list {
	.list-group-item {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.website-visibility {
	small.help-block {
	    width: 150%;
	    margin-top: 10px;
	    margin-left: 18px;
	}

	&.has-success {
		small {
			display: none;
		}

		small:before {
			display: none;
		}
	}

	&.has-success .form-control-feedback.glyphicon {
		display: none !important;
	}
}





/* List filters */
.list-filters {
	.label {
		margin-top: -2px;
		padding: 9px;
	}
}

.iradio_square-steelblue {
	margin-right: 5px;
}




.nav.nav-tabs > li.active {
	background: none !important;
	border-left: none !important;
}