/* =============================================================== */
/*  CHECKOUT PAGE START
/* =============================================================== */

.orderStep {
    clear: both;
    display: inline-block;
    height: auto;
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
}

.orderStep li {
    display: inline-block;
    float: left;
    height: auto;
    margin: 0;
    min-height: 55px;
    padding: 0;
    width: 20%;
}

.orderStep li.active a {
    color: #fff;
}

.orderStep li.active a {
    position: relative;
}

.orderStep li.active a:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-width: 10px;
    margin-left: -10px;
}

.orderStep li a {
    background: #EFF0F2;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    line-height: normal;
    padding: 20px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    text-transform: uppercase;
    font-size: 13px;
}

.orderStep li a i {
    background: rgba(0, 0, 0, 0.05);
}

.orderStep li.active a i {
    background: rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}

.orderStep li a i {
    border-radius: 0;
    display: block;
    font-size: 20px;
    height: auto;
    left: 0;
    line-height: 40px;
    margin-top: -20px;
    padding: 0;
    text-align: center;
    width: auto;
    float: none !important;
}

.orderStep li a span {
    display: block;
    padding: 5px 0;
}

/* payment */

.paymentBox {
    margin-bottom: 30px;
    display: block;
}

.checkoutReview .CartProductThumb a img, .checkoutReview .CartProductThumb a img {
    width: 50px;
}

.paymentBox .panel {
    box-shadow: none;
}




/* Typeahead */
/* scaffolding */
/* ----------- */

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

/*
p + p {
  margin: 30px 0 0 0;
}
*/

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}