.feature1-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #fff;
    position: relative;
    overflow: hidden;


    h2 {
        line-height: 1.375;
        font-size: 3rem;
        margin-bottom: 2rem;
        letter-spacing: 0.01em;
        font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .feature-media-col {
        margin-bottom: 20px;
    }
}



@media (min-width: 992px) {
    .feature1-section {
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
    }
}

@media (min-width: 768px) {
  .feature-1-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}


@media (max-width: 767px) {
    .feature-1-left-col {
        margin-bottom: 3rem;
    }

    .feature-media-row {
        margin-top: -1.5rem;
    }

    .feature-media-col {
        margin-top: 1.5rem;
    }    
}




@media (max-width: 767px) {
    .feature-media .media-left {
        display: block;
    }

    .feature-media .media-icon {
        width: 3rem;
        height: 3rem;
        font-size: 2.25rem;
    }    
}



@media (min-width: 768px) {
    .feature-media .media-left {
        padding-top: 0.25rem;
        padding-right: 1.25rem;
    }
}
