.snipcart-overwrite #snipcart-footer {
    display: none !important;
}

.bfh-selectbox.open>.bfh-selectbox-options {
    width: 100%;
}

.bfh-selectbox .bfh-selectbox-options ul {
    max-width: 100%;
}

#sib_embed_signup {
	.message_area {
		padding: 10px;
		margin-top: 0px;
		margin-bottom: 10px;
	}
}

table {
	margin-bottom: 0px !important;
}

.pagination {
	li a i.fa {
		line-height: 21px;
	}
}

.productImageZoom {
	div.zoom {
		a img {
			margin: 0px auto;
		}
	}
}



/* Tables */
table {
	&.order-success{
		width: 100%;

		td {
			padding: 5px 10px !important;
			vertical-align: top;			
		}
	}

	&.details {
		td {
			border-bottom: 1px solid #EFEFEF;
		}
		td:nth-child(1) {
			width: 200px;
		}
	}
}

.centered-content {
	max-width: 1024px;
}

.col-narrow {
	width: 60%;
}

.thank-you {
	min-height: 350px;

	h1 { 
		font-size: 3em; 
		margin-bottom: 0.3em;
		line-height: 1.2em;
	}

	h3 {
		font-size: 1.5em;
		line-height: 2em;
		font-family: 'Roboto', sans-serif;
	}
}

a.underline {
	border-bottom: 2px solid 
}


.form-control-feedback {
	right: 5px !important;

	&.glyphicon {
		float: left;
	}
}



legend {
	border-bottom: none !important;
}

/* Product page */
#mainImage {
	a img {
		width: 100%;
	}
}

#gallery {
	a img {
		width: 25%;
	}
}