

.parallax-section {
    background-color: #d9d8d3;
    background-image: url('../img/m3-mainbg.jpg') !important;
    background-size: contain;
    background-attachment: none;
    background-repeat: no-repeat;
    background-position: top right;

    h1 {
        font-family: 'Roboto', 'sans-serif';
    }
}

.navbar-tshop {
    background: #EDEEF0;
}

.navbar-top {
    background: #d9d8d3;
}

.navbar-brand {
    margin-left: -5px !important;

    img {
        height: 50px;
        width: auto;
    }
}

.cartMenu a.dropdown-toggle,
.navbar-nav > li > a {
    color: #2c3e50;
}

.megamenu-content {
    ul li a {
        font-size: 16px;
    } 
}
.megamenu .dropdown.megamenu-80width .dropdown-menu {
    left: 15px;
}


.miniCartFooter {
    background: #FFF;
}

.cartMenu .dropdown-menu {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.nav > li.active, .nav > li > a:hover, .nav > li > a:focus, .nav > li:hover > a {
    background: none !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .cartMenu:hover > a.dropdown-toggle {
    background: none !important;
}

.userMenu {
    li a {
        color: #600a17;
    }
}

#m3slider {
    .item {
        height: 180px;
        display: block;
        width: 100%;
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        background-image: url('../img/mymahoganymodel/slider1.jpg');        
    }

    .slider1 {
        background-image: url('../img/mymahoganymodel/slider1.jpg');
    }

    .slider2 {
        background-image: url('../img/mymahoganymodel/slider2.jpg');
    }

    .slider3 {
        background-image: url('../img/mymahoganymodel/slider3.jpg');
    }       
}

@media only screen and (min-width: 600px) {
    #m3slider {
        .item {
            height: 330px;
        }
    }
}


@media only screen and (min-width: 768px) {
    #m3slider {
        .item {
            height: 400px;
        }
    }

    .navbar-brand {
        width: 100px;
        height: auto;

            img {
                width: 100%;
                height: auto;
            }
    }
}


@media only screen and (min-width: 900px) {
    #m3slider {
        .item {
            height: 500px;
        }
    }
}


@media only screen and (min-width: 1000px) {
    #m3slider {
        .item {
            height: 600px;
        }
    }
}

.search-box.static-search {
    min-width: 100%;
    width: 100%;
    float: none !important;
}


