body {
    font-family: 'Roboto', sans-serif;
}

/* Navigation */
.userMenu li a {
    padding: 0 0 0 20px;
}

#homepage {
    .btn {
        display: inline-block;
        cursor: pointer;
        box-shadow: 0 2px 40px 0 rgba(164,164,164,0.2);
        font-size: 18px;
        padding: 12px 55px;
        -webkit-transition: -webkit- all .2s ease-in-out;
        -moz-transition: -moz- all .2s ease-in-out;
        -ms-transition: -ms- all .2s ease-in-out;
        -o-transition: -o- all .2s ease-in-out;
        transition: all .2s ease-in-out;
        color: #888;
        text-align: center;
        white-space: nowrap;
        background-image: linear-gradient(-217deg, #FF7343 0%, #FF3554 97%, #FF3554 97%, #f35 100%);
        border-radius: 100px;
        color: white;
        border: none !important;             
    }
}

#main-product {
    height: 400px;
    margin-top: 140px;
    padding-top: 50px;
    width: 100%;
    background-color: #ebecee;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-image: url(../img/pa-header.jpg);
    color: #FFF;
    position: relative;
    
    .main-product-info {
        position: absolute;
        left: 10%;
        top: 50%;
        -webkit-transform: translateY(-30%);
        -moz-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
        -o-transform: translateY(-30%);
        transform: translateY(-30%);    
    }


    h1 {
        font-size: 6rem;
        line-height: 1;    
        color: #FFF;    
    }

    p.description {
        font-size: 2rem;
        margin: 0.6em 0 1em;
    }

    a {
        color: #0483d9;
        text-decoration: none;
    }

    .btn {
        border-color: #0483d9;                
    }

}


/*
@media only screen and (min-width: 700px) {
    ul#products {
        .product-info {
            right: 2%;
            left: auto;
            width: 50%;
            text-align: right;
        }
    }
}

@media only screen and (min-width: 1009px) {
    ul#products {
        .product-info {
            right: 0;
            width: 50%;
            text-align: left;
        }
    }
}


@media only screen and (min-width: 75.0625em) {
    ul#products {
        li {
            width: 50%;

            .product-info {
                left: 6%;
                top: 25%;            
            }    

            .product-img {
                width: 400px;
                left: auto;
                right: 0px;  
                background-image: url(../img/pa-cat1.png);                        
            }

            &:nth-child(2) {
                .product-img {
                    background-image: url(../img/pa-cat2.png);                     
                }
            }

            &:nth-child(3) {
                .product-img {
                    background-image: url(../img/pa-cat3.png);                     
                }        
            }

            &:nth-child(4) {
                .product-img {
                    background-image: url(../img/pa-cat4.png);                     
                }                 
            }

            &:nth-child(5) {
                .product-img {
                    background-image: url(../img/pa-cat5.png);                     
                }                 
            }            
        }
    }  
}


@media only screen and (min-width: 106.25em) {
    ul#products>li {
        width: 33.33%;
    }
}

*/

    
    
    
    
    
    
  

// variables
$card-width:  100%;
$card-height: 400px;


.blog-card{
  width: $card-width;
  height: $card-height;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
  text-align: center;
  position: relative;
  background-image: url(../img/pa-cat1left.png);
  background-repeat: no-repeat;    
  background-size: 100%;
  background-position: top center;  
  margin-bottom: 20px;
  
    &.card2 {
        background-image: url(../img/pa-cat2left.png);
    }
    &.card3 {
        background-image: url(../img/pa-cat3left.png);
    }  
    &.card4 {
        background-image: url(../img/pa-cat4left.png);
    }  
    &.card5 {
        background-image: url(../img/pa-cat5left.png);
    }  
    &.card6 {
        background-image: url(../img/pa-cat6left.png);
    }  


    .color-overlay{
    background: rgba(84,104,110,0.4);
    width: $card-width;
    height: $card-height;
    transition: background .3s cubic-bezier(.33,.66,.66,1);
    }


  .gradient-overlay{
    background-image: -webkit-linear-gradient(rgba(146, 145, 145, 0) 0%, rgba(146, 145, 145,.6) 100%);
    background-image: -moz-linear-gradient(rgba(146, 145, 145,0.00) 0%, rgba(146, 145, 145,.6) 100%);
    background-image: -o-linear-gradient(rgba(146, 145, 145,0.00) 0%, rgba(146, 145, 145,.6) 100%);
    background-image: linear-gradient(rgba(146, 145, 145,0.00) 0%, rgba(146, 145, 145,.6) 100%);
    width: $card-width;
    height: $card-height;
  }
  
  &:hover{
    .color-overlay{
      background: rgba(84,104,110,0.8);
    }
  }
}

.title-content{
  text-align: center;
  margin: 70px 0 0 0;
  z-index: 20;
  width: 100%;
  position: absolute;
  bottom: 30px;  
}

.intro{
  width: 100%;
  margin: 0 auto;
  line-height: 18px;
}



