
.homepage-banner {

    .first-row {
        background-image: url('../../images/slider/slider0.jpg');
        background-size: contain;
        min-height: 450px;
        color: #FFFFFF;

        .col-2 {
            min-height: 450px; 
            padding: 90px 30px 30px 30px; 
            text-align: left; 
            background: rgba(0,65,113,0.8) !important;       
            
            h4 {
                text-align: center;
            }     
        }

    }    

    input[type="text"] {
        padding:6px 6px; 
        border-radius: 3px; 
        width: 100%;         
    }

    .second-row {
        .col {
            height: 250px;
            background-size: cover;

            p {
                margin: 0px;
            }

            div {
                display: block; 
                width: 50%; 
                background: white; 
                padding: 10px 20px; 
                margin: 50px 20px;  
                text-align: left;      
                background: rgb(0,65,113) !important;     
                color: #FFF;                        
            }
        }

        .col-1 {
            background-image: url('../../images/site/homepage-image-1.jpg'); 
        }

        .col-2 {
            background-image: url('../../images/site/homepage-image-2.jpg'); 

            div {
                text-align: right;
                float: right;
            }
        }
    }

}
