/* =============================================================== */
/* MAIN CONTAINER || TOP CONTAINER START (NEW ARRIVALS)
/* =============================================================== */

.section-block {
    margin-bottom: 30px;
}

.section-title {
    border-bottom: 2px solid #DDDDDD;
    border-top: 2px solid #DDDDDD;
    font-size: 22px;
    line-height: 24px;
    margin: 10px 0 10px;
    padding: 0;
    
    span {
        color: #2c3e50;
        display: inline-block;
        padding: 5px 15px 5px 0;
        text-transform: uppercase;
        width: auto;
    }
}


/***  -------  Style 2  ------- ***/

.style2 .section-title, .section-title.style2 {
    font-size: 42px;
    font-weight: lighter;
    line-height: 44px;
    margin: 10px 0 20px;
    padding: 0;
    position: relative;
    border: none;
}

.section-title-style2, .section-title.style2 {
    position: relative;
}

.style2 .section-title:after, 
.section-title-style2:after, 
.section-title.style2:after, 
.section-title-style2:after {
    background: #DDDDDD;
    content: "";
    display: block;
    height: 1px;
    margin-left: 20%;
    position: absolute;
    top: 28px;
    width: 60%;
    z-index: 1;
}

.section-title-style2 span, 
.section-title.style2 span {
    background: #FFFFFF;
    display: inline-block;
    padding: 10px;
    position: relative;
    width: auto;
    z-index: 2;
}

.style2 .section-title span, 
.section-title.style2 span, {
    color: #2c3e50;
    display: table;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    margin: 0 auto;
}

.productslider {
    width: 100%;
    display: block;
}

#productslider .item {
    margin: 0 15px;
}

.item {
    display: block;
    height: auto;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    margin-bottom: 15px;
    height: 300px;

    #productslider & {
        height: 210px;
    }
}

#SimilarProductSlider .item {
    height: auto !important;
}

.product {
    display: block;
    height: auto;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    border: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    text-align: center;
}

.product:hover {
    background: #fff;
}

.add-fav {
    border: 1px solid;
    border-radius: 50%;
    height: 30px;
    line-height: 31px;
    position: absolute;
    right: 30px;
    text-align: center;
    top: 15px;
    width: 30px;
    z-index: 10;
    transform: scale(1.15);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: opacity .3s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
    -moz-transition: opacity .3s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
    -o-transition: opacity .3s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
    -ms-transition: opacity .3s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
    transition: opacity .3s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
    opacity: 1;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(Opacity=0)";
}

.list-view .product .add-fav {
    right: 40px;
    top: 8px;
}

.product:hover .add-fav {
    opacity: 1;
    webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.add-fav i {
    webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rrotate(0deg);
    transform: scale(1) rotate(0deg);
    transition: all .3s ease;
    margin-top: 6px;
}

.add-fav:active i {
    webkit-transform: scale(0.85) rotate(0deg);
    -moz-transform: scale(0.85) rotate(4deg);
    -o-transform: scale(0.85) rotate(0deg);
    -ms-transform: scale(0.85) rrotate(0deg);
    transform: scale(0.85) rotate(4deg);
}


.list-description {
    display: none;
}


.item.list-view {
    display: block;
    height: auto!important;
    width: 100% !important;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;

    .grid-description {
        display: none;
    }    

    .list-description {
        display: block;
    }    

    .image {
        display: block;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        max-height: 260px;
        max-width: 200px;
        transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        padding-right: 20px;
        background: #fff;

        a {
            display: block;
            max-height: 100%;
            height: 100%;
            max-height: 100% !important;
        }

        img {
            max-height: 260px;
            width: auto !important;
        }        
    }

    h4 {
        height: auto;
        font-size: 24px;

        a {
            font-weight: 600;
        }        

    }    

    .description {
        text-align: left;        
        p {
            text-align: left;
            max-height: 200px;
            min-height: 10px;
        }        
    }    

    .price {
        font-size: 22px;
        text-align: right;
    }    

    .action-control {
        text-align: right;
    }    

    .product {
        padding-right: 20px;
        min-height: 260px;
    }    

    &:hover {
        .action-control {
            border-bottom-color: #fff;
        }
    }
}



.product-box {
    .item {
        margin: 0 10px;
    }

    .item:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
        background: #fff;
    }    
}





.image {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    height: 240px;
    max-height: 240px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;     

    .row.categoryProduct &,
    #productslider & {
        height: 145px;
    }     
       
}

.image a {
    display: block;
    overflow: hidden;
}

.image a img {
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    //min-height: 180px;
    //max-height: 180px;
    margin: 0 auto;
    width: 100%;
}

.product:hover .image a img {
    transform: scale(1.15) rotate(-1.5deg);
    -webkit-transform: scale(1.1) rotate(-1.5deg);
    -moz-transform: scale(1.1) rotate(-1.5deg);
    -ms-transform: scale(1.1) rotate(-1.5deg);
    -o-transform: scale(1.1) rotate(-1.5deg);
}

.promotion {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    height: 24px;
    width: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.description {
    margin: 15px;
    //max-width: 235px;
    
    a {
        font-size: 17px;
        line-height: 20px;        
    }

    .list-view & {
        margin: 0 auto;
        min-height: auto;
        max-width: 100%;
    }
}



.promotion {
    line-height: 18px;
}

.new-product {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    height: 100%;
    padding: 3px 10px;
}

.discount {
    background: #eb5e58; /* old browser */
    border-radius: 0 4px 4px 0;
    color: #fff;
    display: inline-block;
    float: left;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    height: 100%;
    padding: 3px 5px;
}

.item {
    .description {
        
    }

    h4 {
        margin: 0;
        overflow: hidden;
        display: block;
        margin: 25px 10px 15px 10px;
        padding: 0;
    }


    h4 a {
        color: #2c3e50;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
    }
}



.description p {
    color: #7F8C8D;
    font-size: 14px;
    min-height: 55px;
    max-height: 90px;
    overflow: hidden;
    line-height: 18px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
}

.action-control {
    border: 0;
    display: block;
    height: auto;
    padding: 5px 0 10px;
    width: 100%;
}

.action-control a {
    cursor: pointer;
}

.cart a {
    font-size: 20px;
    color: #2c3e50;
    margin: 0 0;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.13s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
}

.load-more-block {
    padding-bottom: 30px;
    position: relative;
}

.load-more-block .btn-thin {
    background: #fff;
    z-index: 2;
    position: relative;
    box-shadow: -4px 0 0 #FFFFFF, 4px 0 0 #FFFFFF;
    -webkit-box-shadow: -4px 0 0 #FFFFFF, 4px 0 0 #FFFFFF;
    -moz-box-shadow: -4px 0 0 #FFFFFF, 4px 0 0 #FFFFFF;
    -o-box-shadow: -4px 0 0 #FFFFFF, 4px 0 0 #FFFFFF;
}

.load-more-block:after {
    background: none repeat scroll 0 0 #DDDDDD;
    content: "";
    display: block;
    height: 1px;
    margin-left: 30%;
    position: absolute;
    top: 18px;
    width: 40%;
    z-index: 1;
}

.featureImg a {
    display: block;
    overflow: hidden;
}

.featureImg a img {
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
}

.featureImg a img:hover {
    transform: scale(1.1) rotate(-1.1deg);
    -webkit-transform: scale(1.1) rotate(-1.1deg);
    -moz-transform: scale(1.1) rotate(-1.1deg);
    -ms-transform: scale(1.1) rotate(-1.1deg);
    -o-transform: scale(1.1) rotate(-1.1deg);
}