/* MARGINS & PADDINGS */

.p-xxs {
    padding: 5px !important;
}

.p-xs {
    padding: 10px !important;
}

.p-sm {
    padding: 15px !important;
}

.p-m {
    padding: 20px !important;
}

.p-md {
    padding: 25px !important;
}

.p-lg {
    padding: 30px !important;
}

.p-xl {
    padding: 40px !important;
}

.p-none {
    padding: 0px !important;
}

/* Top Padding */
.p-t-none {
    padding-top: 0px !important;
}
.p-t-xxs {
    padding-top: 5px !important;
}
.p-t-xs {
    padding-top: 10px !important;
}
.p-t-sm {
    padding-top: 15px !important;
}
.p-t-m {
    padding-top: 20px !important;
}

/* Left Padding */
.p-l-none {
    padding-left: 0px !important;
}
.p-l-xxs {
    padding-left: 5px !important;
}
.p-l-xs {
    padding-left: 10px !important;
}
.p-l-m {
  padding-left: 20px !important;
}

/* Bottom Padding */
.p-b-none {
    padding-bottom: 0px !important;
}
.p-b-xxs {
    padding-bottom: 5px !important;
}
.p-b-xs {
    padding-bottom: 10px !important;
}
.p-b-sm {
    padding-bottom: 15px !important;
}
.p-b-m {
    padding-bottom: 20px !important;
}

/* Right Padding */
.p-r-none {
    padding-right: 0px;
}


/* Top margin */
.m-t-none {
    margin-top: 0px !important;
}

.m-t-xxs {
    margin-top: 5px !important;
}

.m-t-xs {
    margin-top: 10px !important;
}

.m-t-sm {
    margin-top: 15px !important;
}

.m-t-m {
    margin-top: 20px !important;
}

.m-t-lg {
    margin-top: 25px !important;
}

/* Bottom margin */
.m-b-none {
    margin-bottom: 0px !important;
}

.m-b-xxs {
    margin-bottom: 4px !important;
}

.m-b-xs {
    margin-bottom: 10px !important;
}

.m-b-sm {
    margin-bottom: 15px !important;
}

.m-b-m {
    margin-bottom: 20px !important;
}

.m-b-lg {
    margin-bottom: 25px !important;
}


/* Right margin */
.m-r-none {
    margin-right: 0px !important;
}

.m-r-xxs {
    margin-right: 5px !important;
}

.m-r-xs {
    margin-right: 10px !important;
}

.m-r-sm {
    margin-right: 15px !important;
}

.m-r-m {
    margin-right: 20px !important;
}

/* Left margin */
.m-l-none {
    margin-left: 0px !important;
}

.m-l-xxs {
    margin-left: 5px !important;
}

.m-l-xs {
    margin-left: 10px !important;
}

.m-l-sm {
    margin-left: 15px !important;
}

.m-l-m {
    margin-left: 20px !important;
}

.m-none {
    margin: 0 !important;
}