{% if p.lastPage > 1 %}
    <div class="w100 categoryFooter">
    <div class="pagination pull-left no-margin-top">
        <ul class="pagination no-margin-top">

        {% if p.page>1 %}
                <li><a href="?{{ params|merge({"page": p.previousPage })|url_encode }}" class="btn btn-white"><i class="fa fa-chevron-left"></i></a></li>
            {% endif %}
            {% set startPage = p.links[0] %}
            {% set endPage = p.links[p.links|length - 1] %}
            {% if startPage > 1 %}
                <li><a href="?{{ params|merge({"page": 1 })|url_encode }}" class="btn btn-white">1</a></li>
                {% if startPage == 3 %}
                    <li><a href="?{{ params|merge({"page": 2 })|url_encode }}" class="btn btn-white">2</a></li>
                {% elseif startPage != 2 %}
                    <li><span class="btn btn-white">&hellip;</span></li>
                {% endif %}
            {% endif %}
            {% for i in p.getLinks(10) %}
                <li{% if p.page==i %} class="active"{% endif %}><a href="?{{ params|merge({"page": i })|url_encode }}" class="btn btn-white{% if p.page==i %}active{% endif %}">{{ i }}</a></li>
            {% endfor %}
            {% if p.lastPage > endPage %}
                {% if p.lastPage > (endPage + 1) %}
                    {% if p.lastPage > (endPage + 2) %}
            <li><span class="btn btn-white">&hellip;</span></li>
                    {% else %}
            <li><a href="?{{ params|merge({"page": p.lastPage-1 })|url_encode }}" class="btn btn-white">{{ p.lastPage -1 }}</a></li>
                    {% endif %}
                {% endif %}
            <li><a href="?{{ params|merge({"page": p.lastPage })|url_encode }}" class="btn btn-white">{{ p.lastPage }}</a></li>
            {% endif %}

            {% if p.lastPage!=p.nextPage %}
            <li><a href="?{{ params|merge({"page": p.nextPage })|url_encode }}" class="btn btn-white"><i class="fa fa-chevron-right"></i></a></li>
            {% endif %}

        </ul>
    </div>
        <div class="pull-right pull-right col-sm-4 col-xs-12 no-padding text-right text-left-xs">
            <p>Displaying {{ productsPager.getFirstIndex() }} to {{ productsPager.getLastIndex() }} of {{ productsPager.getNBResults() }} results</p>
        </div>
    </div>
{% endif %}