.centered-content {
    float: none;
    margin: 0 auto;
    width: 550px;
    margin-bottom: 20px;
}

.empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}
