/* FORMS */

textarea {
    resize: none;
    min-height: 70px;
    border: 1px solid #CCC;
    font-size: 14px;
    padding: 7px 8px;
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &:hover {
        border: 1px solid $lightest-grey;
    }

    &:focus {
        border-color: $light-grey;
        -webkit-appearance: none;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 1px solid $lighter-grey;
    }

}

textarea::-webkit-input-placeholder {
    font-style: italic !important;
}
textarea:-moz-placeholder /* Firefox 18- */ {
    font-style: italic !important;
}

textarea::-moz-placeholder /* Firefox 19+ */ {
    font-style: italic !important;
}
textarea:-ms-input-placeholder {
    font-style: italic !important;
}

.form-group {
    margin-bottom: 30px;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    &:empty {
        margin: 0 !important;
    }
}

.input-group-btn:first-child>.btn {
    margin-right: -2px;
}

.input-group .form-control {
    font-size: 15px;
}

/* .input-group {
    line-height: 30px;
} */

.select-dropdown::before {
    content: "\f0dc ";
    font-family: FontAwesome;
}

/* Form control */

.form-control {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    border-color: $lighter-grey;
    color: $text-color;
    height: auto;
    font-size: 15px;

    &:focus {
        border-color: $accent-color;
        box-shadow: inset 0 -1px 0 $accent-color;
    }

}

.form-control.error {
    border-width: 0 0 1px 0;
    border-color: $red;
    border-style: solid;
    box-shadow: inset 0 -1px 0 $red;

    &:focus {
        border-color: $accent-color;
        box-shadow: inset 0 -1px 0 $accent-color;
    }
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: inherit;
  border-style: dotted;
  opacity: 0.7;
}

h2 input.form-control {
    font-size: 24px;
    font-weight: 700;
}


.form-horizontal .control-label {
  text-align: left;
}


select.form-control,
c-datepicker input {
    cursor: pointer;
}

.form-control:focus, .single-line:focus {
    border-color: $accent-color !important;
    outline: none;
}

.has-success .form-control,
.has-error .form-control {
    box-shadow: none;
}

.has-success .form-control {
    border-color: $accent-color;
}

.has-warning .form-control {
    border-color: $yellow;
}

.has-error .form-control {
    border-color: $red;
}

.has-success .control-label {
    color: $accent-color;
}

.has-warning .control-label {
    color: $yellow;
}

.has-error .control-label {
    color: $red;
}

.form-control-inline {
    padding: 0px !important;
    border: none !important;

    &:focus {
        border-color: none;
        box-shadow: none;
    }
}

input[placeholder] {
    font-size: 15px;
}


/* Input addon */

.input-group-addon {
    background-color: white;
    border: 0;
    border-radius: 0;
    color: inherit;
    line-height: 1;
    text-align: center;

    &.btn-right {
        padding: 0 0 0 12px;
    }

    &.left {
        padding: 6px 12px 6px 0;
    }

    &.right {
        padding: 6px 0 6px 12px;
    }

    h2 {
        margin: 0;
    }
}


/* ON/OFF Switch label */

.onoffswitch-label {
  border: 2px solid $accent-color;
}

.onoffswitch-inner:before {
  background-color: $accent-color;
}

.onoffswitch-switch {
  border: 2px solid $accent-color;
}


/* YES/NO Switch label */

.yesnoswitch {
    .onoffswitch-inner:before {
        content: "YES";
    }

    .onoffswitch-inner:after {
        content: "NO";
    }
}



/* Labels */

.label {
    font-weight:700;
    font-family: $font-stack;
    font-size: 12px;

    h3 {
        margin: 0;
        font-weight: 700;
    }

}

.inline-label {
    float: left;
    clear: left;
    line-height: 34px;
    margin-right: 10px;
}

.label-group {
    line-height: 25px;
}

label .small {
    display: block;
    font-weight: normal;
    font-style: italic;
}

.fw-label {
    display: inline-block;
    padding: 1em .6em;
    width: 100%;
}


/* icheck Checkboxes */

.i-checks,
.i-checks2 {
    label {
        font-weight: normal;
        margin-bottom: 0 !important;
        cursor: pointer;
    }

    &:last-child label {
        margin-bottom: 0;
    }

    span {
        padding-left: 5px;
        padding-top: 2px
    }
}

.i-checks2 {
    label {
        font-weight: normal;
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }
    .icheckbox_square-steelblue {
        margin-right: 5px;
    }
}

.checkbox-container {
    background: white;
    padding: 5px 8px 5px 5px;
    font-size: 14px;
    color: lighten($grey, 20%);
    cursor: pointer;

    .icheckbox_square-red {
       margin-right: 5px;
    }

    label {
        cursor: pointer;
    }

    &:hover {
        color: $red;
    }
}

/* Form group */

.form-group {
    p:last-child {
        margin-bottom: 0;
    }
}

.input-inline { //input-group
    position: relative;
    display: table;
    border-collapse: separate;

    .input-inline-text { //input-group-btn
        position: relative;
        white-space: nowrap;
        vertical-align: middle;
        display: table-cell;
        width: 1%;

        span {
            position: relative;

            &.right {
                padding-left: 10px;
            }

            &.left {
                padding-right: 10px;
            }
        }
    }

    .form-control {
        display: table-cell;
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
    }

}


.list-search-custom {
    width: auto;
    overflow: hidden;
    position: relative;

    label {
        position: absolute;
        left: 14px;
        top: 6px;
        font-size: 18px;
        color: darken($gray, 25%);
        z-index: 2;
    }

    .search-clear {
        text-decoration: none;
        position: absolute;
        font-size: 18px;
        right: 11px;
        top: 6px;
        color: darken($gray, 25%);

        &:hover {
             color: darken($gray, 40%);
        }
    }

    input {

        &.form-control {
            background-color: darken($gray, 4%);
            border-radius: 2px;
            border: medium none;
            font-size: 15px;
            height: 38px;
            margin: 0;
            z-index: 2000;
            padding: 1px 45px;

            &:focus {
                border: 0;
                box-shadow: none;
            }
        }
    }
}

.input-group .search-clear,
.page-search .search-clear {
    top: 6px;
    right: 0;
}

input {
    .clear-option {
        padding-right: 30px;
    }
}


/* Select2 */

.select2-container .select2-selection--single {
    height: 34px !important;

    .select2-selection__rendered {
        padding-top: 2px;
        padding-left: 4px;
    }
}


.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
    border: none !important;
    border-bottom: 1px solid #CCC !important;
}


.select2-container:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none !important;
    border-bottom: 1px solid #CCC !important;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background: none;

    &:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

/* In page search */

.page-search {
    background-color: darken($gray, 4%);
    display: table;
    padding: 5px 10px;
    border-radius: 2px;

    .input-group-addon {
        background-color: darken($gray, 4%);
    }

    input,
    input:focus,
    input:active,
    input:hover {
        border: 0;
        box-shadow: none;
    }
}


/* x-editable custom styles */

.editableform {

    .control-group {
        line-height: inherit !important;
        width: 100%;
    }

    .editable-input {
        font-size: 15px;
        width: 100%;

        textarea {
            border: 1px solid $lightest-grey;
            font-size: 15px;
            padding: 7px 8px;

             &:focus {
                border: 1px solid $lighter-grey !important;
                box-shadow: none !important;
            }
        }

        textarea.input-large {
            width: 100%;
        }

        select {
            padding: 0;
            cursor: pointer;
        }

    }

    .editable-buttons {
        position: absolute;
        right: 0;
        margin-top: 3px;
        margin-left: 0;
        display: block;
    }

}

div.editable {
    padding: 7px 8px;
    border: 1px solid white !important;

    &:hover {
        border: 1px solid $lighter-grey !important;
    }
}

.editable-container.editable-inline,
.editableform-loading,
.editableform .form-control {
    min-width: 150px !important;
}

.editable-container.editable-inline {
    width: 100% !important;
}

/*
 .editable-pre-wrapped {
    padding: 7px 8px;

    &:hover {
        border: 1px solid $lightest-grey;
    }
} */

.editable-click, a.editable-click, a.editable-click:hover {
    font-weight: normal !important;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus {
    color: darken($light-grey, 20%) !important;
}

span.editable-click {
    padding: 5px 0;
    border-bottom: 1px solid #fff;
    line-height: 30px;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid $lighter-grey !important;
        line-height: 30px;


        &:after {
            content: "\00a0\00a0\f040";
            font-family: FontAwesome;
            color: $light-grey;
        }
    }
}

.editable-click.editable-disabled,
.editable-click.editable-disabled:hover {
    border-bottom: none !important;
    outline:none !important;

    &:after {
        content: "";
    }
}


/* select2 custom styles */

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 !important;
}

.select2-container .select2-selection--single {
    height: 30px !important;
}

.select2 {
    width: 100% !important;
    outline: none !important;
}

.select2 .select2-container .select2-container--default,
.select2 .select2-container .select2-container--default .select2-container--below,
.select2-selection .select2-selection--single,
.select2-container--default .select2-selection--single,
.select2-selection__rendered,
.selection {
    outline: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $text-color !important;
}

/* bootstrap date picker custom styles */

.datepicker td.active,
.datepicker span.active.active,
.datepicker span.active:hover.active {
        background-color: $accent-color !important;
        background-image: none !important;
}

.datepicker-dropdown {
    overflow: hidden !important;
}

.datepicker .dropdown-menu {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}





