{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} - Search results{% endblock %}

{% block content %}

<div class="container main-container headerOffset">

    <!-- Main component call to action -->

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Search results</li>
            </ul>
        </div>
    </div>
    <!-- /.row  -->

    <div class="row">

        <!--right column-->
        <div class="col-sm-12">


            <div class="form-group">
                <form id="search-form" method="GET" action="search.php" role="search">                
                    <input type="text" name="q" value="{{ searchTerm|default('') }}" placeholder="Search using a keyword or keyphrase" class="form-control">
                </form>                    
            </div>

            <div class="w100 clearfix category-top">
                <span class="pull-right">
                    <h2>Can't find it? <a href="contact-us.php">Contact us</a></h2>
                </span>
                <h2>Search results</h2>
            </div>
            <!--/.category-top-->

            <div class="row categoryProduct xsResponse clearfix">

                {% for product in productsPager %}
                    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
                        <div class="product">
                            <!--
                            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                <i class="glyphicon glyphicon-heart"></i>
                            </a>
                            -->

                            <div class="image">
                                <div class="quickview">
                                    <a title="More info" class="btn btn-xs btn-quickview" href="product.php?id={{ product.getProdId() }}"> 
                                    More info 
                                    </a>
                                </div>
                                <a href="product.php?id={{ product.getProdId() }}">                                    
                                    <img src="{{ websiteVars.image_url }}{{ product.displayMainImage( websiteVars.website, 1 ) }}" alt="img" class="img-responsive" 
                                    onerror="this.src = '{{ websiteVars.defaultImg }}';">
                                </a>
        
                            </div>
                            <div class="description">
                                <div class="fluid-ellipsis-container">
                                    <div class="fluid-ellipsis-content-wrapper">
                                        <a href="product.php?id={{ product.getProdId() }}">
                                        {{ product.getProdName() }}
                                        </a>
                                    </div>
                                </div>                                    
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-xs-12 text-center">                    
                        <div style="margin: 50px 0;">
                            <h2>No products found.</h2>
                            <div class="input-append newsLatterBox text-center" style="width: 50%; margin: 0px auto;">
                                <a class="btn bg-gray" href="category.php?category=13">
                                    Browse all products <i class="fa fa-long-arrow-right"> </i>
                                </a>
                            </div>            
                        </div>
                    </div>                
                {% endfor %}

            </div>
            <!--/.categoryProduct || product content end-->
            

            {% if noPager is null %}
                {% include "partials/pagination.html.twig" with {"p": productsPager} %}
            {% endif %}            
    
        </div>
        <!--/right column end-->
    </div>
    <!-- /.row  -->
</div>
<!-- /main container -->


{% endblock %}