{% extends "template.html" %}

{% block title %}Modelbuffs - Product Page{% endblock %}

{% block customheader%} 
    <link id="snipcart-theme" type="text/css" href="https://cdn.snipcart.com/themes/base/snipcart.min.css" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="container main-container headerOffset">
    
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">{{ product.getTblMenus().getMenuName() }}</li>
            </ul>
        </div>
    </div>

        <div class="row transitionfx">

            <!-- left column -->

            <div class="col-lg-6 col-md-6 col-sm-6 productImageZoom">

                <div class='zoom' id='zoomContent'>                    
                    <a class="gall-item" title="product-title" href="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo1() }}">
                        <img 
                            class="zoomImage1 img-responsive" 
                            data-src="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo1() }}" 
                            src="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo1() }}" 
                            alt="{{ product.getProdName() }}" />
                    </a>
                </div>


                <div class="zoomThumb ">
                    <a class="zoomThumbLink">
                        <img 
                            data-large="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo1() }}" 
                            src="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo1() }}" 
                            alt="" 
                            title=""/>
                    </a>

                    <a class="zoomThumbLink">
                        <img 
                            data-large="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo2() }}" 
                            src="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo2() }}" 
                            alt="" 
                            title=""/>
                    </a>

                    <a class="zoomThumbLink">
                        <img 
                            data-large="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo3() }}" 
                            src="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo3() }}" 
                            alt="" 
                            title=""/>
                    </a>

                    <a class="zoomThumbLink">
                        <img 
                            data-large="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo4() }}" 
                            src="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo4() }}" 
                            alt="" 
                            title=""/>
                    </a>                    
                </div>

            </div>
            <!--/ left column end -->


            <!-- right column -->
            <div class="col-lg-6 col-md-6 col-sm-5">

                <h1 class="product-title">{{ product.getProdName() }}</h1>

                <h3 class="product-code">Product Code : {{ product.getProdCode() }}</h3>
                <input type="hidden" id="productID" value="{{ product.getProdId() }}" />

                <hr />

                <div class="product-stats m-b-xs">
                    <h3 class="product-code">Product statistics</h3>
                    <span><strong>Length</strong> {{ product.displayStat(product.prodLength) }}</span>
                    <span><strong>Wing span</strong> {{ product.displayStat(product.prodWingspan) }}</span>
                    <span><strong>Height</strong> {{ product.displayStat(product.prodHeight) }}</span>
                    <span><strong>Scale</strong> {{ product.prodScale }} </span>
                </div>

                <hr />

                <div class="details-description">
                    <p>Shipping and choice of stand may increase the price of this model.</p>
                </div>

                <!--
                <div class="productFilter">
                    <div class="row">
                        <div class="col-xs-3">
                            <select class="form-control" data-bind="
                                value: selectedQty,
                                options: qty, 
                                optionsCaption: 'Qty', 
                                optionsText: 'optionText',
                                optionsValue: 'optionValue'
                                ">
                            </select>
                        </div>

                        <div class="col-xs-9">                 
                            <select class="form-control" data-bind="
                                value: selectedStand, 
                                options: stands, 
                                optionsText: function(item) {
                                    return item.optionText
                                },
                                optionsValue: function(item) {
                                    return item.optionDataPrice     
                                }"
                            ></select>
                        </div>
                    </div>
                </div>
                -->
                <!-- productFilter -->

                <div class="cart-actions">
                    
                    <div class="row">
                        <div class="col-xs-8 addto">                    
                            <!--
                            <button 
                                onclick="productAddToCartForm.submit(this);" 
                                class="button btn-block btn-cart cart first"
                                title="Add to Cart"
                                type="button">
                                Add to Cart
                            </button>
                            -->
                            <button 
                                class="snipcart-add-item button btn-block btn-cart first"
                                data-item-id="{{ product.getProdId() }}"
                                data-item-name="{{ product.getProdName() }}"
                                data-item-price="{{ product.getTblProdPricing().getProdPricePrice() }}"
                                data-item-custom1-name="stands"
                                data-item-custom1-options="
                                    {% for stand in stands %}  
                                        {{ stand.getStandName() }}[+{{ stand.getStandPrice() }}]|
                                    {% endfor %}                                
                                "
                                data-item-url="http://myapp.com/products/bacon">
                                    Add to cart
                            </button>                            
                            <!-- <a class="link-wishlist wishlist">Add to Wishlist</a> -->
                        </div>                    
                        <div class="col-xs-4">
                            <!--
                            <div class="pull-right product-price">
                                <span class="price-sales">
                                    $<span data-bind="text: totalPrice "></span>
                                </span>
                            </div>
                            -->
                            <div class="pull-right product-price">
                                <span class="price-sales">
                                    ${{ product.getTblProdPricing().getProdPricePrice() }}
                                </span>
                            </div>                            
                        </div>     
                    </div>

                    <div style="clear:both"></div>

                    <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> 8-10 weeks</h3>
                    <h3 style="display:none" class="incaps"><i class="fa fa-minus-circle color-out"></i> Out of stock</h3>
                    <h3 class="incaps"><i class="fa fa-lock"></i> Secure online ordering</h3>
                </div>
                <!--/.cart-actions-->

                <div class="clear"></div>

                <div class="product-tab w100 clearfix">

                    <ul class="nav nav-tabs">

                        {% if product.getProdWriteup() %} 
                            {% set activeProdWriteup = 'active' %}
                            {% set activeProdGeneral = '' %}
                        {% else %}
                            {% set activeProdWriteup = '' %}
                            {% set activeProdGeneral = 'active' %}
                        {% endif %}

                        {% if product.getProdWriteup() %}
                            <li class={{ activeProdWriteup }}>
                                <a href="#details" data-toggle="tab">Details</a>
                            </li>
                        {% endif %}
                        
                        
                        {% if product.getProdGeneral() %}
                            <li class={{ activeProdGeneral }}>
                                <a href="#size" data-toggle="tab">General Product Information</a>
                            </li>
                        {% endif %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% if product.getProdWriteup() %}
                            <div class="tab-pane {{activeProdWriteup}}" id="details">                                
                               {{ product.getProdWriteup()|displayHtml }}
                            </div>
                        {% endif %}

                        {% if product.getProdGeneral() %}
                            <div class="tab-pane {{activeProdGeneral}}" id="size">                                                   
                                {{ product.getTblGeneral().getProdDescription()|displayHtml }}
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.tab content -->

                </div>
                <!--/.product-tab-->

                <div style="clear:both"></div>

                <div class="product-share clearfix">
                    <p> SHARE </p>

                    <div class="socialIcon">
                        <a href="#"> <i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-twitter"></i></a>
                        <a href="#"> <i class="fa fa-google-plus"></i></a>
                        <a href="#"> <i class="fa fa-pinterest"></i></a>
                    </div>

                </div>
                <!--/.product-share-->

            </div>
            <!--/ right column end -->
        </div>
        <!--/.row-->


    	{% if product.getProdRelated() %}
            <div class="row recommended">

                <h1> YOU MAY ALSO LIKE </h1>

                <div id="SimilarProductSlider">

					{% for relatedProduct in relatedProducts %}  
                        <div class="item">
                            <div class="product"><a class="product-image"> 
                                <img src="{{ image_url }}{{ relatedProduct.getTblProdPhotos().getProdSolo1() }}" alt="img"> </a>
                                <div class="description">
                                    <h4><a href="product.php?id={{ relatedProduct.getProdId() }}">{{ relatedProduct.getProdName() }}</a></h4>
                                    <div class="price">
                                        Starting at 
                                        <span>${{ relatedProduct.getTblProdPricing().getProdPricePrice() }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.item-->
                    {% endfor %}

                </div>
                <!--/.recommended-->
            </div>

        {% endif %}


    <div style="clear:both"></div>


</div>
<!-- /main-container -->


<div class="gap"></div>
{% endblock %}


{% block customjs %}
<script type="text/javascript" src="../assets/js/scripts/product.js"></script>
<script type="text/javascript" id="snipcart" src="https://cdn.snipcart.com/scripts/snipcart.js" data-api-key="MjI2Y2ZjYjctNzJiOS00MTdiLWI1MWEtOGYwMjU2N2JhNzI3"></script>
{% endblock %}