{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} Version 4{% endblock %}
{% block keywords %}{{ websiteVars.keywords }}{% endblock %}
{% block description %}{{ websiteVars.description }}{% endblock %}

{% block content %}


        {% include 'partials/frontpage/banner-frontPage.php' %}    
            

        <div class="container main-container">
            {% include 'partials/frontpage/new-products.php' %}
        </div>

        <div class="container main-container">
            {% include 'partials/frontpage/featured-products-grid.php' %}
        </div>


{% block customjs %}
<script>
var jsData = {{ jsData|json_encode|raw }};
</script>
<script type="text/javascript" src="../assets/js/scripts/product.js"></script>
{% endblock %}

{% endblock %}