{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} Version 4{% endblock %}
{% block customheader%}
<link href="../assets/plugins/select2/css/select2.min.css" rel="stylesheet"/> 
{% endblock %}
{% block content %}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.php">Home</a></li>
                <li class="active">Cart</li>
            </ul>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner">
                <span><i class="fa fa-truck"></i> Select a shipping method </span>
            </h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
            <h4 class="caps" style="padding: 0px; margin: 8px 0 0 0;">
                <a href="cart.php">Update cart? </a>
            </h4>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-8 col-md-9 col-sm-7">
            <div class="row userInfo">
                <div class="col-xs-12">

                    <div class="cartContent w100">
                        <h3 class="m-b-xs">Select country of destination</h3>
                        <select name="country" class="form-control filter-product m-t-sm js-select-country">
                            <option value="">Select a country of destination</option>
                            {% for country in countries %}
                            <option value="{{ country.cty_id }}">{{ country.cty_name }}</option>
                            {% endfor %}
                        </select>
                        <p class="m-t-sm m-b-none">
                            For other destinations, please contact us and we will send you a tailor made quotation for
                            the delivery to your country including directions on how to make a payment direct to Paypal.
                        </p>
                    </div>

                </div>

                <div class="col-xs-12">

                    <div class="cartContent w100">

                        <table class="std table m-t-sm js-options">
                            <tbody>
                            <tr class="js-fedex-economy">
                                <td>
                                    <label for="radios-0">
                                        <input class="js-ship-radio" name="radios" id="radios-0" value="economy" type="radio">
                                        Economy option (3-5 business days)<br/>
                                        <small>via DHL Courier Economy</small>
                                    </label>
                                </td>
                                <td class="text-right"><span class="js-economy-price"></span></td>
                            </tr>
                            <tr class="js-fedex-priority">
                                <td>
                                    <label for="radios-1">
                                        <input class="js-ship-radio" name="radios" id="radios-1" value="priority" type="radio">
                                        Priority option (2-3 business days) <br/>
                                        <small>via DHL Courier Priority</small>
                                    </label>
                                </td>
                                <td class="text-right"><span class="js-priority-price"></span></td>
                            </tr>
                            <tr class="js-air">
                                <td>
                                    <label for="radios-2">
                                        <input class="js-ship-radio" name="radios" id="radios-2" value="air" type="radio">
                                        Air Parcel (14-21 days trackable)<br/>
                                        <small>via Philpost Air Parcel
                                        </small>
                                    </label>
                                </td>
                                <td class="text-right"><span class="js-air-price"></span></td>
                            </tr>
                            {# <tr>
                                <td>
                                    <label for="radios-2">
                                        <input class="js-ship-radio" name="radios" id="radios-3" value="air" type="radio" disabled>
                                        Air Parcel <br/>
                                        <small>Philpost Air Parcel option is also available (14-21 days trackable)
                                        </small>
                                    </label>
                                </td>
                                <td class="text-right text-muted">N/A</td>
                            </tr> #}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
            <!--/row end-->
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="cartContent w100">
                        <table class="cartTable table-responsive" style="width:100%">
                            <tbody>

                            <tr class="CartProduct cartTableHeader">
                                <td style="width:15%">Product</td>
                                <td style="width:40%">Details</td>
                                <td style="width:10%">Qty</td>
                                <td style="width:20%">Shipping</td>
                                <td style="width:15%">Total</td>
                            </tr>
                            {% for p in cart.items %}
                            <tr class="CartProduct">
                                <td class="CartProductThumb">
                                    <div>
                                            <a href="product.php?id={{ p.product.id }}&stand={{ p.stand.id }}&size={{ p.product.size }}">
                                                    <img src="{{ p.product.photo }}" alt="img">
                                                </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="CartDescription">
                                        <h4 class="m-b-none"><a href="product.php?id={{ p.product.id }}&stand={{ p.stand.id }}&size={{ p.product.size }}">{{ p.product.name }}
                                            (${{ p.product.price }})</a></h4>
                                        <span class="size">{{ p.stand.name }} (${{ p.stand.price }})</span>

                                        <div class="price item-price"><span>${{ p.price }}</span></div>
                                    </div>
                                </td>
                                <td>{{ p.quantity }}</td>
                                <td class="item-shipping-{{ p.id }} js-prod-shipping">-</td>
                                <td class="price item-total-price-{{ p.id }} js-prod-total" data-price="{{ p.totalPrice }}">${{ p.totalPrice }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--cartContent-->

            </div>


            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">

                    <div class="cartFooter w100">
                        <!--
                        <div class="box-footer">
                            <div class="pull-left"><a class="btn btn-default back"> <i
                                    class="fa fa-arrow-left"></i> &nbsp; Continue shopping </a></div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-default">
                                    Update cart
                                </button>
                            </div>
                        </div>
                        -->
                    </div>

                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-3 col-sm-5 rightSidebar">
            <div class="contentBox">
                <div class="w100 costDetails">
                    <div class="table-block" id="order-detail-content">

                        <div class="w100 cartMiniTable">
                            <table id="cart-summary" class="std table">
                                <tbody>
                                <tr>
                                    <td colspan="2">Order Summary</td>
                                </tr>
                                <tr>
                                    <td>Estimated total</td>
                                    <td class="site-color total-price js-cart-price" id="total-price" data-price="{{ cart.price }}">
                                        ${{ cart.price }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Shipping</td>
                                    <td class="site-color js-total-shipping">-</td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="std table no-border m-b-none">
                                <tbody>
                                <tr>
                                    <td><strong>Your total price</strong></td>
                                    <td class="site-color text-right">
                                        <strong class="js-summary">${{ cart.price }}</strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <a class="btn btn-primary btn-lg btn-block m-t-lg js-go-to-payment" title="checkout" href="payment.php">
                            Pay now  
                        </a>

                    </div>
                </div>
            </div>
            <!-- End popular -->
        </div>
        <!--/rightSidebar-->
    </div>
    <!--/row-->
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /.main-container -->
{% endblock %}

{% block customjs%}
<script src="../assets/plugins/select2/js/select2.min.js"></script>
<script src="../assets/js/scripts/shipping.js"></script>
{% endblock %}
