{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} Version 4{% endblock %}
{% block keywords %}{{ websiteVars.keywords }}{% endblock %}
{% block description %}{{ websiteVars.description }}{% endblock %}

{% block content %}            



<div class="container main-container headerOffset">
<h2>Frequently Asked Questions</h2>

<p class="lead">
We hope that you find our website and the information displayed easy to access and use. If the frequently asked questions below aren't of any help, or you have further questions or feedback please <a href="contact-us.php">contact us</a>.
</p>

<hr />

<h4>How long does it take to make and have it delivered to me?</h4>
<p>Unless the item is in stock please allow for about 8-10 weeks for the production. Shipment is by FedEx International Economy Courier service with a normal delivery time worldwide within 5 business days after despatch.</p>

<h4>What is our Return Policy?</h4>
<p>All of our models, plaques and shields are backed by a 1 month unconditional money back guarantee. If for any reason you choose to return an item we will be more than happy to return your money in full. {{websiteName}} however are not responsible for the cost of return freight to the Philippines.</p>

<h4>Do we use "decals" on our plane models?</h4>
<p>We only use decals in very rare cases where the required logo or emblem is of very very fine detail. We prefer to use hand painted detail wherever possible to maintain the quality and feel of the product and also due to the fact that with time decals tend to discolor.</p>


<h4>What Sales Tax do we charge?</h4>
<p>None! Because our models are exported directly from the Philippines there is no need to add any Sales Taxes.</p>


<h4>Is the wood we use on the prohibited export list or of a banned variety? </h4>
<p>No. We only use Philippine Mahogany which is is freely available and is not a rare or endangered variety of wood.</p>

<h4>How do we pack our models to withstand courier shipment with FedEx International Economy Courier? </h4>
<p>We only use high strength cardboard boxes together with medium density foam (cut to the shape of the model). This provides ample protection against the most severe of conditions likely to be encountered by FedEx International Economy Courier shipment.</p>

<h4>Do we give a discount for volume orders? </h4>
<p>Yes. Please email us in advance if you are requesting a discount.</p>


<h4>What are Nose Art Panels? </h4>
<p>We also specialize in authentic World War II Aviation Nose Art panel reproductions produced on original vintage aircraft aluminum. Over 60 designs of the most decorated Aces and Unit aircraft markings WWII ever produced. Based on actual aircraft panels such as the P-51, P-47, P-40, P-39, P-38, F4U, F6F, B-29, B-25, B-24, B-17, Spitfire, Me-109, Fw-190 and C-47.
Limited Edition Signature Series Aviation Art include the Flying Tigers, VMF-214 Black Sheep Squadron, Memphis Belle, Enola Gay 357FG and "Marge" Bong. New collectable panels are added monthly and Custom orders are welcome.
These handsome panels created by {{websiteName}} own artists are as close you can get to owning a piece of aircraft antiquity.</p>

<h4>Can we produce wooden models apart from planes? </h4>
<p>Yes. If you have a special requirement for ships, cars, buses or trains we would be pleased to quote you. Please send us an email stating your exact requirements and if possible attach images of your desired model. We can even offer airplane replicas in fiberglass and up to 6 feet in length. </p>

</div>



{% endblock %}