{% extends "template.html" %}

{% block title %}Modelbuffs Version 4{% endblock %}

{% block content %}

        
        {% include 'partials/banner.php' %}    
            

        <div class="container main-container">
            {% include 'partials/new-products.php' %}
        </div>
        <!-- /main container -->

        {% include 'partials/banner-medium.php' %}

        <div class="container main-container">
            {% include 'partials/featured-products-grid.php' %}
            {% include 'partials/featured-collections.php' %}
        </div>
        <!--main-container-->

        {% include 'partials/parallax.php' %}
        {% include 'partials/products-modal.php' %}

{% block customjs %}
<script>
var jsData = {{ jsData|json_encode|raw }};
</script>
<script type="text/javascript" src="../assets/js/scripts/product.js"></script>
{% endblock %}

{% endblock %}