{% extends "template.html" %}

{% block title %}Modelbuffs Version 4{% endblock %}

{% block content %}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.php">Home</a></li>
                <li class="active">Cart</li>
            </ul>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i
                    class="glyphicon glyphicon-shopping-cart"></i> Shopping cart </span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
            <h4 class="caps"><a class="back"><i class="fa fa-chevron-left"></i> Back to shopping </a></h4>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <div class="cartContent w100">
                        <table class="cartTable table-responsive" style="width:100%">
                            <tbody>

                            <tr class="CartProduct cartTableHeader">
                                <td style="width:15%">Product</td>
                                <td style="width:40%">Details</td>
                                <td style="width:10%" class="delete">&nbsp;</td>
                                <td style="width:20%">Count</td>
                                <td style="width:15%">Total</td>
                            </tr>
                            {% for p in cart.items %}
                            <tr class="CartProduct">
                                <td class="CartProductThumb">
                                    <div><a href="product-details-style4.html"><img
                                            src="{{ generated_image_url~p.product.photo }}" alt="img"></a></div>
                                </td>
                                <td>
                                    <div class="CartDescription">
                                        <h4 class="m-b-none"><a href="product-details-style4.html">{{ p.product.name }}
                                            (${{ p.product.price }})</a></h4>
                                        <span class="size">{{ p.stand.name }} (${{ p.stand.price }})</span>

                                        <div class="price item-price"><span>${{ p.price }}</span></div>
                                    </div>
                                </td>
                                <td class="delete"><a href="?action=delete&id={{ p.id }}" title="Delete"> <i
                                        class="glyphicon glyphicon-trash fa-2x"></i></a></td>
                                <td><input class="quanitySniper" data-current="{{ p.totalPrice }}"
                                           data-price="{{ p.price }}" data-id="{{ p.id }}" type="text"
                                           value="{{ p.quantity }}" name="quanitySniper"></td>
                                <td class="price item-price-{{ p.id }}">${{ p.totalPrice }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--cartContent-->

                    <div class="cartFooter w100">
                        <div class="box-footer">
                            <div class="pull-left"><a class="btn btn-default back"> <i
                                    class="fa fa-arrow-left"></i> &nbsp; Continue shopping </a></div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-default"><i class="fa fa-undo"></i> &nbsp; Update
                                    cart
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--/ cartFooter -->

                </div>
            </div>
            <!--/row end-->

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
            <div class="contentBox">
                <div class="w100 costDetails">
                    <div class="table-block" id="order-detail-content">

                        <div class="w100 cartMiniTable m-b-lg">
                            <table id="cart-summary" class="std table">
                                <tbody>
                                <tr>
                                    <td> Estimated total</td>
                                    <td class="site-color total-price" id="total-price" data-price="{{ cart.price }}">${{ cart.price }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <a class="btn btn-primary btn-lg btn-block m-t-lg" title="checkout" href="shipping.php">
                            Compute shipping charges &nbsp;
                            <i class="fa fa-arrow-right"></i>
                        </a>

                    </div>
                </div>
            </div>
            <!-- End popular -->

        </div>
        <!--/rightSidebar-->

    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /.main-container -->

{% endblock %}

{% block customjs %}
<script>
    !(function () {
        var totalPrice = $('#total-price'),
                totals = $('.total-price');
                changeTotalPrice = function (deltaPrice) {
                    var price = totalPrice.data('price'),
                            newPrice = price*1 + deltaPrice;
                    totalPrice.data('price', newPrice);
                    totals.html('$' + newPrice);
                },
                updateCart = function (id, qty) {
                    $.post('?action=change', {'id': id, 'q': qty});
                }
                ;
        $('.quanitySniper').change(function () {
                    this.value = Math.round(this.value);
                    if (this.value < 1) {
                        this.value = 1;
                    }
                    var value = this.value,
                            id = this.getAttribute('data-id'),
                            price = this.getAttribute('data-price'),
                            currentPrice = this.getAttribute('data-current'),
                            newPrice = price * value,
                            delta = newPrice - currentPrice;
                            this.setAttribute('data-current', newPrice);
                    changeTotalPrice(delta);
                    $('.item-price-' + id).html('$' + newPrice);
                    updateCart(id, value);
                }
        );
    })();
</script>
{% endblock %}