/* Theme */
/* line 2, ../../../assets/scss/skins/skin-9.scss */
::selection {
  color: #fff;
  background: #E78E00; }

/* line 7, ../../../assets/scss/skins/skin-9.scss */
::-moz-selection {
  color: #fff;
  background: #E78E00; }

/* line 12, ../../../assets/scss/skins/skin-9.scss */
::-webkit-selection {
  color: #fff;
  background: #E78E00; }

/* line 17, ../../../assets/scss/skins/skin-9.scss */
a:hover,
a:focus, a.link {
  color: #F7B529; }

/* line 22, ../../../assets/scss/skins/skin-9.scss */
.search-full, .search-input {
  background: #E78E00; }

/* line 26, ../../../assets/scss/skins/skin-9.scss */
.search-close {
  color: #E78E00; }

/* line 30, ../../../assets/scss/skins/skin-9.scss */
.btn-primary, .btn-primary, .product:hover .add-fav:hover, .product:hover .add-fav.active {
  background-color: #F7B529;
  color: #FFFFFF; }

/* line 35, ../../../assets/scss/skins/skin-9.scss */
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background: #2c88c5; }

/* line 39, ../../../assets/scss/skins/skin-9.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #f6ca6d;
  border-color: #f6ca6d;
  color: #FFFFFF; }

/* line 45, ../../../assets/scss/skins/skin-9.scss */
.navbar-top {
  background: #d79d23; }

/* line 49, ../../../assets/scss/skins/skin-9.scss */
.navbar-tshop {
  background: #F7B529; }

/* line 53, ../../../assets/scss/skins/skin-9.scss */
.site-color {
  color: #F7B529 !important; }

/* line 57, ../../../assets/scss/skins/skin-9.scss */
.navbar-nav > li > a {
  color: #fff; }

/* line 61, ../../../assets/scss/skins/skin-9.scss */
.nav > li.active, .nav > li > a:hover, .nav > li > a:focus, .nav > li:hover > a {
  background: #E78E00; }

/* line 65, ../../../assets/scss/skins/skin-9.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .cartMenu:hover > a.dropdown-toggle {
  background: #E78E00; }

/* line 69, ../../../assets/scss/skins/skin-9.scss */
.dropdown-menu {
  border-top: solid #E78E00; }

/* line 73, ../../../assets/scss/skins/skin-9.scss */
.search-box:hover .form-control {
  background: #F7B529; }

/* line 77, ../../../assets/scss/skins/skin-9.scss */
.search-box:hover .btn-nobg {
  color: #F7B529; }

/* line 81, ../../../assets/scss/skins/skin-9.scss */
.searchInputBox .search-btn {
  color: #fff; }

/* line 85, ../../../assets/scss/skins/skin-9.scss */
.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(231, 142, 0, 0.7) !important; }

/* line 89, ../../../assets/scss/skins/skin-9.scss */
.action-control a:hover, .action-control a.active {
  color: #fff;
  background: #E78E00; }

/* line 94, ../../../assets/scss/skins/skin-9.scss */
.product:hover, .featuredImgLook2 .inner:hover {
  border: 1px solid #F7B529; }

/* line 98, ../../../assets/scss/skins/skin-9.scss */
.subCategoryList .thumbnail:hover {
  border: 1px solid #F7B529; }

/* line 102, ../../../assets/scss/skins/skin-9.scss */
.pager2 a {
  border: 1px solid #F7B529; }

/* line 106, ../../../assets/scss/skins/skin-9.scss */
.pager2 a.selected {
  background: #F7B529; }

/* line 110, ../../../assets/scss/skins/skin-9.scss */
.btn-site, .newsLatterBox .btn {
  background: #F7B529; }

/* line 114, ../../../assets/scss/skins/skin-9.scss */
.btn-discover:hover, .btn-site:hover, .newsLatterBox .btn:hover {
  background: #E78E00; }

/* line 118, ../../../assets/scss/skins/skin-9.scss */
.full {
  width: 100%; }

/* line 122, ../../../assets/scss/skins/skin-9.scss */
.footer a:hover {
  color: #F7B529; }

/* line 126, ../../../assets/scss/skins/skin-9.scss */
.footer {
  /*border-top: solid 3px #F7B529;*/ }

/* line 130, ../../../assets/scss/skins/skin-9.scss */
.modal-header {
  background: #F7B529; }

/* line 134, ../../../assets/scss/skins/skin-9.scss */
.form-control:focus {
  border-color: #F7B529; }

/* line 138, ../../../assets/scss/skins/skin-9.scss */
.new-product {
  background: rgba(231, 142, 0, 0.95) !important; }

/* line 142, ../../../assets/scss/skins/skin-9.scss */
#pager a.cycle-pager-active {
  background: rgba(231, 142, 0, 0.5); }

/* tree menu */
/* line 148, ../../../assets/scss/skins/skin-9.scss */
.nav.tree > li.active, .nav.tree > li > a:hover, .nav.tree > li > a:focus, .nav.tree > li:hover > a {
  background: none;
  color: #E78E00; }

/* line 153, ../../../assets/scss/skins/skin-9.scss */
.nav.tree .open-tree > a, .nav.tree .open-tree > a:hover, .nav.tree .open-tree > a:focus {
  background: none;
  font-weight: bold;
  color: #E78E00; }

/* line 159, ../../../assets/scss/skins/skin-9.scss */
.panel-default > .panel-heading {
  border-top: 4px solid #F7B529; }

/* line 163, ../../../assets/scss/skins/skin-9.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
  background: #BFC9CA; }

/* line 167, ../../../assets/scss/skins/skin-9.scss */
.nav-tabs {
  border-bottom: 3px solid #BFC9CA; }

/* line 171, ../../../assets/scss/skins/skin-9.scss */
.socialIcon a:hover {
  background: #F7B529; }

/* line 175, ../../../assets/scss/skins/skin-9.scss */
.cart-actions .button, .cart-actions .wishlist {
  background: none repeat scroll 0 0 #F7B529;
  border: 2px solid #E78E00; }

/* line 180, ../../../assets/scss/skins/skin-9.scss */
.cart-actions .button:hover {
  background: #fff;
  color: #E78E00;
  border: solid 2px #F7B529; }

/* line 186, ../../../assets/scss/skins/skin-9.scss */
.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current, sp-current:visited {
  border: 2px solid #F7B529 !important; }

/* line 190, ../../../assets/scss/skins/skin-9.scss */
.promo-1 {
  background: none repeat scroll 0 0 #E78E00; }

@media (max-width: 767px) {
  /* line 195, ../../../assets/scss/skins/skin-9.scss */
  .miniCartFooter {
    background: #E78E00 !important; } }
/* line 203, ../../../assets/scss/skins/skin-9.scss */
#pager2 span.cycle-pager-active {
  background: #E78E00 !important; }

/* line 207, ../../../assets/scss/skins/skin-9.scss */
#pager2 span {
  border: 2px solid #E78E00; }

/* line 211, ../../../assets/scss/skins/skin-9.scss */
.orderStep li.active a {
  background: #F7B529; }

/* line 215, ../../../assets/scss/skins/skin-9.scss */
.orderStep li.active a:after {
  border-top-color: #F7B529 !important; }

/* line 219, ../../../assets/scss/skins/skin-9.scss */
.orderStep li a {
  background: #2c88c5; }

/* line 223, ../../../assets/scss/skins/skin-9.scss */
darkcoilor {
  background: #2c88c5; }

/* line 227, ../../../assets/scss/skins/skin-9.scss */
citecolor {
  color: #F7B529 !important; }

/*# sourceMappingURL=style.css.map */
