/*doc
---
title: Colours
name: 1_colours
category: Base
---

<p class="lead">Concrete uses a specific color palette to communicate meaning,
convey visual differentiation, and provide a consistent look and feel.
From neutrals to brights, each hue is chosen to fit into the overall visual
language and promote a contemporary and vibrant user experience.</p>

##Gray palette

<div class="row">
    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #ECECEC;">#ECECEC<br />Lightest grey</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #D8D8D8;">#D8D8D8<br />Lighter grey</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #BEBEBE;">#BEBEBE<br />Light grey</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #676a6c; color: white;">#676a6c<br />Grey</div>
    </div>
</div>

##Primary palette

<div class="row">
    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #131419; color: white;">#131419<br />Darker navy blue</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #1E2028; color: white;">#1E2028<br />Dark navy blue</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #292C36; color: white;">#292C36<br />Navy blue</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #565c71; color: white;">#565c71<br />Light navy blue</div>
    </div>
</div>

##Accents palette

<div class="row">
    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #5E6C8C; color: white;">#5E6C8C<br />Accent</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #E5E7EF; color: gray;">#E5E7EF<br />Light accent</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #47506F; color: white;">#47506F<br />Dark accent</div>
    </div>

</div>

##Secondary palette

<div class="row">
    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #536296; color: white;">#536296<br />Navy</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #c2c2c2; color: white;">#c2c2c2<br />Dark gray</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #1c84c6; color: white;">#1c84c6<br />Blue</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #f8ac59; color: white;">#f8ac59<br />Yellow</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #ed5565; color: white;">#ed5565<br />Red</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #FF5E0C; color: white;">#FF5E0C<br />Orange</div>
    </div>
</div>

##Legacy palette

<div class="row">
    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #39B4BF; color: white;">#39B4BF<br />Teal</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #2A7A44; color: white;">#2A7A44<br />Green</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #355595; color: white;">#355595<br />Deep blue</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #D65C92; color: white;">#D65C92<br />Pink</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #946fb0; color: white;">#946fb0<br />Purple</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #CE932C; color: white;">#CE932C<br />Mustard</div>
    </div>
    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #7A6754; color: white;">#7A6754<br />Brown</div>
    </div>
</div>

##CSDS palette

<div class="row">
    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #c9602a; color: white;">#c9602a<br />CSDS Orange</div>
    </div>

    <div class="col-lg-3">
        <div class="swatch swatch-lg" style="background: #3c3c3c; color: white;">#3c3c3c<br />CSDS Grey</div>
    </div>
</div>





*/
