/* Planearts */

$baseColor: #ca2f17;

::selection {
    color: #fff;
    background: #ca2f17;
}

::-moz-selection {
    color: #fff;
    background: #ca2f17;
}

::-webkit-selection {
    color: #fff;
    background: #ca2f17;
}

a:hover,
a:focus, a.link {
    color: #ca2f17;
}

.search-full, .search-input {
    background: #ca2f17;
}

.search-close {
    color: #ca2f17;
}

.btn-primary, .btn-primary, .product:hover .add-fav:hover, .product:hover .add-fav.active {
    background-color: #ca2f17;
    color: #FFFFFF;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background: #2c88c5;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary, 
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #f6ca6d;
    border-color: #f6ca6d;
    color: #FFFFFF;
}

.navbar-top {
    background: $baseColor;
}

.navbar-tshop {
    background: #FFF;
}

.site-color {
    color: #ca2f17 !important;
}

.navbar-nav {
    & > li {
        color: #ec3113;
        background-color: #dfe5ea;


        & > a {
            color: #888;

            &:hover {
                color: #FFF;
            }
        }

        &.active > a, 
        &:hover > a, 
        & > a:hover, 
        & > a:focus {
            background-color: #ca2f17;
            color: #FFF;
        }        

    }
}






.cartMenu > a.dropdown-toggle {
    background-color: #ca2f17;
}




.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus, 
.cartMenu:hover > a.dropdown-toggle {
    background: #ca2f17;
}



.megamenu-content ul li a {
    font-size: 14px;
}

.dropdown-menu {
    border-top: solid #ca2f17;
}

.search-box:hover .form-control {
    background: #ca2f17;
}

.search-box:hover .btn-nobg {
    color: #ca2f17;
}

.searchInputBox .search-btn {
    color: #fff;
}

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: rgba(231, 142, 0, 0.7) !important;
}

.action-control a:hover, .action-control a.active {
    color: #fff;
    background: #ca2f17;
}

.product:hover, .featuredImgLook2 .inner:hover {
    border: 1px solid #ca2f17;
}

.subCategoryList .thumbnail:hover {
    border: 1px solid #ca2f17;
}

.pager2 a {
    border: 1px solid #ca2f17;
}

.pager2 a.selected {
    background: #ca2f17;
}

.btn-site, .newsLatterBox .btn {
    background: #ca2f17;
}

.btn-discover:hover, .btn-site:hover, .newsLatterBox .btn:hover {
    background: #ca2f17;
}

.full {
    width: 100%;
}

.footer a:hover {
    color: #ca2f17;
}

.footer {
    /*border-top: solid 3px #ca2f17;*/
}

.modal-header {
    background: #ca2f17;
}

.form-control:focus {
    border-color: #ca2f17;
}

.new-product {
    background: rgba(231, 142, 0, 0.95) !important;
}

#pager a.cycle-pager-active {
    background: rgba(231, 142, 0, 0.5);
}

/* tree menu */

.nav.tree > li.active, .nav.tree > li > a:hover, .nav.tree > li > a:focus, .nav.tree > li:hover > a {
    background: none;
    color: #ca2f17;
}

.nav.tree .open-tree > a, .nav.tree .open-tree > a:hover, .nav.tree .open-tree > a:focus {
    background: none;
    font-weight: bold;
    color: #ca2f17;
}

.panel-default > .panel-heading {
    border-top: 4px solid #ca2f17;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
    background: #BFC9CA;
}

.nav-tabs {
    border-bottom: 3px solid #BFC9CA;
}

.socialIcon a:hover {
    background: #ca2f17;
}

.cart-actions .button, .cart-actions .wishlist {
    background: none repeat scroll 0 0 #ca2f17;
    border: 2px solid #ca2f17;
}

.cart-actions .button:hover {
    background: #fff;
    color: #ca2f17;
    border: solid 2px #ca2f17;
}

.sp-thumbs a:hover, .sp-thumbs a:active, .sp-current, sp-current:visited {
    border: 2px solid #ca2f17 !important;
}

.promo-1 {
    background: none repeat scroll 0 0 #ca2f17;
}

@media (max-width: 767px) {
    .miniCartFooter {
        background: #ca2f17 !important;
    }
}

#pager2 span.cycle-pager-active {
}

#pager2 span.cycle-pager-active {
    background: #ca2f17 !important;
}

#pager2 span {
    border: 2px solid #ca2f17
}

.orderStep li.active a {
    background: #ca2f17;
}

.orderStep li.active a:after {
    border-top-color: #ca2f17 !important;
}

.orderStep li a {
    background: #2c88c5;
}

darkcoilor {
    background: #2c88c5;
}

citecolor {
    color: #ca2f17 !important;
}
