{% extends "template.html" %}
{% set page = 'categories' %}

{% block title %}MPM Central{% endblock %}

{% block customheader %}
<link href="../assets/stripe/css/bootstrap-min.css" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="wrapper wrapper-content animated fadeInRight small-content">
    <div class="row">
        <div class="centered-content">

            <h1>Sorry, there has been an error.</h1>

        </div>
    </div>
</div> 



{% endblock %}
