{% extends "template.html" %}
{% set page = 'dashboard' %}

{% block title %}MPM Central{% endblock %}

{% block customheader%}
<link href="assets/css/plugins/chartist/chartist.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row wrapper white-bg page-heading animated fadeInDown p-b-m">

    <div class="col-md-12">
        <h2 class="m-b-none"><a href="../index.html">Dashboard</a></h2>
    </div>  
    
    <div class="col-md-4">

        <div class="widget style2 navy-bg text-center m-b-none">
            <h1>{{ countMb }}</h1>
            <h3>Modelbuffs</h3>                                 
        </div>                            

    </div>

    <div class="col-md-4">

        <div class="widget style2 navy-bg text-center m-b-none">
            <h1>{{ countPa }}</h1>
            <h3>Planearts</h3>                                             
        </div>

    </div>

    <div class="col-md-4">

        <div class="widget style2 navy-bg text-center m-b-none">
            <h1>{{ countMt }}</h1>
            <h3>M3</h3>                                             
        </div>

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    
    <div class="row">

        <div class="col-lg-4">

            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-sm-12">
                            <h3 class="text-orange m-t-m">{{ countAll + 5 }} models</h3>
                            <ul class="list-group clear-list m-t m-b-none">
                                {% for key,value in modelListing %}                
                                    <li class="list-group-item">
                                        <a href="product_edit.php?id={{ value['id'] }}">
                                        {{ value['name'] }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                            {% if countAll > 0 %}
                                <p class="text-center m-b-sm m-t-sm">
                                    <small><strong>and {{ countAll }} more items</strong></small>
                                </p>
                            {% else %}
                                <p class="text-center m-b-sm m-t-sm">
                                    <small><strong>End of list</strong></small>
                                </p>
                            {% endif %}
                            <a class="btn btn-primary" href="products_list.php">View all</a>
                            <a class="btn btn-primary" href="product-add.php">Add product</a>

                        </div>

                    </div>
                </div>
            </div>

        </div>


        <div class="col-lg-4">

            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-sm-12">
                            <h3 class="text-orange m-t-m">{{ productCategoriesRC + 5 }}  model categories</h3>
                            <ul class="list-group clear-list m-t m-b-none">
                                {% for key,value in productCategories %}                
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <span class="label label-orange">
                                                {{ value['qty'] }}
                                            </span>
                                        </span>
                                        {{ value['productCategory'] }}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if productCategoriesRC > 0 %}
                                <p class="text-center m-b-sm m-t-sm">
                                    <small><strong>and {{ productCategoriesRC }} more items</strong></small>
                                </p>
                            {% else %}
                                <p class="text-center m-b-sm m-t-sm">
                                    <small><strong>End of list</strong></small>
                                </p>
                            {% endif %}
                            <a class="btn btn-primary" href="c_product_categories-list.php">View all</a>                                                      

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">

            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-sm-12">
                            <h3 class="text-orange m-t-m">{{ seoDescriptionsRC + 5 }}  SEO descriptions</h3>
                            <ul class="list-group clear-list m-t m-b-none">
                                {% for key,value in seoDescriptions %}                
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <span class="label label-orange">
                                                {{ value['qty'] }}
                                            </span>
                                        </span>
                                        {{ value['seoDescription'] }}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if seoDescriptionsRC > 0 %}
                                <p class="text-center m-b-sm m-t-sm">
                                    <small><strong>and {{ seoDescriptionsRC }} more items</strong></small>
                                </p>
                            {% else %}
                                <p class="text-center m-b-sm m-t-sm">
                                    <small><strong>End of list</strong></small>
                                </p>
                            {% endif %}
                            <a class="btn btn-primary" href="c_seo_groups-list.php">View all</a>
                            <a class="btn btn-primary" href="#">Add SEO description</a>                                                        

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-sm-12">
                            <h3 class="text-orange m-t-m">{{ erasRC + 5 }}  model eras</h3>
                            <ul class="list-group clear-list m-t m-b-none">
                                {% for key,value in eras %}                
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <span class="label label-orange">
                                                {{ value['qty'] }}
                                            </span>
                                        </span>
                                        {{ value['era'] }}
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if erasRC > 0 %}
                                <p class="text-center m-b-sm m-t-sm">
                                    <small><strong>and {{ erasRC }} more items</strong></small>
                                </p>
                            {% else %}
                                <p class="text-center m-b-sm m-t-sm">
                                    <small><strong>End of list</strong></small>
                                </p>
                            {% endif %}
                            <a class="btn btn-primary" href="c_eras-list.php">View all</a>
                            <a class="btn btn-primary" href="#">Add era</a>                                                        

                        </div>




                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="text-pink m-t-m">{{ pricingCategoriesRC + 5 }} pricing categories</h3>
                            <ul class="list-group clear-list m-t m-b-none">
                                {% for key,value in pricingCategories %}                
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <span class="label label-pink">
                                                {{ value['qty'] }}
                                            </span>
                                        </span>
                                        {{ value['pricingCategory'] }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <p class="text-center m-b-sm m-t-sm">
                                <small><strong>and {{ pricingCategoriesRC }} more items</strong></small>
                            </p>                                                    
                            <a class="btn btn-primary" href="c_pricing_groups-list.php">View all</a>
                            <a class="btn btn-primary" href="#">Add pricing category</a>                            

                        </div>                    
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="text-info m-t-m">{{ shippingCategoriesRC + 5 }} shipping categories</h3>
                            <ul class="list-group clear-list m-t m-b-none">
                                {% for key,value in shippingCategories %}                
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            <span class="label label-info">
                                                {{ value['qty'] }}
                                            </span>
                                        </span>
                                        {{ value['shippingCategory'] }}
                                    </li>
                                {% endfor %}                            
                            </ul>
                            <p class="text-center m-b-sm m-t-sm">
                                <small><strong>and {{ shippingCategoriesRC }} more items</strong></small>
                            </p>
                            <a class="btn btn-primary" href="c_shipping_groups-list.php">View all</a>
                            <a class="btn btn-primary" href="#">Add shipping category</a>                                                        

                        </div>                    
                    </div>
                </div>
            </div>
        </div>

    </div><!-- END row -->
</div> <!-- END content wrapper -->


{% endblock %}

