{% extends "template.html" %}
{% set page = 'products' %}

{% block title %}MPM Central{% endblock %}

{% block customheader%}
<link href="assets/css/plugins/iCheck/custom.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row wrapper white-bg page-heading">
    
    <div class="col-lg-8 col-md-6 col-xs-6">
        <h2><a href="../index.html">Products</a></h2>
        <ol class="breadcrumb">           
            <li class="active">
                Add product
            </li>
        </ol>
    </div><!-- END col -->

    <div class="col-lg-4 col-md-6 col-xs-6">
        <span class="pull-right m-t-lg">            
        </span>
    </div>
</div><!-- END row -->

            <div class="wrapper wrapper-content  animated fadeInRight">              
                <div class="row">
                    <div class="col-md-12 list-filters clear">
                        <div class="btn-group">
                            <a class="btn btn-block btn-primary" href="asset-crud-blank">Save</a>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#commentsmodal">
                            <i class="fa fa-comments"></i> Comments
                            </button>
                        </div>
                        <div class="btn-group">
                            <span class="text-muted nobr"><strong>Created</strong> 16 Apr, 2014</span>
                        </div>
                        <div class="btn-group">
                            <span class="text-muted nobr"><strong>Updated</strong> 9 Sept, 2015</span>
                        </div>
                    </div><!-- END col -->                
                </div><!-- END row -->

                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-content m-b-md">
                                <h2 class="m-b-md">
                                    {{ form_widget(form.prod_name) }}
                                </h2>

                                {{ form_row(form.prod_code) }}

                                <div class="form-group">
                                    <label class="m-b-xs">Website visibility</label>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="i-checks">
                                                {{ form_row(form.mb) }}
                                            </div>   
                                        </div>
                                       <div class="col-md-4">
                                            <div class="i-checks">
                                                {{ form_row(form.pa) }}
                                            </div>   
                                        </div>      
                                       <div class="col-md-4">
                                            <div class="i-checks">
                                                {{ form_row(form.m3) }}
                                            </div>   
                                        </div>                                                                          
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Category</label>
                                    <div class="input-group">
                                        <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                                        {{ form_widget(form.prod_category) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Model historic era</label>
                                    <div class="input-group">
                                        <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                                        {{ form_widget(form.prod_era) }}
                                    </div>
                                </div>                                  

                                {{ form_row(form.prod_alt) }}
                                {{ form_row(form.prod_aircraftreg) }}
                                {{ form_row(form.prod_company) }}
                                {{ form_row(form.prod_links) }}
                                {{ form_row(form.prod_linkdescription) }}
                            </div>
                        </div>


                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>Details</h3>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>                           
                                </div>
                            </div>
                            <div class="ibox-content m-b-md">
                                <div class="form-group">
                                    <label>Generic description</label>
                                    <div class="input-group">
                                        <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                                        {{ form_widget(form.prod_general) }}
                                    </div>
                                </div>

                                {{ form_row(form.prod_writeup) }}
                            </div>
                        </div> 
     
                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>Specifications</h3>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>                           
                                </div>
                            </div>
                            <div class="ibox-content m-b-md">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6 m-b-sm">
                                            <span class="inline-label control-label">Length/Width</span>
                                            <div class="input-group">
                                                {{ form_widget(form.prod_length, {
                                                'attr': {'class': 'form-control text-right'}
                                                }) }}

                                                <div class="input-group-addon right">
                                                    in
                                                </div><!-- /btn-group -->
                                            </div>
                                        </div>
                                    
                                        <div class="col-lg-6 m-b-sm">
                                            <span class="inline-label control-label">Wing span</span>
                                            <div class="input-group">
                                                {{ form_widget(form.prod_wingspan, {
                                                'attr': {'class': 'form-control text-right'}
                                                }) }}
                                                <div class="input-group-addon right">
                                                    cm
                                                </div><!-- /btn-group -->
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-lg-6 m-b-sm">
                                            <span class="inline-label control-label">Height</span>
                                            <div class="input-group">
                                                {{ form_widget(form.prod_height, {
                                                'attr': {'class': 'form-control text-right p-r-sm'}
                                                }) }}
                                                <div class="input-group-addon right">
                                                    cm
                                                </div><!-- /btn-group -->
                                            </div>
                                        </div>
                                
                                        <div class="col-lg-6 m-b-sm">
                                            <span class="inline-label control-label">Scale</span>
                                            <div class="input-group">
                                                {{ form_widget(form.prod_scale, {
                                                'attr': {'class': 'form-control text-right p-r-sm'}
                                                }) }}
                                                <div class="input-group-addon right">
                                                    &nbsp;
                                                </div><!-- /btn-group -->
                                            </div>
                                        </div> 
                                    </div>                          
                                </div>                                                                                       
                            </div>
                        </div>

                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>SEO</h3>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>                           
                                </div>
                            </div>
                            <div class="ibox-content m-b-md">
                                {{ form_row(form.prod_title) }}
                                {{ form_row(form.prod_description) }}
                                {{ form_row(form.prod_keywords) }}
                            </div>
                        </div>                      
                    </div> <!-- END col-md-6-->       

                    <div class="col-md-6">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>Pricing</h3>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>                           
                                </div>
                            </div>
                            <div class="ibox-content m-b-md">

                                <div class="form-group">
                                    <label>Pricing category</label>
                                    <div class="input-group">
                                        <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                                        {{ form_widget(form.prod_price_id) }}
                                    </div>
                                </div>

                                {{ form_row(form.tbl_prod_prices.prod_normalprice) }}
                                {{ form_row(form.tbl_prod_prices.prod_salesprice) }}
                            </div>
                        </div> 

                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>Shipping</h3>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>                           
                                </div>
                            </div>
                            <div class="ibox-content m-b-md">                                                        

                                <div class="form-group">
                                    <label>Shipping category</label>
                                    <div class="input-group">
                                        <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                                        {{ form_widget(form.prod_category_shipping) }}

                                    </div>
                                </div>   

                            </div>
                        </div>                         

                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>Smaller model version</h3>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>                           
                                </div>
                            </div>
                            <div class="ibox-content m-b-md">                                                        

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6 m-b-sm">
                                            <span class="inline-label control-label">Length/Width</span>
                                            <div class="input-group">
                                                {{ form_widget(form.tbl_prod_smaller.sm_prod_length, {
                                                'attr': {'class': 'form-control text-right'}
                                                }) }}
                                                <div class="input-group-addon right">
                                                    in
                                                </div><!-- /btn-group -->
                                                <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->
                                            </div>
                                        </div>

                                        <div class="col-lg-6 m-b-sm">
                                            <span class="inline-label control-label">Wing span</span>
                                            <div class="input-group">
                                                {{ form_widget(form.tbl_prod_smaller.sm_prod_wingspan, {
                                                'attr': {'class': 'form-control text-right'}
                                                }) }}
                                                <div class="input-group-addon right">
                                                    cm
                                                </div><!-- /btn-group -->
                                            </div>
                                            <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 m-b-sm">
                                            <span class="inline-label control-label">Height</span>
                                            <div class="input-group">
                                                {{ form_widget(form.tbl_prod_smaller.sm_prod_height, {
                                                'attr': {'class': 'form-control text-right p-r-sm'}
                                                }) }}
                                                <div class="input-group-addon right">
                                                    cm
                                                </div><!-- /btn-group -->
                                            </div>
                                            <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->
                                        </div>

                                        <div class="col-lg-6 m-b-sm">
                                            <span class="inline-label control-label">Scale</span>
                                            <div class="input-group">
                                                {{ form_widget(form.tbl_prod_smaller.sm_prod_scale, {
                                                'attr': {'class': 'form-control text-right p-r-sm'}
                                                }) }}
                                                <div class="input-group-addon right">
                                                    &nbsp;
                                                </div><!-- /btn-group -->
                                            </div>
                                            <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Pricing category</label>
                                    <div class="input-group">
                                        <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                                        {{ form_widget(form.tbl_prod_smaller.sm_prod_price_id) }}
                                    </div>
                                    <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->                                            

                                </div>  

                                {{ form_row(form.tbl_prod_smaller.sm_prod_normalprice) }}
                        

                                <div class="form-group">
                                    <label>Shipping category</label>
                                    <div class="input-group">
                                        <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                                        {{ form_widget(form.tbl_prod_smaller.sm_prod_shipping_price_id) }}
                                    </div>
                                </div>   
                                <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->                                            

                            </div>
                        </div>   

                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>Related products</h3>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>                           
                                </div>
                            </div>
                            <div class="ibox-content m-b-md">                                                        
                                <div class="form-group m-b-xs">
                                    <a class="btn-default btn btn-xs pull-right">Remove</a>
                                    <a><i class="fa fa-cube"></i> Aerospatiale SN-601 Corvette</a>
                                </div>                            
                                <div class="form-group m-b-xs">
                                    <a class="btn-default btn btn-xs pull-right">Remove</a>
                                    <a><i class="fa fa-cube"></i> Martin Baltimore RAAF</a>                                    
                                </div>                                   
                                <div class="text-center">
                                    <button class="btn btn-grey" data-toggle="modal" data-target="#addRelatedProductModal">Add product</button>
                                </div>
                            </div>
                        </div>    

                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>Photos</h3>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>                           
                                </div>
                            </div>
                            <div class="ibox-content m-b-md">                                                        
                                {{ form_widget(form.photos) }}
                            </div>
                            <!-- photos should be saved in tbl_prod_photos against prod_id of this product -->
                            <!-- prod_solo1, prod_solo2, prod_solo3, prod_solo4 -->
                            <!-- maximum of four photos -->
                        </div>                           
                    </div> 

                    <div class="modal fade" id="addRelatedProductModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a data-dismiss="modal" class="pull-right">
                                        <i class="fa fa-times"></i>
                                    </a>

                                    <h3>Add related product</h3>
                                </div>
                                <div class="modal-body">
                                    
                                    <div class="list-search-custom m-b-sm m-t-sm">
                                        <label><i class="fa fa-search"></i></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <a href="#" class="search-clear"> <i class="fa fa-times"></i></a>
                                        </div>
                                    </div>    

                                    <div class="i-checks m-b-xs">
                                        <label>
                                            <input type="checkbox" value=""> Aerospatiale SN-601 Corvette
                                        </label>
                                    </div> 

                                    <div class="i-checks m-b-xs">
                                        <label>
                                            <input type="checkbox" value=""> Airbus A310-300 CSA
                                        </label>
                                    </div>                                     

                                    <div class="i-checks m-b-xs">
                                        <label>
                                            <input type="checkbox" value=""> Airbus A320 Air Berlin
                                        </label>
                                    </div>                                                                         

                                    <div class="text-right m-t-md">
                                        <a type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#addRoleModal">Close</a> 
                                    </div>       
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->   
                </div>
                {{ form_end(form) }}

            </div>

{% endblock %}

{% block customjs %}
<!-- iCheck -->
<script src="assets/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-steelblue',
            radioClass: 'iradio_square-steelblue',
        });
    });
</script>
{% endblock %}