{% extends "template.html" %}
{% set page = 'categories' %}

{% block title %}MPM Central{% endblock %}

{% block customheader %}
<link href="assets/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="../assets/stripe/css/bootstrap-min.css" rel="stylesheet">
<link href="../assets/stripe/css/formValidation.css" rel="stylesheet">
<link href="../node_modules/trumbowyg/dist/ui/trumbowyg.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row wrapper white-bg page-heading">
    <div class="col-sm-6 col-xs-12">
        <a href="index.php">
            <small class="m-t-xs inline"><strong>DASHBOARD</strong></small>
        </a>

        <small class="inline"> > </small>
        <small class="m-t-xs inline">
            <a href="c_eras-list.php">
                <strong>AIRPLANE MODEL ERAS</strong>
            </a>
        </small>

        <h2 class="block m-none">
            Edit era
        </h2>        
    </div>
    <div class="col-sm-6 col-xs-12 text-right">
        <a class="btn btn-primary" href="c_era-add.php" style="margin-top: 16px;">
            <i class="fa fa-plus"></i> Add airplane model era
        </a>
    </div>
</div>

{{ form_start(form, {
    "attr": { 
        "class" : "js-validate-add-edit"
    }
}) }}
<div class="wrapper wrapper-content animated fadeInRight small-content">
    <div class="row">
        <div class="centered-content">
            
            {% if result == 1 %}
            <div class="alert alert-small alert-success text-center" role="alert">
                <p><i class="fa fa-check"> </i> Airplane model era updated</p>
            </div>
            {% endif %}

            <div class="form-group m-b-sm">
                <input type="submit" value="Save" class="btn btn-green"/>
            </div>

            <div class="ibox">
                <div class="ibox-title clearfix">
                    <h3>Category details</h3>
                </div>
                <div class="ibox-content">
                    {{ form_row(form.era_description )}}
                </div>
            </div>

        </div>
    </div>
</div>
{{ form_end(form) }}



{% block customjs %}
<script type="text/javascript" src="../assets/stripe/js/formValidation.js"></script>
<script type="text/javascript" src="../assets/stripe/js/framework/bootstrap.js"></script>

<script>
    $(document).ready(function () {

        validForm = $(".js-validate-add-edit").formValidation({
            message: 'This field is required',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                "era_form[era_description]": {
                    enabled: true
                },                
            }
        });


    });

</script>
{% endblock %}



{% endblock %}


