{% extends "template.html" %}

{% block title %}MPM Central{% endblock %}
{% block customheader%}
<link href="assets/css/plugins/iCheck/custom.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row wrapper white-bg page-heading">
    <div class="col-lg-8 col-md-6 col-xs-6">
        <h2><a href="../index.html">Products</a></h2>
        <ol class="breadcrumb">           
            <li class="active">
                Products search
            </li>
        </ol>
    </div><!-- END col -->

    <div class="col-lg-4 col-md-6 col-xs-6">
        <span class="pull-right m-t-lg">
            <a class="btn btn-primary" href="event.php">Add new product</a>
        </span>
    </div>
</div><!-- END row -->

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12 list-filters">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for category in categories %}                
                        <li class="i-checks"><a><label> <input type="checkbox" value=""> {{ category.getMenuName() }} </label></a></li>                    
                    {% endfor %}
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >Status (3) <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="i-checks"><a><label> <input type="checkbox" value=""> Active</label></a></li>
                    <li class="i-checks"><a><label> <input type="checkbox" value=""> Inactive </label></a></li>
                </ul>
            </div>

            <div class="btn-group">
                <a>Clear all filters</a>
            </div>


        </div><!-- END col  -->               
    </div><!-- END row -->

    <div class="row">
        <div class="col-md-12 list-options"> 

            <div class="btn-group-count"><h3><strong>1-30</strong> of <strong>453</strong> products</h3></div>  

            <div class="pull-right">                              
                <h3>3345 results</h3>                     
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Export <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a><i></i> Spreadsheet <span class="text-muted">(xls)</span></a></li>
                    </ul>
                </div>
            </div>                                                                        

        </div><!-- END col -->
    </div> <!-- END row -->

    <div class="list-container">
        
        <div class="listing">
            <div class="list-results">

                {% for product in productsPager %}
                    <div class="list-item">
                        <div class="list-row">
                            <div class="list-key">
                                <a href=""><i class="fa fa-circle"></i></a>
                            </div>
                            <div class="list-summary">                                    
                                {{ product.getProdName() }}
                            </div>
                        </div>
                       <div class="list-row-end">
                            <span>
                                {{ product.getTblMenus().getMenuName() }}
                                <i class="fa fa-angle-right"></i>
                                {{ product.getTblEra().getEraDescription() }}
                            </span>
                            <span>Qty <strong>2</strong></span>
                            <span class="preview"><i class="fa fa-angle-double-right"></i></span>                             
                        </div>
                    </div>              
                {% endfor %}

            </div>

            <div class="list-options">
                <div class="btn-group m-r-sm">
                    <button type="button" class="btn btn-white"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-white">1</button>
                    <button class="btn btn-white  active">2</button>
                    <button class="btn btn-white">3</button>
                    <button class="btn btn-white">4</button>
                    <button type="button" class="btn btn-white"><i class="fa fa-chevron-right"></i> </button>
                </div>
            
                <div class="pull-right m-t-xxs"><h3>3345 results</h3></div>
            </div>
           

        </div> <!-- END listing -->


    </div><!-- END list container -->
</div><!-- END wrapper-content -->

{% endblock %}

{% block customjs %}
<!-- iCheck -->
<script src="assets/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-steelblue',
            radioClass: 'iradio_square-steelblue',
        });
    });
</script>

{% endblock %}