{% extends "template.html" %}
{% set page = 'products' %}

{% block title %}MPM Central{% endblock %}

{% block customheader %}
<link href="assets/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="../assets/stripe/css/bootstrap-min.css" rel="stylesheet">
<link href="../assets/stripe/css/formValidation.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'partials/delete_modal.html.twig' with {'prod': product.getProdName()} %}

<div class="row wrapper white-bg page-heading">
    <div class="col-sm-6 col-xs-12">
        <a href="index.php">
            <small class="m-t-xs inline"><strong>DASHBOARD</strong></small>
        </a>

        <small class="inline"> > </small>
        <small class="m-t-xs inline">
            <a href="products-list.php">
                <strong>PRODUCTS</strong>
            </a>
        </small>

        <h2 class="block m-none">
            {% if add %}Add{% else %}Edit{% endif %} a product
        </h2>         
    </div>

    <div class="col-sm-6 col-xs-12 text-right">
        <a class="btn btn-primary" href="product-add.php" style="margin-top: 16px;">
            <i class="fa fa-plus"></i> Add product
        </a>
    </div>
</div>


<div class="wrapper wrapper-content  animated fadeInRight">

    {{ form_start(form, {
        "attr":{
            "class": "js-validate-add-edit"
        }
    }) }}

    <div class="row">
        <div class="col-md-12 list-filters clear">
            <div class="btn-group">
                <input type="submit" class="btn btn-block btn-primary" value="Save">
            </div>
            {% if not add %}
            <div class="btn-group">
                <a class="btn btn-block btn-primary btn-danger" data-toggle="modal"
                   data-target="#deleteProductModal">Delete</a>
            </div>
            {% endif %}
            <!-- Only visible if editing -->
            <!--
            <div class="btn-group">
                <span class="text-muted nobr"><strong>Created</strong> 16 Apr, 2014</span>
            </div>
            <div class="btn-group">
                <span class="text-muted nobr"><strong>Updated</strong> 9 Sept, 2015</span>
            </div>
            -->
        </div><!-- END col -->
    </div><!-- END row -->

    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-content m-b-md">
                    <div class="form-group h2">
                        <h2>
                            {{ form_widget(form.prod_name, {"attr": {"autofocus": "autofocus"}}) }}
                        </h2>
                    </div>
                    {% if add %}
                    {% if parentObj %}
                    <div class="form-group">
                        <label>Parent product (optional)</label>
                        <div class="form-group m-b-xs">
                            <a class="btn-default btn btn-xs pull-right" data-toggle="modal"
                               data-target="#changeParentModal"
                            >Edit</a><span><i
                                class="fa fa-cube"></i> {{parentObj.prodName}} (id: {{parentObj.prodId}})</span></div>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <label>Parent product (optional)</label>
                        <div class="form-group m-b-xs">
                            <a class="btn-default btn btn-xs pull-right" data-toggle="modal"
                               data-target="#changeParentModal"
                            >Edit</a>
                            <span><i class="fa fa-cube"></i> No parent product</span>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}

                    {{ form_row(form.prod_code) }}

                    <div class="form-group website-visibility">
                        <label class="m-b-xs">Website visibility</label>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="i-checks">
                                    {{ form_row(form.mb) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="i-checks">
                                    {{ form_row(form.pa) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="i-checks">
                                    {{ form_row(form.m3) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if (product.mb or product.pa or product.m3) %}
                    <div class="form-group">
                        <label class="m-b-xs">Website links</label>
                        <div class="row">
                            {% if product.mb %}
                            <div class="col-xs-12">
                                <a href="../modelbuffs.com/product.php?id={{ product.prodId }}" target="_blank">
                                    Modelbuffs link <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                            {% endif %}

                            {% if product.pa %}
                            <div class="col-xs-12">
                                <a href="../planearts.com/product.php?id={{ product.prodId }}" target="_blank">
                                    Planearts link <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                            {% endif %}

                            {% if product.m3 %}
                            <div class="col-xs-12">
                                <a href="../mymahoganymodel.com/product.php?id={{ product.prodId }}" target="_blank">
                                    MyMahoganyModel link <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}


                    <div class="form-group">
                        <label>Category</label>
                        <div class="input-group">
                            <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                            {{ form_widget(form.prod_category) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Model historic era</label>
                        <div class="input-group">
                            <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                            {{ form_widget(form.prod_era) }}
                        </div>
                    </div>

                    {{ form_row(form.prod_alt) }}
                    {{ form_row(form.prod_aircraftreg) }}
                    {{ form_row(form.prod_company) }}
                    {{ form_row(form.prod_links) }}
                    {{ form_row(form.prod_linkdescription) }}
                </div>
            </div>


            <div class="ibox">
                <div class="ibox-title">
                    <h3>Details</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content m-b-md">
                    <div class="form-group">
                        <label>Generic description</label>
                        <div class="input-group">
                            <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                            {{ form_widget(form.prod_general) }}
                        </div>
                    </div>

                    {{ form_row(form.prod_writeup) }}
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h3>Specifications</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content m-b-md">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 m-b-sm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <span class="inline-label control-label">
                                    Length/Width (in)
                                    </span>
                                    {{ form_widget(form.prod_length, {
                                    'attr': {'class': 'form-control'}
                                    }) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 m-b-sm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <span class="inline-label control-label">
                                    Wing span (in)
                                    </span>
                                    {{ form_widget(form.prod_wingspan, {
                                    'attr': {'class': 'form-control'}
                                    }) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12 m-b-sm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <span class="inline-label control-label">
                                        Height (in)
                                    </span>
                                    {{ form_widget(form.prod_height, {
                                    'attr': {'class': 'form-control'}
                                    }) }}

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 m-b-sm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <span class="inline-label control-label">
                                    Scale &nbsp;&nbsp;&nbsp;
                                    </span>
                                    {{
                                    form_widget(form.prod_scale, {'attr': {'class': 'form-control'} })
                                    }}
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h3>SEO</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content m-b-md">
                    {{ form_row(form.prod_title) }}
                    {{ form_row(form.prod_description) }}
                    {{ form_row(form.prod_keywords) }}
                </div>
            </div>
        </div> <!-- END col-md-6-->

        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Pricing</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content m-b-md">

                    <div class="form-group">
                        <label>Pricing category</label>
                        <div class="input-group">
                            <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                            {{ form_widget(form.prod_price_id) }}
                        </div>
                    </div>

                    {{ form_row(form.tbl_prod_prices.prod_normalprice) }}
                    {{ form_row(form.tbl_prod_prices.prod_salesprice) }}
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h3>Shipping</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content m-b-md">

                    <div class="form-group">
                        <label>Shipping category</label>
                        <div class="input-group">
                            <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                            {{ form_widget(form.prod_category_shipping) }}

                        </div>
                    </div>

                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h3>Smaller model version</h3>
                    <div class="switch pull-right">
                        <div class="onoffswitch yesnoswitch" href="#smallerVersion">
                            <input type="checkbox"
                                   class="onoffswitch-checkbox js-smaller_version" checked="checked"
                                   id="smallerVersion">
                            <label class="onoffswitch-label" for="smallerVersion"><span
                                    class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                        </div>
                    </div>
                </div>
                <div class="ibox-content m-b-md" id="js-smaller">

                    <div class="row">
                        <div class="col-lg-6 col-md-12 m-b-sm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <span class="inline-label control-label">Length/Width (in)</span>
                                    {{ form_widget(form.tbl_prod_smaller.sm_prod_length, {
                                    'attr': {'class': 'form-control'}
                                    }) }}
                                    <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 m-b-sm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <span class="inline-label control-label">Wing span</span>
                                    {{ form_widget(form.tbl_prod_smaller.sm_prod_wingspan, {
                                    'attr': {'class': 'form-control'}
                                    }) }}
                                </div>
                                <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12 m-b-sm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <span class="inline-label control-label">Height</span>
                                    {{ form_widget(form.tbl_prod_smaller.sm_prod_height, {
                                    'attr': {'class': 'form-control'}
                                    }) }}
                                </div>
                                <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 m-b-sm">
                            <div class="form-inline">
                                <div class="form-group">
                                    <span class="inline-label control-label">Scale</span>
                                    {{ form_widget(form.tbl_prod_smaller.sm_prod_scale, {
                                    'attr': {'class': 'form-control'}
                                    }) }}
                                </div>
                                <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Pricing category</label>
                        <div class="input-group">
                            <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                            {{ form_widget(form.tbl_prod_smaller.sm_prod_price_id) }}
                        </div>
                        <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->

                    </div>

                    {{ form_row(form.tbl_prod_smaller.sm_prod_normalprice) }}


                    <div class="form-group">
                        <label>Shipping category</label>
                        <div class="input-group">
                            <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                            {{ form_widget(form.tbl_prod_smaller.sm_prod_shipping_price_id) }}
                        </div>
                    </div>
                    <!-- this would be saved in tbl_prod_smaller against the prod_id of this product -->

                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h3>Related products</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content m-b-md">
                    <div class="js-related"></div>
                    {{ form_widget(form.prod_related, {"attr": {"class": "js-related-input"}}) }}
                    <div class="text-center">
                        <a class="btn btn-grey" data-toggle="modal" data-target="#addRelatedProductModal">Add
                            product
                        </a>
                    </div>
                </div>
            </div>

            {% include 'partials/photos.html.twig'
            with {'suffix': '', 'title': 'Modelbufs', 'form': form.photos, 'photos': product ?
            product.getTblProdPhotos() : null } %}
            {% include 'partials/photos.html.twig'
            with {'suffix': 'pa', 'title': 'Planearts', 'form': form.photos_pa, 'photos': product ?
            product.getTblProdPhotos() : null } %}
            {% include 'partials/photos.html.twig'
            with {'suffix': 'm3', 'title': 'M3', 'form': form.photos_m3, 'photos': product ? product.getTblProdPhotos()
            : null } %}

        </div>

        <div class="modal fade" id="addRelatedProductModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a data-dismiss="modal" class="pull-right">
                            <i class="fa fa-times"></i>
                        </a>

                        <h3>Add related product</h3>
                    </div>
                    <div class="modal-body">

                        <div class="list-search-custom m-b-sm m-t-sm">
                            <label><i class="fa fa-search"></i></label>
                            <div class="form-group">
                                <input type="text" class="form-control js-popup-search" placeholder="Search">
                                <a href="#" class="search-clear"> <i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="js-popup-found"></div>

                        <div class="text-right m-t-md">
                            <a type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal">Close</a>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="copyPhotosModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a data-dismiss="modal" class="pull-right">
                            <i class="fa fa-times"></i>
                        </a>

                        <h3>Copy photos of existing product</h3>
                    </div>
                    <div class="modal-body">

                        <div class="list-search-custom m-b-sm m-t-sm">
                            <label><i class="fa fa-search"></i></label>
                            <div class="form-group">
                                <input type="text" class="form-control js-copy-search" placeholder="Search">
                                <a href="#" class="search-clear"> <i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="js-copy-found"></div>

                        <div class="text-right m-t-md">
                            <a type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                               data-target="#addRoleModal">Close</a>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {% if add %}
        <div class="modal fade" id="changeParentModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a data-dismiss="modal" class="pull-right">
                            <i class="fa fa-times"></i>
                        </a>

                        <h3>Fetch info from other product</h3>
                    </div>
                    <div class="modal-body">
                        <div class="list-search-custom m-b-sm m-t-sm">
                            <label><i class="fa fa-search"></i></label>
                            <div class="form-group">
                                <input type="text" class="form-control js-popup-search-parent" placeholder="Search">
                                <a href="#" class="search-clear"> <i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="js-popup-found-parent"></div>

                        <div class="text-right m-t-md">
                            <a type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                               data-target="#addRoleModal">Close</a>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        {% endif %}
    </div>
    
    {{ form_end(form) }}

</div>

{% endblock %}

{% block customjs %}
<!-- iCheck -->
<script type="text/javascript" src="assets/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="../assets/stripe/js/formValidation.js"></script>
<script type="text/javascript" src="../assets/stripe/js/framework/bootstrap.js"></script>
<script type="text/javascript" src="assets/js/productChoice.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-steelblue',
            radioClass: 'iradio_square-steelblue',
        });
        //DELETE PRODUCT
        var confirmDelete = $('.js-confirm-delete');
        confirmDelete.click(function (e) {
            location.href = 'delete.php?ids={{product.getProdId()}}';
        });

        // DRAG AND DROP for HTML multifile
        var filedrags = document.getElementsByClassName('js-hidden-multifile'),
            boxes = document.getElementsByClassName('js-photos-box');
        for (var i = 0; i < filedrags.length; i++) {
            var filedrag = filedrags[i],
                label = filedrag.parentNode.querySelector('.js-drop-here'),
                cntnum = label.querySelector('.js-num');
            filedrag.addEventListener("dragover", FileDragHover, false);
            filedrag.addEventListener("dragleave", FileDragHover, false);
            filedrag.addEventListener("idrop", FileSelectHandler, false);
            filedrag.addEventListener("change", FileSelectHandler, false);
            cntnum.innerHTML = filedrag.files.length;
            if (filedrag.files.length > 4) {
                cntnum.classList.add('_alert')
            }
            if (filedrag.files.length > 0) {
                PreviewFiles(filedrag.files, filedrag.parentNode);
            }
        }
        var suffix = '', currentBox = null;
        for (i = 0; i < boxes.length; i++) {
            var box = boxes[i];
            var elem = box.querySelector('.js-another-model');
            elem.addEventListener('click', function () {
                suffix = this.getAttribute('data-suffix');
                currentBox = this.parentNode.parentNode.parentNode;
            });
        }

        var list = document.querySelector('.js-copy-found');
        setUpSearch(document.querySelector('.js-copy-search'), function (p) {
            list.innerHTML = '';
            p.forEach(function (d) {
                var line = buildProductLine(d, function () {
                    setUpPreviewForProduct(this.getAttribute('data-id'), suffix);
                }, 'radio');
                list.appendChild(line);
            });
        });

        $('.js-delete-btn').click(function (e) {
            e.preventDefault();
            var parent = this.parentNode.parentNode.parentNode;
            clearInputs(parent);
            parent.querySelector('.js-hidden-delete').value = '1';
            parent.querySelector('.js-img-loaded-previews').innerHTML = '';
            parent.querySelector('.js-img-previews').innerHTML = '';
            parent.querySelector('.js-num').innerHTML = '0';
            this.style = 'display: none;';
        });

        function clearInputs(parent) {
            parent.querySelector('.js-hidden-copy').value = '';
            parent.querySelector('.js-hidden-multifile').value = '';
            parent.querySelector('.js-hidden-delete').value = '';
        }

        function setUpPreviewForProduct(id, suffix) {
            $('#copyPhotosModal').modal('hide');
            $.get('../api/index.php/products/photos/' + id, function (data) {
                clearPreview(currentBox);
                clearInputs(currentBox);

                var cntnum = currentBox.querySelector('.js-num'),
                    deleteBtn = currentBox.querySelector('.js-delete-btn');
                currentBox.querySelector('.js-hidden-copy').value = id;
                for (var i = 1; i < 5; i++) {
                    deleteBtn.style = 'display: block;';
                    if (!data['ProdSolo' + i + suffix]) {
                        break;
                    }
                    cntnum.innerHTML = i;

                    var preview = currentBox.querySelector('.js-img-previews');
                    var div = document.createElement('div');
                    div.className = 'col-md-3';
                    var image = new Image();
                    image.style = 'width: 100%;';
                    image.title = '';
                    image.src = '../mpm/uploads' + suffix.toLowerCase() + '/' + data['ProdSolo' + i + suffix];
                    div.appendChild(image);
                    preview.appendChild(div);
                }
            }, 'json');
        }

        function clearPreview(parent) {
            var preview = parent.querySelector('.js-img-previews');
            var previewLoaded = parent.querySelector('.js-img-loaded-previews');
            previewLoaded.style = 'display: none;';
            preview.innerHTML = '';
        }

        // file drag hover
        function FileDragHover(e) {
            var label = $(this).prevAll('.js-drop-here');
            e.stopPropagation();
            e.preventDefault();
            e.type == "dragover" ? label.classList.add('_drop') : label.classList.remove('_drop');
        }

        // file selection
        function FileSelectHandler(e) {
            var label = this.parentNode.querySelector('.js-drop-here'),
                cntnum = label.querySelector('.js-num');
            label.classList.remove('_drop');
            var files = e.target.files || e.dataTransfer.files;
            cntnum.innerHTML = files.length;
            cntnum.classList.remove('_alert');

            if (files.length > 4) {
                cntnum.classList.add('_alert')
            }

            PreviewFiles(files, this.parentNode);
        }

        //File preview
        function PreviewFiles(files, parent) {
            clearPreview(parent);
            parent.querySelector('.js-hidden-copy').value = '';
            parent.querySelector('.js-hidden-delete').value = '';
            var preview = parent.querySelector('.js-img-previews'), deleteBtn = parent.querySelector('.js-delete-btn');

            function readAndPreview(file) {

                // Make sure `file.name` matches our extensions criteria
                if (/\.(jpe?g|png|gif)$/i.test(file.name)) {
                    var reader = new FileReader();

                    reader.addEventListener("load", function () {
                        var div = document.createElement('div');
                        div.className = 'col-md-3';
                        var image = new Image();
                        image.style = 'width: 100%;';
                        image.title = file.name;
                        image.src = this.result;
                        div.appendChild(image);
                        preview.appendChild(div);
                        deleteBtn.style = 'display: block;';
                    }, false);

                    reader.readAsDataURL(file);
                }

            }

            if (files) {
                for (var i = 0; i < Math.min(4, files.length); i++) {
                    readAndPreview(files[i]);
                }
            }
        }

        ///RELATED PRODUCTS
        relatedProducts = JSON.parse("{{ relatedProducts | json_encode | escape('js') }}") || [];
        var relatedProductsContainer = document.querySelector('.js-related');
        var relatedInput = document.querySelector('.js-related-input');

        function showRelatedProducts() {
            relatedProductsContainer.innerHTML = '';
            relatedProducts.forEach(function (r) {
                var div = document.createElement('div');
                div.className = "form-group m-b-xs";
                var a = document.createElement('a');
                a.innerText = 'Remove';
                a.className = "btn-default btn btn-xs pull-right";
                div.appendChild(a);
                var span = document.createElement('span');
                span.innerHTML = "<i class='fa fa-cube'></i> ";
                span.appendChild(document.createTextNode(r.name));
                div.appendChild(span);
                a.addEventListener('click', function (e) {
                    e.preventDefault();
                    removeRelatedProduct(r.id);
                });

                relatedProductsContainer.appendChild(div);
            });
            relatedInput.value = relatedIdsAsString();
        }

        function addRelatedProduct($id, $name) {
            relatedProducts.push({
                'id': $id,
                'name': $name
            });
            showRelatedProducts();
        }

        function removeRelatedProduct($id) {
            relatedProducts = relatedProducts.filter(function (v) {
                return v.id !== $id;
            });
            showRelatedProducts();
        }

        var popupFound = document.querySelector('.js-popup-found');
        setUpSearch(document.querySelector('.js-popup-search'), function (infos) {
            popupFound.innerHTML = '';
            infos.forEach(function (d) {
                var div = buildProductLine(d, function (e) {
                    e.preventDefault();
                    addRelatedProduct(d.prod_id, d.prod_name);
                    div.remove();
                });

                popupFound.appendChild(div);
            });
        });

        showRelatedProducts();

        /*{% if add %}*/
        var popupFoundParent = document.querySelector('.js-popup-found-parent');
        setUpSearch(document.querySelector('.js-popup-search-parent'), function (infos) {
            popupFoundParent.innerHTML = '';

            infos.forEach(function (d) {
                var div = buildProductLine(d, function (e) {
                    e.preventDefault();
                    location.href = 'product-add.php?parent=' + d.prod_id;
                }, 'radio');

                popupFoundParent.appendChild(div);
            });
        });
        /*{% endif %}*/
        var validForm = null;

        ////////////// Toggle smaller
        var smallerToggler = document.querySelector('.js-smaller_version'),
            smallerContainer = document.querySelector('#js-smaller'),
            smallerHidden = document.querySelector('#product_form_tbl_prod_small_enabled'),
            smallerChange = function () {
                var checked = smallerToggler.checked;
                smallerContainer.style = checked ? 'display:block' : 'display:none';
                smallerHidden.value = checked ? '1' : '0';
                if (validForm) {
                    validForm.formValidation('resetForm');
                    validForm.formValidation('validate');
                }
            };
        smallerToggler.addEventListener('change', smallerChange);
        smallerToggler.checked = smallerHidden.value === '1';
        smallerChange();

        ////////////// VALIDATION
        /* 
            Required fields: 
            Product name, product code, product category
            General description, model historic era
            Body length/width, price, shipping category
        */
        validForm = $(".js-validate-add-edit").formValidation({
            message: 'This field is required',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'product_form[mb]': {
                    validators: {
                        callback: {
                            message: "You should check at least one site",
                            callback: function () {
                                return $('#product_form_mb').prop('checked') ||
                                    $('#product_form_pa').prop('checked') ||
                                    $('#product_form_m3').prop('checked');
                            }
                        }
                    }
                },
                "product_form[prod_alt]": {
                    enabled: false
                },
                "product_form[prod_aircraftreg]": {
                    enabled: false
                },
                "product_form[prod_company]": {
                    enabled: false
                },

                "product_form[prod_links]": {
                    enabled: false,
                    validators: {
                        uri: {message: "The URL you provided is not valid"}
                    }
                },
                "product_form[prod_linkdescription]": {
                    enabled: false,
                    validators: {
                        callback: {
                            message: 'Provide a description for the URL',
                            callback: function (value, validator, $field) {
                                var prodlink = $('.js-validate-add-edit').find('[name="product_form[prod_links]"]').val();
                                console.log((prodlink == '') ? null : (value !== ''));
                                return (prodlink == '') ? null : (value !== '');
                            }
                        }
                    }
                },

                "product_form[prod_writeup]": {
                    enabled: false,
                },

                "product_form[prod_title]": {
                    enabled: false,
                },
                "product_form[prod_description]": {
                    enabled: false,
                },
                "product_form[prod_keywords]": {
                    enabled: false,
                },


                "product_form[prod_length]": {
                    validators: {
                        notEmpty: {message: "Length is required"},
                        numeric: {message: "Value should be numeric"}
                    }
                },
                "product_form[prod_wingspan]": {
                    enabled: false,
                    validators: {
                        numeric: {message: "Value should be numeric"}
                    }
                },
                "product_form[prod_height]": {
                    enabled: false,
                    validators: {
                        notEmpty: {message: "Height is required"},
                        numeric: {message: "Value should be numeric"}
                    }
                },
                "product_form[prod_scale]": {
                    enabled: false,
                    validators: {
                        notEmpty: {message: "Height is required"},
                        numeric: {message: "Value should be numeric"}
                    }
                },

                "product_form[prod_price_id]": {
                    validators: {
                        numeric: {message: "Value should be numeric"},
                        callback: {
                            message: 'Please choose pricing category or specify price below',
                            callback: function (value) {
                                return value != '' ||
                                    $('#product_form_tbl_prod_prices_prod_normalprice').val() != '';
                            }
                        }
                    }
                },

                "product_form[tbl_prod_prices][prod_normalprice]": {
                    validators: {
                        numeric: {message: "Value should be numeric"},
                        callback: {
                            message: 'Please specify price here or choose pricing category',
                            callback: function (value) {
                                return value != '' || $('#product_form_prod_price_id').val() != '';
                            }
                        }
                    }
                },
                "product_form[tbl_prod_prices][prod_salesprice]": {
                    validators: {
                        numeric: {message: "Value should be numeric"}
                    }
                },

                "product_form[tbl_prod_smaller][sm_prod_length]": {
                    validators: {
                        notEmpty: {message: "Length is required"},
                        numeric: {message: "Value should be numeric"}
                    }
                },
                "product_form[tbl_prod_smaller][sm_prod_wingspan]": {
                    validators: {
                        numeric: {message: "Value should be numeric"}
                    }
                },
                "product_form[tbl_prod_smaller][sm_prod_height]": {
                    validators: {
                        notEmpty: {message: "Height is required"},
                        numeric: {message: "Value should be numeric"}
                    }
                },
                "product_form[tbl_prod_smaller][sm_prod_scale]": {
                    validators: {
                        notEmpty: {message: "Height is required"},
                        numeric: {message: "Value should be numeric"}
                    }
                },
                "product_form[tbl_prod_smaller][sm_prod_price_id]": {
                    validators: {
                        callback: {
                            message: 'Please choose pricing category or specify price below',
                            callback: function (value) {
                                return value != '' || $('#product_form_tbl_prod_smaller_sm_prod_normalprice').val() != '';
                            }
                        }
                    }
                },
                "product_form[tbl_prod_smaller][sm_prod_normalprice]": {
                    validators: {
                        numeric: {message: "Value should be numeric"},
                        callback: {
                            message: 'Please specify price here or choose pricing category',
                            callback: function (value) {
                                return value != '' || $('#product_form_tbl_prod_smaller_sm_prod_price_id').val() != '';
                            }
                        }
                    }
                },
            }
        });

        $('#product_form_tbl_prod_prices_prod_normalprice')
            .add('#product_form_prod_price_id')
            .add('#product_form_tbl_prod_smaller_sm_prod_normalprice')
            .add('#product_form_tbl_prod_smaller_sm_prod_price_id').change(function () {
            validForm.formValidation('resetForm');
            validForm.formValidation('validate');
        });
        $('#product_form_pa')
            .add('#product_form_m3')
            .add('#product_form_mb').on('ifToggled', function () {
            validForm.formValidation('resetForm');
            validForm.formValidation('validate');
        });

        // Enable the URI validators if the product URI is not empty
        validForm.on('keyup', '[name="product_form[prod_links]"]', function () {
            var isEmpty = $(this).val() == '';

            $('.js-validate-add-edit')
                .formValidation('enableFieldValidators', 'product_form[prod_links]', !isEmpty)
                .formValidation('enableFieldValidators', 'product_form[prod_linkdescription]', !isEmpty);

            // Revalidate the field when user start typing in the URI field

            if ($(this).val().length > 0) {
                $('.js-validate-add-edit')
                    .formValidation('validateField', 'product_form[prod_links]')
                    .formValidation('revalidateField', 'product_form[prod_linkdescription]');
            }

        })
        ;

    });

</script>

{% endblock %}
