{% extends "template.html" %}
{% set page = 'categories' %}

{% block title %}MPM Central - {{ entityName|capitalize }}{% endblock %}

{% block customheader%}
<link href="assets/css/plugins/iCheck/custom.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row wrapper white-bg page-heading">
    <div class="col-sm-6 col-xs-12">
        <a href="index.php">
            <small class="m-t-xs block"><strong>DASHBOARD</strong></small>
        </a>  
        <h2 class="inline m-none">{{ entityPlural|capitalize }}</h2>        
    </div>

    <div class="col-sm-6 col-xs-12 text-right">
        {% if add %}
            <a class="btn btn-primary" href="c_{{manageUrl}}-add.php" style="margin-top: 16px;">
                <i class="fa fa-plus"></i> Add {{ entityName }}
            </a>
        {% endif %}    
    </div>
</div>

{% include 'partials/delete_modal.html.twig' with {'items': '', 'type': properName, 'entityName': entityName} %}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-12 list-filters">
            <div class="btn-group">
                <input type="submit" 
                class="btn btn-block btn-primary btn-danger js-delete-button"
                style="display: none;" value="Delete">
            </div>
        </div><!-- END col  -->
    </div><!-- END row -->

    <div class="row">
        <div class="col-md-12 list-options"> 

            <div class="btn-group-count"><h3><strong>1-{{remainingProducts}}</strong> of <strong>{{ count }}</strong> {{ entityPlural }} </h3></div>                                                                     

        </div><!-- END col -->
    </div> <!-- END row -->
   

    <div class="list-container">
        
        <div class="listing">
            <div class="list-results">

                {% for key,value in entities %}
                    <div class="list-item">    
                        <a href="c_{{manageUrl}}-edit.php?id={{value.id}}">                                        
                            <div class="list-row">
                                <div class="col-xs-5">
                                    {% if entityName != 'model category' %}                                
                                        <input type="checkbox" class="js-show-delete"
                                                style="margin-left: -15px;" 
                                               data-name="{{value['description']}}"
                                               data-id="{{value.id}}"/>
                                    {% endif %}
                                                                    
                                    {{ value['description'] }} 
                                    {% if value['displayValue'] %}
                                         - ${{value['displayValue'] }}
                                    {% endif %}
                                </div>

                                <div class="col-xs-2">
                                    <strong><span class="text-orange">MB</span> - </strong>
                                    {{ value['countMB'] }}
                                </div>

                                <div class="col-xs-2">       
                                    <strong><span class="text-purple">PA</span> - </strong>
                                    {{ value['countPA'] }}
                                </div>

                                <div class="col-xs-2">
                                    <strong><span class="text-info">M3</span> - </strong>
                                    {{ value['countM3'] }}                         
                                </div>

                                <div class="col-xs-1 text-right">  
                                    {% if entityName != 'model category' %}
                                        <span class="text-danger">
                                            <a data-toggle="modal"
                                               data-target="#deleteModal"
                                               data-name="{{value['description']}}"
                                               data-id="{{value.id}}"
                                               class="js-delete-one">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </span>                             
                                    {% endif %} 
                                </div>
                            </div>    
                        </a>
                    </div>              
                {% endfor %}

            </div>


            <div class="list-options">
                <div class="pull-right m-t-xxs"><h3>{{ count }} results</h3></div>
            </div>
           

        </div> <!-- END listing -->


    </div><!-- END list container -->
</div><!-- END wrapper-content -->

{% endblock %}

{% block customjs %}
<!-- iCheck -->
<script src="assets/js/plugins/iCheck/icheck.min.js"></script>
<script src="assets/js/deleteItems.js"></script>

<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-steelblue',
            radioClass: 'iradio_square-steelblue',
        });
    });
</script>
{% endblock %}
