{% extends "template.html" %}
{% set page = 'categories' %}

{% block title %}MPM Central{% endblock %}

{% block customheader %}
<link href="assets/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="../assets/stripe/css/bootstrap-min.css" rel="stylesheet">
<link href="../assets/stripe/css/formValidation.css" rel="stylesheet">
<link href="../node_modules/trumbowyg/dist/ui/trumbowyg.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row wrapper white-bg page-heading">
    <div class="col-sm-6 col-xs-12">
        <a href="index.php">
            <small class="m-t-xs inline"><strong>DASHBOARD</strong></small>
        </a>

        <small class="inline"> > </small>
        <small class="m-t-xs inline">
            <a href="c_seo_groups-list.php">
                <strong>SEO DESCRIPTIONS</strong>
            </a>
        </small>

        <h2 class="block m-none">
            Edit SEO description
        </h2>        
    </div>

</div>



<div class="wrapper wrapper-content animated fadeInRight small-content">
    <div class="row">
        <div class="centered-content">

            <div class="form-group m-b-sm">
                <button type="button" class="btn btn-green">
                    Save description
                </button>
            </div>

            <div class="ibox">
                <div class="ibox-title clearfix">
                    <h3>SEO description</h3>
                </div>                       
                <div class="ibox-content">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" value="">     
                    </div>
                    <div class="form-group">
                        <label>Fedex Economy weight</label>
                        <div class="input-group">
                            <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                            <select class="form-control"><option value="">Select a weight</option></select>
                        </div>    
                    </div>        
                    <div class="form-group">
                        <label>Fedex Priority weight</label>
                        <div class="input-group">
                            <span class="input-group-addon left"><i class="fa fa-sort"></i></span>
                            <select class="form-control"><option value="">Select a weight</option></select>
                        </div>      
                    </div>    
                    <div class="form-group">
                        <label>Air Parcel actual weights per quantity (kg)</label>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon left">Per 1</span>
                                    <input type="text" class="form-control" value="">
                                </div>                                                          
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon left">Per 2</span>
                                    <input type="text" class="form-control" value="">
                                </div>                                                          
                            </div>      
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon left">Per 3</span>
                                    <input type="text" class="form-control" value="">
                                </div>                                                          
                            </div>    
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon left">Per 4</span>
                                    <input type="text" class="form-control" value="">
                                </div>                                                          
                            </div>    
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon left">Per 5</span>
                                    <input type="text" class="form-control" value="">
                                </div>                                                          
                            </div>    
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon left">Per 6</span>
                                    <input type="text" class="form-control" value="">
                                </div>                                                          
                            </div>    
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon left">Per 7</span>
                                    <input type="text" class="form-control" value="">
                                </div>                                                          
                            </div>    
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon left">Per 8</span>
                                    <input type="text" class="form-control" value="">
                                </div>                                                          
                            </div>    
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon left">Per 9</span>
                                    <input type="text" class="form-control" value="">
                                </div>                                                          
                            </div>    
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon left">Per 10</span>
                                    <input type="text" class="form-control" value="">
                                </div>                                                          
                            </div>                                                                                                                                                                                                                                                        
                        </div>

    
                    </div>                                                    
                </div>
            </div> 

        </div>
    </div>
</div> 


{% endblock %}

{% block customjs %}
<script type="text/javascript" src="../assets/stripe/js/formValidation.js"></script>
<script type="text/javascript" src="../assets/stripe/js/framework/bootstrap.js"></script>
<script type="text/javascript" src="../node_modules/trumbowyg/dist/trumbowyg.min.js"></script>

{% endblock %}
