{% extends "template.html" %}
{% set page = 'categories' %}

{% block title %}MPM Central{% endblock %}

{% block customheader %}
<link href="assets/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="../assets/stripe/css/bootstrap-min.css" rel="stylesheet">
<link href="../assets/stripe/css/formValidation.css" rel="stylesheet">
<link href="../node_modules/trumbowyg/dist/ui/trumbowyg.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row wrapper white-bg page-heading">
    <div class="col-sm-6 col-xs-12">
        <a href="index.php">
            <small class="m-t-xs inline"><strong>DASHBOARD</strong></small>
        </a>

        <small class="inline"> > </small>
        <small class="m-t-xs inline">
            <a href="c_product_descriptions-list.php">
                <strong>PRODUCT DESCRIPTIONS</strong>
            </a>
        </small>

        <h2 class="block m-none">
            {% if add %}Add{% else %}Edit{% endif %} product description
        </h2>        
    </div>
    <div class="col-sm-6 col-xs-12 text-right">
        <a class="btn btn-primary" href="c_product_description-add.php" style="margin-top: 16px;">
            <i class="fa fa-plus"></i> Add Product description
        </a>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight small-content">
    {{ form_start(form, {
        "attr": { 
            "class" : "js-validate-add-edit"
        }
    }) }}
    <div class="row">
        <div class="centered-content">


            {% if result == 1 %}
            <div class="alert alert-small alert-success text-center" role="alert">
                <p><i class="fa fa-check"> </i> Product description updated</p>
            </div>
            {% endif %} 


            <div class="form-group m-b-sm">
                <input type="submit" value="Save description" class="btn btn-green"/>
            </div>           

            <div class="ibox">
                <div class="ibox-title clearfix">
                    <h3>Product description details</h3>
                </div>                       
                <div class="ibox-content">
                    {{ form_row(form.prod_name)}}
                </div>
            </div>

            <div class="tabs-container m-b-lg">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-1" aria-expanded="false">
                            Modelbuffs
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-2" aria-expanded="true">
                            Planearts
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-3" aria-expanded="true">
                            MyMahoganyModels
                        </a>
                    </li>                    
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            {{ form_row(form.prod_keywords)}}                
                            {{ form_row(form.prod_description)}}                        
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            {{ form_row(form.prod_keywords_pa)}}                
                            {{ form_row(form.prod_description_pa)}}                        
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            {{ form_row(form.prod_keywords_m3)}}                
                            {{ form_row(form.prod_description_m3)}}                        
                        </div>
                    </div>                    
                </div>
            </div> 


            <div class="form-group m-t-none">
                <input type="submit" value="Save description" class="btn btn-green"/>
            </div>

        </div>
    </div>
    {{ form_end(form) }}

</div>


{% endblock %}

{% block customjs %}
<script type="text/javascript" src="../assets/stripe/js/formValidation.js"></script>
<script type="text/javascript" src="../assets/stripe/js/framework/bootstrap.js"></script>
<script type="text/javascript" src="../node_modules/trumbowyg/dist/trumbowyg.min.js"></script>
<script>
    $(document).ready(function () {


        $('.js-wysy').trumbowyg({
            autogrow: true,
            btns: [['bold', 'italic'], ['link']],
            removeformatPasted: true,
        });


        ////////////// VALIDATION
        /* 
            Required fields: prod_name
        */

        validForm = $(".js-validate-add-edit").formValidation({
            message: 'This field is required',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                "product_description_form[prod_keywords]": {
                    enabled: false
                },            
                "product_description_form[prod_description]": {
                    enabled: false
                },            
                "product_description_form[prod_keywords_pa]": {
                    enabled: false
                },            
                "product_description_form[prod_description_pa]": {
                    enabled: false
                },            
                "product_description_form[prod_keywords_m3]": {
                    enabled: false
                },            
                "product_description_form[prod_description_m3]": {
                    enabled: false
                },                            
            }
        });


    });

</script>
{% endblock %}
