{% extends "template.html" %}
{% set page = 'categories' %}

{% block title %}MPM Central{% endblock %}

{% block customheader %}
<link href="assets/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="../assets/stripe/css/bootstrap-min.css" rel="stylesheet">
<link href="../assets/stripe/css/formValidation.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row wrapper white-bg page-heading">
    <div class="col-sm-6 col-xs-12">
        <a href="index.php">
            <small class="m-t-xs inline"><strong>DASHBOARD</strong></small>
        </a>

        <small class="inline"> > </small>
        <small class="m-t-xs inline">
            <a href="c_pricing_groups-list.php">
                <strong>PRICING GROUPS</strong>
            </a>
        </small>

        <h2 class="block m-none">
            {% if add %}Add{% else %}Edit{% endif %} pricing group
        </h2>        
    </div>
    <div class="col-sm-6 col-xs-12 text-right">
        <a class="btn btn-primary" href="c_pricing_group-add.php" style="margin-top: 16px;">
            <i class="fa fa-plus"></i> Add pricing group
        </a>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight small-content">
    {{ form_start(form, {
        "attr": { 
            "class" : "js-validate-add-edit"
        }
    }) }}
    <div class="row">
        <div class="centered-content">

            {% if result == 1 %}
            <div class="alert alert-small alert-success text-center" role="alert">
                <p><i class="fa fa-check"> </i> Product pricing group updated</p>
            </div>
            {% endif %}

            <div class="form-group m-b-sm">
                <input type="submit" value="Save pricing group" class="btn btn-green"/>
            </div>           

            <div class="ibox">
                <div class="ibox-title clearfix">
                    <h3>Pricing group details</h3>
                </div>                       
                <div class="ibox-content">
                    {{ form_row(form.prod_price_name)}}
                    {{ form_row(form.prod_price_description)}}
                    {{ form_row(form.prod_price_price)}}
                </div>                
            </div>



            <div class="form-group m-t-none">
                <input type="submit" value="Save pricing group" class="btn btn-green"/>
            </div>

        </div>
    </div>
    {{ form_end(form) }}

</div>


{% endblock %}

{% block customjs %}
<script type="text/javascript" src="../assets/stripe/js/formValidation.js"></script>
<script type="text/javascript" src="../assets/stripe/js/framework/bootstrap.js"></script>
<script>
    $(document).ready(function () {

        validForm = $(".js-validate-add-edit").formValidation({
            message: 'This field is required',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                "pricing_group_form[prod_price_description]": {
                    enabled: false
                },                                           
            }
        });


    });

</script>
{% endblock %}
