{% extends "template.html" %}
{% set page = 'products' %}

{% block title %}MPM Central{% endblock %}

{% block customheader%}
<link href="assets/css/plugins/iCheck/custom.css" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="row wrapper white-bg page-heading">
    <div class="col-sm-6 col-xs-12">
        <a href="index.php">
            <small class="m-t-xs block"><strong>DASHBOARD</strong></small>
        </a>
        <h2 class="inline m-none">Products</h2>
    </div>

    <div class="col-sm-6 col-xs-12 text-right">
        <a class="btn btn-primary" href="product-add.php" style="margin-top: 16px;">
            <i class="fa fa-plus"></i> Add product
        </a>
    </div>
</div>

{% include 'partials/delete_modal.html.twig' with {'items': '', 'type': 'product', 'entityName': 'product'} %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {{ form_start(form, {'attr': {'class': 'js-form-reload'}}) }}
        <div class="col-md-12 list-filters">
            {{ form_widget(form.categories) }}
            {{ form_widget(form.sort) }}
            <div class="btn-group">
                <input type="submit" 
                class="btn btn-block btn-primary btn-danger js-delete-button"
                style="display: none;" value="Delete">
            </div>
            {{ form_end(form) }}
        </div><!-- END col  -->
    </div><!-- END row -->

    <div class="row">
        <div class="col-md-12 list-options">

            <div class="btn-group-count"><h3><strong>{{ productsPager.firstIndex }}-{{ productsPager.lastIndex
                }}</strong> of <strong>{{ count }}</strong> products</h3></div>

            <div class="pull-right">
                <h3>{{ count }} results</h3>
            </div>

        </div><!-- END col -->
    </div> <!-- END row -->

    <div class="list-container">

        <div class="listing">
            <div class="list-results">

            {% for product in productsPager %}
                <a href="product-edit.php?id={{ product.getProdId() }}">
                    <div class="list-item">
                        <div class="list-row">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="list-summary">
                                        <input type="checkbox" class="js-show-delete"
                                               data-name="{{ product.getProdName() }}"
                                               data-id="{{ product.getProdId() }}"/>
                                            {{ product.getProdName()}}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    {% if product.Mb == 1 %}
                                    <span class="badge">MB</span>
                                    {% endif %}

                                    {% if product.Pa == 1 %}
                                    <span class="badge">PA</span>
                                    {% endif %}

                                    {% if product.M3 == 1 %}
                                    <span class="badge">M3</span>
                                    {% endif %}
                                </div>
                                <div class="col-md-4">
                                    <span>
                                        <strong>{{ product.getTblMenus().getMenuName() }}</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="list-row-end">
                            <span><i class="fa fa-dollar"></i> 
                                {% if product.getTblProdPricing().getProdPricePrice() %}
                                    {{ product.getTblProdPricing().getProdPricePrice() }}
                                {% else %}
                                    {{ product.getTblProdPrices().getProdNormalPrice() }}                            
                                {% endif %}                            
                            </span>
                            <span class="text-danger">
                                <a data-toggle="modal"
                                   data-target="#deleteModal"
                                   data-name="{{ product.getProdName() }}"
                                   data-id="{{ product.getProdId() }}"
                                   class="js-delete-one">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </a>
            {% endfor %}

            </div>

            {% include "partials/pagination.html.twig" with {"p": productsPager} %}

        </div> <!-- END listing -->


    </div><!-- END list container -->
</div><!-- END wrapper-content -->

{% endblock %}

{% block customjs %}
<!-- iCheck -->
<script src="assets/js/plugins/iCheck/icheck.min.js"></script>
<script src="assets/js/productChoice.js"></script>
<script src="assets/js/deleteItems.js"></script>

<script>
    $(document).ready(function () {

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-steelblue',
            radioClass: 'iradio_square-steelblue',
        });
        var form = $('.js-form-reload');
        var sc = form[0].querySelector('#search_categories'),
            cnt = sc.querySelectorAll('.checked') ? sc.querySelectorAll('.checked').length : 0,
            sort = form[0].querySelector('#search_sort'),
            order = sort.querySelector('.checked') ? sort.querySelector('.checked').parentNode.innerText.trim() : 'No sort',
            btnCnt = sc.querySelector('.dropdown-toggle'),
            btnSort = sort.querySelector('.dropdown-toggle')
        ;

        btnCnt.innerHTML = 'Category (' + cnt + ') <span class="caret"></span>';
        btnSort.innerHTML = 'Sort (' + order + ') <span class="caret"></span>';

        form.find("#search_categories").add("#search_sort").on("hidden.bs.dropdown", function (event) {
            form.submit();
        });
    });

    var popupFound = document.querySelector('.js-popup-search-result');
    //    setUpSearch(document.querySelector('.js-popup-search'), function (infos) {
    //        popupFound.innerHTML = '';
    //        infos.forEach(function (d) {
    //            var div = buildProductLine(d, function(e) {}, 'radio');
    //
    //            popupFound.appendChild(div);
    //        });
    //    });


    //    var newCheck = document.querySelector('.js-new-product-check'),
    //        newConfirm = document.querySelector('.js-new-confirm');

    //    newConfirm.addEventListener('click', function (e) {
    //        if (!newCheck.checked) {
    //            location.href = 'product-add.php';
    //            return;
    //        }
    //        var idEl = document.querySelector('.js-popup-search-result input:checked');
    //        if (!idEl) {
    //            e.preventDefault();
    //            e.stopPropagation();
    //            return;
    //        }
    //
    //        var id = document.querySelector('.js-popup-search-result input:checked').getAttribute('data-id');
    //        location.href = '?parent=' + id;
    //    })

</script>
{% endblock %}
