{% extends "template.html" %}
{% set page = 'categories' %}

{% block title %}MPM Central - {{ entityName|capitalize }}{% endblock %}

{% block customheader%}
<link href="assets/css/plugins/iCheck/custom.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row wrapper white-bg page-heading">
    
    <div class="col-lg-8 col-md-6 col-xs-6">
        <h2><a href="categories.php">Categories</a></h2>
        <ol class="breadcrumb">           
            <li class="active">
                {{ entityPlural | capitalize }}
            </li>
        </ol>
    </div><!-- END col -->

    <div class="col-lg-4 col-md-6 col-xs-6">
        <span class="pull-right m-t-lg">
            <a class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add new {{ entityName }}</a>
        </span>
    </div>
</div><!-- END row -->

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12 list-filters">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >Status <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="i-checks"><a><label> <input type="checkbox" value=""> Active</label></a></li>
                    <li class="i-checks"><a><label> <input type="checkbox" value=""> Inactive </label></a></li>
                </ul>
            </div>

            <div class="btn-group">
                <a>Clear all filters</a>
            </div>

        </div><!-- END col  -->               
    </div><!-- END row -->

    <div class="row">
        <div class="col-md-12 list-options"> 

            <div class="btn-group-count"><h3><strong>1-{{remainingProducts}}</strong> of <strong>{{ count }}</strong> {{ entityPlural }} </h3></div>  

            <div class="pull-right">                              
                <h3>{{ count }} results</h3>                     
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Export <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a><i></i> Spreadsheet <span class="text-muted">(xls)</span></a></li>
                    </ul>
                </div>
            </div>                                                                        

        </div><!-- END col -->
    </div> <!-- END row -->

    <div class="modal fade" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Add {{entityName}}</h3>
                </div>
                <div class="modal-body">

                    <div class="input-group form-group">
                        <span class="input-group-addon left"><i class="fa fa-list-alt"></i></span>
                        <input type="text" class="form-control clear-option">
                    </div>

                    <div class="clear">
                        <div class="text-right m-t-md">
                            <button class="btn btn-white" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary">Save {{entityName}}</button>
                        </div>
                    </div>                    

                </div>
            </div><!--/.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->         

    <div class="list-container">
        
        <div class="listing">
            <div class="list-results">

                {% for key,value in entities %}
                    <div class="list-item">                        
                        <div class="list-row">
                            <div class="col-xs-4">                            
                                {{ value['description'] }} - ${{ value['displayValue'] }}
                            </div>

                            <div class="col-xs-2">
                                <small>Modelbuffs</small>
                                <span class="text-orange"><i class="fa fa-circle"></i></span>
                                <em>{{ value['countMB'] }}</em>
                            </div>

                            <div class="col-xs-2">       
                                <small>Planearts</small>                 
                                <span class="text-purple"><i class="fa fa-circle"></i></span>
                                <em>{{ value['countPA'] }}</em>
                            </div>

                            <div class="col-xs-2">
                                <small>M3</small>
                                <span class="text-info"><i class="fa fa-circle"></i></span>
                                <em>{{ value['countM3'] }}</em>                            
                            </div>

                            <div class="col-xs-2 text-right">                            
                                <em class="m-r-lg">Total {{ value['count'] }}</em>                                       
                                <a data-toggle="modal" data-target="#deletemodal">
                                    <span class="text-danger"><i class="fa fa-remove"></i></span>
                                </a>                                
                            </div>
                        </div>    
                    </div>              
                {% endfor %}

            </div>

            <div class="modal fade" id="deletemodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a data-dismiss="modal" class="pull-right">
                                <i class="fa fa-times"></i>
                            </a>

                            <h3>Delete {{entityName}}</h3>
                        </div>
                        <div class="modal-body">
                            <p>Delete <strong>[name of category]</strong>? Any products associated with this category will be left blank.</p>
                            <div class="text-right">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger">Yes, delete {{entityName}}</button> 
                            </div>                                     
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="list-options">
                <!--
                <div class="btn-group m-r-sm">
                    <button type="button" class="btn btn-white"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-white">1</button>
                    <button class="btn btn-white active">2</button>
                    <button class="btn btn-white">3</button>
                    <button class="btn btn-white">4</button>
                    <button type="button" class="btn btn-white"><i class="fa fa-chevron-right"></i> </button>
                </div>
                -->
            
                <div class="pull-right m-t-xxs"><h3>{{ count }} results</h3></div>
            </div>
           

        </div> <!-- END listing -->


    </div><!-- END list container -->
</div><!-- END wrapper-content -->

{% endblock %}

{% block customjs %}
<!-- iCheck -->
<script src="assets/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-steelblue',
            radioClass: 'iradio_square-steelblue',
        });
    });
</script>
{% endblock %}