/* =============================================================== */
/* HOME PAGE SLIDER  
/* =============================================================== */

.sliderImg {
    background: url('../../images/site/loading1.gif') center center no-repeat; /* prealoder */
}

.banner {
    margin-top: 50px;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -ms-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    transition: all 0.1s ease-out 0s;
}

.banner-boxes {
    margin-top: 80px;
}

.banner.down {
    margin-top: 26px;
}

.banner, .slider-content, .slider, .slider-v2 {
    width: 100%;
    display: block;
    max-height: 540px;
    height: auto;
    overflow: hidden;
    position: relative;
}

.slider-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.sliderImg {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner .sliderInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.banner .sliderInfo .container {
    height: 100%;
    dispay: block;
}

.sliderText {
    display: block;
    -webkit-transform: translateX(-120px);
    -moz-transform: translateX(-120px);
    -o-transform: translateX(-120px);
    -ms-transform: translateX(-120px);
    transform: translateX(-120px);
    -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
    -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
    -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
    -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
    transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
    opacity: 0;
    filter: alpha(opacity=0); /* IE FIX */
    -ms-filter: "alpha(Opacity=0)";
}

.sliderText:nth-child(n) {
    filter: none;
}

.slider-item.cycle-slide-active .sliderText {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.transformRight {
    display: block;
    -webkit-transform: translateX(120px);
    -moz-transform: translateX(120px);
    -o-transform: translateX(120px);
    -ms-transform: translateX(120px);
    transform: translateX(120px);
    -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
    -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
    -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
    -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
    transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
    opacity: 0;
    filter: alpha(opacity=0); /* IE FIX */
    -ms-filter: "alpha(Opacity=0)";
}

.slider-item.cycle-slide-active .transformRight {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -ms-filter: none; /* IE FIX */
    filter: none;
}

.transformLeft {
    display: block;
    -webkit-transform: translateX(-120px);
    -moz-transform: translateX(-120px);
    -o-transform: translateX(-120px);
    -ms-transform: translateX(-120px);
    transform: translateX(-120px);
    -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
    -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
    -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
    -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
    transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
    opacity: 0;
    filter: alpha(opacity=0); /* IE FIX */
    -ms-filter: "alpha(Opacity=0)";
}

.slider-item.cycle-slide-active .transformLeft {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.sliderText .inner {
    padding: 20px;
}

.sliderText h1 {
    font-size: 36px;
    font-weight: lighter;
}

.sliderText.dark h1 {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.slide-link {
    color: #fff;
    letter-spacing: -0.25px;
    font-size: 16px;
}

.sliderText {
    margin-top: 15%;
}

.sliderText.dark {
    color: #ddd;
}

.slider-item-img1 {
    background-size: cover;
}

.slider-item-img2 {
    background-size: cover;
}

.slider-item-img3 {
    background-size: cover;
}

/***  ------- Slider Style 1 Start ------- ***/

#pager2 {
    position: absolute;
    bottom: 10px;
    z-index: 100;
    width: 100%;
    z-index: 200;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#pager2 span {
    background: rgba(0, 0, 0, 0) !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 5px;
    text-indent: -9999px;
    width: 16px;
}

#pager2 span.cycle-pager-active {
    color: #fff;
}

.sliderControl {
    position: absolute;
    z-index: 200;
    top: 45%;
    display: inline-block;
    cursor: pointer;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #2c3e50;
    padding: 0 5px;
}

.sliderControl {
    opacity: 1;
}

.sliderControl:hover:nth-child(n) {
    filter: none;
}

.sliderControl:hover {
    background: rgb(255, 255, 255);
    background: transparent \9;
    background: rgba(255, 255, 255, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff); /* IE FIX */
    zoom: 1;
}

.prevControl {
    left: 20px;
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
    -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
    -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
    -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
    -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
    transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(Opacity=0)";
}

.banner:hover .prevControl {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.nextControl {
    right: 20px;
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -o-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
    -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
    -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
    -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
    transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(Opacity=0)";
}

.banner:hover .nextControl {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.sliderText.white {
    background: rgb(255, 255, 255);
    background: transparent \9;
    background: rgba(255, 255, 255, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff); /* IE FIX */
    zoom: 1;
}

.sliderText.white:nth-child(n) {
    filter: none;
}

.sliderText.white h1 {
}

.sliderText h3.price {
    font-weight: lighter;
    font-size: 22px;
    font-weight: lighter;
}

.sliderTextFull {
    margin-top: 20%;
    color: #FFFFFF;
}

.sliderTextFull h3 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
}

.topAnima {
    opacity: 0;
}

.cycle-slide-active .topAnima {
    opacity: 1;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: 0.3s;
    visibility: visible !important;
}

.sliderTextFull .opacity0 {
    opacity: 0 !important;
}

.cycle-slide-active .sliderTextFull .bottomAnima {
    opacity: 1 !important;
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 1s;
    animation-delay: 0.4s;
    -webkit-animation-duration: 1s;
    visibility: visible !important;
}

.sliderTextFull .inner.dark {
    display: block;
    margin: 0 auto;
    padding: 20px 10px;
    width: auto;
    background: rgb(0, 0, 0);
    background: transparent \9;
    background: rgba(0, 0, 0, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000); /* IE FIX */
    zoom: 1;
}

.sliderTextFull .inner.dark:nth-child(n) {
    filter: none;
}

.blankstyle h1 {
    display: block;
    font-size: 36px;
    font-weight: bold;
    height: auto;
    letter-spacing: -1px;
    line-height: 36px;
    opacity: 1;
    padding: 0;
    text-transform: uppercase;
}

.color-white h1, .color-white p, .color-white {
    color: #fff;
}

.color-black h1, .color-black p, .color-black {
    color: #000;
}

/***  ------- Slider Style 2 Pager ------- ***/

#pager {
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    z-index: 200;
    margin: 0 auto;
    padding: 0;
}

#pager a {
    color: #fff;
    display: block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    float: left;
    font-family: Oswald, Helvetica Neue;
    font-size: 15px;
    font-weight: normal;
    list-style: none outside none;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 33.333334%;
    background: rgba(0, 0, 0, 0.5);
}

#pager a.cycle-pager-active {
    color: #fff;
}

/*  // Style   2  end*/