/* =============================================================== */
/* SUBSCRIBE | PROMOTIONAL MODAL
/* =============================================================== */

#modalAds .modal-bg-1 {
    /* background: url(../../images/site/modal-img-1.jpg) right bottom no-repeat; */
    background-color: #F3F6FB;
}

.modal-bg-1 .close {
    color: #2c3e50;
    display: block;
    font-size: 34px;
    font-weight: lighter;
    line-height: 10px;
    opacity: 0.6;
    padding: 12px;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    z-index: 1;
}

#modalAds .modal-dialog {
    max-width: 660px;
    min-height: 340px;
    display: block;
    overflow: auto;
    padding: 15px;
    position: relative;
}

#modalAds h3 {
    color: #444;
    font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 29px;
    text-transform: uppercase;
}

.discountLg {
    color: #000;
    font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 46px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 46px;
    text-transform: uppercase;
}

#modalAds h4 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 28px;
    text-transform: uppercase;
}

.newsletter {
    border: 2px solid #ddd;
    display: inline-block;
    width: auto;
}

.newsletter input[type="text"] {
    background: #fff;
    border: medium none;
    float: left;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.newsletter input[type="text"]:focus {
    text-shadow: none;
    color: #666;
}

.newsletter .subscribe-btn {
    background: #ddd;
    border: 0 none;
    border-radius: 0;
    color: #3a3a3a;
    float: left;
    font-weight: normal;
    height: 40px;
    line-height: normal;
    padding: 0 10px;
}

@media (max-width: 442px) {
    .discountLg {
        font-size: 36px;
        letter-spacing: 2px;
        line-height: 40px;
    }

    #modalAds h3 {
        color: #444;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 26px;
    }

    .newsletter input[type="text"] {
        width: 100%;
    }

    .newsletter .subscribe-btn {
        margin-left: 0;
        margin-top: 5px;
        width: 100%;
    }
}

.newsletter .subscribe-btn:hover {
    background: #b7b7b7;
}

.shoplink {
    color: #000;
    display: inline-block;
    clear: both;
    font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
    left: 2px;
    margin-top: 20px;
    text-decoration: underline;
    text-transform: uppercase;
}