body {
    font-family: $font-stack;
    background-color: $navyblue;
    font-size: 15px;
    line-height: 1.5;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
  cursor: pointer;
  color: $accent-color;
}

a:hover, a:focus {
  color: darken($accent-color, 15%);
}

a:focus {
    outline:none;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

/* BORDERS */

.b-r {
    border-right: 1px solid $border-color;
}

.b-t {
    border-top: 1px solid $border-color;
}

.b-b {
    border-bottom: 1px solid $border-color;
}

.b-l {
    border-left: 1px solid $border-color;
}

.b-none {
    border: none !important;
    border-width: 0px !important;
    border-style: none !important;
}

.b-t-none {
    border-top: none !important;
    border-top-width: 0px !important;
    border-top-style: none !important;
}

.b-tb {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

.b-lr {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
}

/* Loader */

.sk-spinner-three-bounce.sk-spinner {
  margin: 15px auto;
  }

/* ibox */

.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5,
.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5 {
  margin-top: 0;
}

/* TABLES */

.table {
    margin-bottom: 5px;
}

.table > thead > tr > th {
  border-bottom: 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

.nav-tabs > li > a {
  padding: 10px 12px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: #e6e6e6;
  color: $text-color;
}

.ui-tab .tab-content {
  padding: 20px 0px;
}

/* DROPDOWNS */

.dropdown-menu {
    border: medium none;
    border-radius: 0;
    @include shadow-sm;
    display: none;
    float: left;
    font-size: 14px;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    margin-top: 5px;
    height: auto;
    max-height: 359px;
    overflow-x: hidden;

    li > a {
        border-radius: 3px;
        color: inherit;
        line-height: 16px;
        margin: 0;
        font-weight: normal;
        padding: 10px;

        &:hover {
            background-color: $lightest-grey;
            color: $text-color;
        }

        .font-bold {
            font-weight: 500;
        }
    }

}

.open > .dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu .divider {
    margin: 0;
}


/* GLOBAL  */

#page-wrapper {
    padding-bottom: 10px;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.instruction {
    font-size: 90%;
    color: darken($light-grey, 21%);
    line-height: 16px;
    margin-bottom: 5px;
}


.disabled {
    opacity: 0.45;

    i {
        opacity: 0.45;
    }
}

span.disabled {
    cursor: default;
}

.full-width-container {
    padding: 20px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #E4E4E4;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.wrapper-content {
    padding: 15px 10px;
}

.wrapper-hr {
    border-color: $lighter-grey;
    margin-bottom: 20px;
    margin-top: 0;
}

.well {
    margin-bottom: 0;
}

.validation-error {
    color: $red;
    font-size: 12px;
    padding: 5px 0 0 0;
}

.fw-img {  // Full width image
    width: 100%;
}

.breadcrumb {
    color: darken($gray, 35%);
    font-size: 15px;
}

.breadcrumb > li + li:before {
    content: "\f105";
    font-family: FontAwesome;   
}

.breadcrumb > li a {
  opacity:.7;
  transition: opacity .2s;
}

.breadcrumb > li a:hover{
    opacity:1;
}


.nobr { white-space: nowrap; }

.page-heading {
    position: relative;
    padding-bottom: 10px;

    span.pull-right {
        margin-top: -6px;
    }
}

/* BACKGROUNDS */

.navy-bg {
    background-color: $accent-color;
    color: #ffffff;

    a {
        color: #ffffff;
    }
}

.yellow-bg {
    background-color: $mustard;
    color: #ffffff;

    a {
        color: #ffffff;
    }
}

.red-bg {
    background-color: $red !important;
    color: #ffffff;

    a {
        color: #ffffff;
    }
}

.red-inverted-bg {
    background-color: lighten($red, 40%);
    color: $red;
}

.grey-bg {
    background-color: $grey;
    color: #ffffff;

    a {
        color: #ffffff;
    }
}

.gray-bg {
    background: $gray;
}

.lighter-grey-bg {
    background: $lighter-grey;
}

.lightest-grey-bg {
    background: $lightest-grey;
}

.info-bg {
    background-color: $info;
    color: #ffffff;
}

.green-bg {
    background-color: $green;
    color: #ffffff;
}

.orange-bg {
    background-color: $orange;
    color: #FFFFFF;
}


/* PANELS */

.panel-info {
    border-color: $info;
}

.panel-info > .panel-heading {
    background-color: $info;
    border-color: $info;
}


/* MARGINS & PADDINGS */

.p-xxs {
    padding: 5px !important;
}

.p-xs {
    padding: 10px !important;
}

.p-sm {
    padding: 15px !important;
}

.p-m {
    padding: 20px !important;
}

.p-md {
    padding: 25px !important;
}

.p-lg {
    padding: 30px !important;
}

.p-xl {
    padding: 40px !important;
}

.p-none {
    padding: 0px !important;
}

/* Top Padding */
.p-t-none {
    padding-top: 0px !important;
}
.p-t-xxs {
    padding-top: 5px !important;
}
.p-t-xs {
    padding-top: 10px !important;
}
.p-t-sm {
    padding-top: 15px !important;
}
.p-t-m {
    padding-top: 20px !important;
}

/* Left Padding */
.p-l-none {
    padding-left: 0px !important;
}
.p-l-xxs {
    padding-left: 5px !important;
}
.p-l-xs {
    padding-left: 10px !important;
}
.p-l-m {
  padding-left: 20px !important;
}

/* Bottom Padding */
.p-b-none {
    padding-bottom: 0px !important;
}
.p-b-xxs {
    padding-bottom: 5px !important;
}
.p-b-xs {
    padding-bottom: 10px !important;
}
.p-b-sm {
    padding-bottom: 15px !important;
}
.p-b-m {
    padding-bottom: 20px !important;
}

/* Right Padding */
.p-r-none {
    padding-right: 0px;
}


/* Top margin */
.m-t-none {
    margin-top: 0px !important;
}

.m-t-xxs {
    margin-top: 5px !important;
}

.m-t-xs {
    margin-top: 10px !important;
}

.m-t-sm {
    margin-top: 15px !important;
}

.m-t-m {
    margin-top: 20px !important;
}

/* Bottom margin */
.m-b-none {
    margin-bottom: 0px !important;
}

.m-b-xxs {
    margin-bottom: 4px !important;
}

.m-b-xs {
    margin-bottom: 10px !important;
}

.m-b-sm {
    margin-bottom: 15px !important;
}

.m-b-m {
    margin-bottom: 20px !important;
}


/* Right margin */
.m-r-none {
    margin-right: 0px !important;
}

.m-r-xxs {
    margin-right: 5px !important;
}

.m-r-xs {
    margin-right: 10px !important;
}

.m-r-sm {
    margin-right: 15px !important;
}

.m-r-m {
    margin-right: 20px !important;
}

/* Left margin */
.m-l-none {
    margin-left: 0px !important;
}

.m-l-xxs {
    margin-left: 5px !important;
}

.m-l-xs {
    margin-left: 10px !important;
}

.m-l-sm {
    margin-left: 15px !important;
}

.m-l-m {
    margin-left: 20px !important;
}

.m-none {
    margin: 0 !important;
}

/* Page loader custom style */
.pace .pace-progress {
    background: $accent-color;
}


/* Media Query related */

.show-on-mobile {
  display: none;
}

/* Vertical align */

.vertical-align {
    font-size: 0;

    > [class*="col"] {
        display: inline-block;
        vertical-align: middle;
        float: none;
        font-size: 15px;
    }
}
