<div class="modal fade" id="deleteModal">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Delete {{ entityName }}</h3>
        </div>
        <div class="modal-body">

            <div class="input-group form-group">
                Are you sure you want to delete the following? Deleting is a process that can't be undone.
            </div>

            <div class="input-group form-group">
                <ul class="js-name-list">
                    <li>{{ items }}</li>
                </ul>
            </div>

            <div class="clear">
                <div class="text-right m-t-md">
                    <button class="btn btn-white" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary btn-danger js-confirm-delete" data-name="{{ type}}">Delete</button>
                </div>
            </div>

        </div>
    </div><!--/.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
