<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="logo">MPM<span class="meta-normal">Central</span>
                </div>
                <div class="logo-element">MPM</div>
            </li>
            <li {% if page == 'dashboard' %} class="active" {% endif %}>
                <a href="index.php">
                    <i class="fa fa-th"></i> <span class="nav-label">Dashboard</span>
                </a>
            </li>
            <li {% if page == 'products' %} class="active" {% endif %}>
                <a href="products-list.php">
                    <i class="fa fa-cube"></i> <span class="nav-label">Products</span>
                </a>
            </li>            
            <li {% if page == 'categories' %} class="active" {% endif %}>
                <a href="#">
                <i class="fa fa-clock-o fa-fw"></i> 
                <span class="nav-label">Categories</span><span class="fa arrow"></span>
                </a>
                                        
                <ul class="nav nav-second-level collapse" style="height: 0px;">
                    <li {% if subPage == 'cMod' %} class="current" {% endif %}>
                        
                        {% if subPage == 'cMod' %} 
                            <span>Product categories</span>
                        {% else %}
                            <a href="c_product_categories-list.php">
                                Model categories
                            </a>                        
                        {% endif %}                    

                    </li>
                    
                    <li {% if subPage == 'cPro' %} class="current" {% endif %}>

                        {% if subPage == 'cPro' %} 
                            <span>Product descriptions</span>
                        {% else %}
                            <a href="c_product_descriptions-list.php">
                                Product descriptions
                            </a>                         
                        {% endif %}                    

                    </li>

                    <li {% if subPage == 'cPri' %} class="current" {% endif %}>

                        {% if subPage == 'cPri' %} 
                            <span>Pricing groups</span>
                        {% else %}
                            <a href="c_pricing_groups-list.php">
                                Pricing groups
                            </a>
                        {% endif %}                    
 
                    </li>

                    <li {% if subPage == 'cShi' %} class="current" {% endif %}>

                        {% if subPage == 'cShi' %} 
                            <span>Shipping groups</span>
                        {% else %}
                            <a href="c_shipping_groups-list.php">
                                Shipping groups
                            </a> 
                        {% endif %}                    
                    </li>

                    <li {% if subPage == 'cEra' %} class="current" {% endif %}>

                        {% if subPage == 'cEra' %} 
                            <span>Eras</span>
                        {% else %}
                            <a href="c_eras-list.php">
                                Eras
                            </a>                        
                        {% endif %}                    
                    </li>

                </ul>
            </li>                             
          
            <li>
                <a href="shipping.php">
                    <i class="fa fa-truck"></i> <span class="nav-label">Shipping</span>
                </a>
            </li> 

        </ul>
    </div>
</nav><!-- END nav -->