<div class="ibox js-photos-box">
    <div class="ibox-title">
        <h3>Photos - {{ title }}</h3>
        <div class="ibox-tools">
            <a class="collapse-link">
                <a data-suffix="{{ suffix }}" class="btn btn-sm btn-primary js-another-model" data-toggle="modal" data-target="#copyPhotosModal" style="margin-top: -3px;">Use another model</a>
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content m-b-md">
        <div class="form-group">
            {{ form_label(form.p) }}
            <div class="js-drop-here drop-files">Drop files here <br>
                <span class="js-cnt drop-files-cnt">(<span class="js-num drop-files-num">0</span> ready to save)</span>
            </div>
            {{ form_widget(form.p, {"attr": {"class": "hidden-multifile js-hidden-multifile"}}) }}
            {{ form_widget(form.copy, {"attr": {"class": "js-hidden-copy"}}) }}
            {{ form_widget(form.delete, {"attr": {"class": "js-hidden-delete"}}) }}
            {% set show = 0 %}
            <div class="js-img-loaded-previews">
                {% if photos %}
                    {% for i in 1..4 %}
                        {% set photo = attribute(photos, 'getProdSolo' ~ i ~ suffix) %}
                        {% if photo %}
                            <div class="col-md-3">
                                <img width="100%" src="../mpm/uploads{{ suffix }}/{{ photo }}"
                                     alt="solo{{ i }}"/>
                            </div>
                            {% set show = 1 %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="js-img-previews row"></div>
            <a href="#" class="js-delete-btn btn btn-danger" {% if not show %}style="display: none"{% endif %}>Delete photos</a>
        </div>
    </div>
    <!-- photos should be saved in tbl_prod_photos against prod_id of this product -->
    <!-- prod_solo1, prod_solo2, prod_solo3, prod_solo4 -->
    <!-- maximum of four photos -->
</div>
