{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} Your order complete{% endblock %}

{% block content %}
<div class="container main-container headerOffset centered-content">

    <p class="lead">
        Thank you for making a recent purchase from {{websiteVars.websiteName}}! Your order has been accepted. You should receive an email soon outlining your order. If there are any changes or correction you'd like to make an order, please <a href="contact-us.php">contact us</a>.
    </p>

    <hr />

    <h3 class="m-b-xs">Order details</h3>

	<table border="0" class="cartTable cartTableBorder order-success details" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>Products total</td>
          <td>${{ cart.price }}</td>
        </tr>
        <tr>
          <td>Shipping total</td>
          <td>${{p.shipping}}</td>
        </tr>                                    
        <tr>
          <td>Order total</td>
          <td>${{cart.price + p.shipping}}</td>
        </tr>
        <tr>
          <td>Date placed</td>
          <td>{{ 'now'|date('Y-m-d') }}</td>
        </tr>               
        <tr>
          <td>Payment method</td>
          <td>Secure Credit Card Payment</td>
        </tr>                                                         
      </tbody>
    </table>


    <h3 class="m-b-xs m-t-lg">Order summary</h3>


    <table border="0" class="cartTable cartTableBorder order-success" cellpadding="0" cellspacing="0">
      <tbody>
      {% for x in cart.items %}
      <tr>
          <td align="left">
              <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                  <tr>
                      <td>{{ x.product.name }} ({{x.stand.name}})
                      <td>${{ x.price }} (Qty: {{ x.quantity }})</td>
                  </tr>
                  </tbody>
              </table>
          </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>


    <h3 class="m-b-xs m-t-lg">Shipping address</h3>

    <table border="0" class="cartTable cartTableBorder m-b-lg order-success" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>
              {{p.street}}<br />
              {{p.city}}, {{p.state}}, {{p.country}}<br />
              {{p.zip}}
          </td>
        </tr>                                             
      </tbody>
    </table>


</div>
{% endblock %}
