{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} Version 4{% endblock %}
{% block keywords %}{{ websiteVars.keywords }}{% endblock %}
{% block description %}{{ websiteVars.description }}{% endblock %}

{% block customheader%}
<link href="../assets/plugins/select2/css/select2.min.css" rel="stylesheet"/> 
{% endblock %}
{% block content %}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.php">Home</a></li>
                <li class="active">Cart</li>
            </ul>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner">
                <span><i class="fa fa-money"></i> Select payment method</span>
            </h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
            <h4 class="caps" style="padding: 0px; margin: 8px 0 0 0;">
                <a href="cart.php">Update cart? </a>
            </h4>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-7 m-t-lg">
            <div class="row userInfo">
                <div class="col-xs-12 col-md-6 paymentBox" style="text-align: center;">
                    <div id="paypal-button" style="margin-bottom: 10px;"></div>                
                </div>
                <div class="col-xs-12 col-md-6 paymentBox" style="text-align: center;">
                    <a href="payment_cc.php?type={{shipmentType}}&cty={{shipmentCty}}" class="btn btn-primary" style="width: 225px;">Pay by Credit Card</a>    
                </div>                
            </div>
            <!--/row end-->
            <div class="row">

                <div class="col-xs-12 col-sm-12">
                    <div class="cartContent w100">
                        <!--
                        <table class="cartTable table-responsive" style="width:100%">
                            <tbody>

                            <tr class="CartProduct cartTableHeader">
                                <td style="width:15%">Product</td>
                                <td style="width:40%">Details</td>
                                <td style="width:10%">Qty</td>
                                <td style="width:20%">Shipping</td>
                                <td style="width:15%">Total</td>
                            </tr>
                            {% set s = shipmentType|first %}
                            {% for p in cart.items %}
                            <tr class="CartProduct">
                                <td class="CartProductThumb">
                                    <div><a href="product.php?id={{ p.product.id }}&stand={{ p.stand.id }}&size={{ p.product.size }}"><img
                                            src="{{ websiteVars.image_url~p.product.photo }}" alt="img"></a></div>
                                </td>
                                <td>
                                    <div class="CartDescription">
                                        <h4 class="m-b-none"><a href="product.php?id={{ p.product.id }}&stand={{ p.stand.id }}&size={{ p.product.size }}">{{ p.product.name }}
                                            (${{ p.product.price }})</a></h4>
                                        <span class="size">{{ p.stand.name }} (${{ p.stand.price }})</span>

                                        <div class="price item-price"><span>${{ p.price }}</span></div>
                                    </div>
                                </td>
                                <td class="delete"><a href="?action=delete&id={{ p.id }}" title="Delete"> <i
                                        class="glyphicon glyphicon-trash fa-2x"></i></a></td>
                                <td><input class="quanitySniper" data-current="{{ p.totalPrice }}"
                                           data-price="{{ p.price }}" data-id="{{ p.id }}" type="text"
                                           value="{{ p.quantity }}" name="quanitySniper"></td>
                                <td class="price item-price-{{ p.id }}">${{ p.totalPrice }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        -->
                        <table class="cartTable table-responsive" style="width:100%">
                            <tbody>

                            <tr class="CartProduct cartTableHeader">
                                <td style="width:15%">Product</td>
                                <td style="width:40%">Details</td>
                                <td style="width:10%">Qty</td>
                                <td style="width:20%">Shipping</td>
                                <td style="width:15%">Total</td>
                            </tr>
                            {% for p in cart.items %}
                            <tr class="CartProduct">
                                <td class="CartProductThumb">
                                    <div>
                                        <a href="product.php?id={{ p.product.id }}&stand={{ p.stand.id }}&size={{ p.product.size }}">
                                                <img src="{{ p.product.photo }}" alt="img">
                                        </a>
                                    </div>
                                </td>                           
                                <td>
                                    <div class="CartDescription">
                                        <h4 class="m-b-none"><a href="product.php?id={{ p.product.id }}&stand={{ p.stand.id }}&size={{ p.product.size }}">{{ p.product.name }}
                                            (${{ p.product.price }})</a></h4>
                                        <span class="size">{{ p.stand.name }} (${{ p.stand.price }})</span>

                                        <div class="price item-price"><span>${{ p.price }}</span></div>
                                    </div>
                                </td>
                                <td>{{ p.quantity }}</td>
                                <td class="item-shipping-{{ p.id }} js-prod-shipping">-</td>
                                <td class="price item-total-price-{{ p.id }} js-prod-total" data-price="{{ p.totalPrice }}">${{ p.totalPrice }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>                        
                    </div>
                </div>
                <!--cartContent-->

            </div>
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">

                    <div class="cartFooter w100">
                        <!--
                        <div class="box-footer">
                            <div class="pull-left">
                                <a class="btn btn-default back"> 
                                <i class="fa fa-arrow-left"></i> &nbsp; Continue shopping 
                                </a>
                            </div>
                        </div>
                        -->
                    </div>

                </div>

            </div>
            <!--/row end-->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-5 rightSidebar">
            {% include 'partials/checkout/orderSummary.php' with {'shipping': price} %}
        </div>
        <!--/rightSidebar-->
    </div>
    <!--/row-->
    <!--/row-->

    <div style="clear:both"></div>
</div>
<!-- /.main-container -->
{% endblock %}

{% block customjs%}
<script src="../assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
<script>
    var totalPrice = "{{ cart.price + price }}";
    var price = "{{ cart.price }}";
    var details = {{ productDetails|json_encode|raw }};
    var shipping = "{{ price }}";
    var id = "{{ id }}";
</script>
<script src="https://www.paypalobjects.com/api/checkout.js" type="text/javascript" ></script>
<script src="../assets/js/scripts/paypal.js" type="text/javascript" ></script>
{% endblock %}
