{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} Version 4{% endblock %}
{% block keywords %}{{ websiteVars.keywords }}{% endblock %}
{% block description %}{{ websiteVars.description }}{% endblock %}

{% block customheader%}
<link href="../assets/plugins/select2/css/select2.min.css" rel="stylesheet"/>
<link href="../assets/stripe/css/bootstrap-min.css" rel="stylesheet">
<link href="../assets/stripe/css/bootstrap-formhelpers-min.css" rel="stylesheet">
<link href="../assets/stripe/css/formValidation.css" rel="stylesheet">

{% endblock %}
{% block content %}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.php">Home</a></li>
                <li class="active">Cart</li>
            </ul>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-xs-12">
            <a href="https://stripe.com/about">
                <img src="https://stripe.com/img/about/logos/badge/big.svg" 
                style="float: right; margin-top: 20px;">        
            </a>
            <h1 class="section-title-inner">
                <span> 
                    <i class="glyphicon glyphicon-shopping-cart"></i> 
                    Payment by Credit Card 
                </span>
            </h1>           
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-7">
            <div class="panel panel-success">
                <div class="panel-body">
                    <p class="m-b-none">
                        <i class="fa fa-info-circle"></i> Our payment system is powered by <a href="https://stripe.com">Stripe</a>, the new standard in online payments. It currently processes billions of dollars payments every year to other online shops around the world. Stripe has been audited by a PCI-certified auditor and is certified to <a href="http://www.visa.com/splisting/searchGrsp.do?companyNameCriteria=stripe">PCI Service Provider Level 1</a>. This is the most stringent level of certification available in the payments industry. <a href="https://stripe.com/docs/security/stripe">Learn more about how Stripe works.</a>
                    </p>          

                </div>
            </div> 

            <form action="" method="POST" id="payment-form" class="form-horizontal">

                <div class="alert alert-danger" id="a_x200" style="display: none;">
                    <strong>Error!</strong> <span class="payment-errors"></span>
                </div>

                <span class="payment-success">
                    {% if error %}
                        <div class="alert alert-danger">
                            <strong>Error!</strong> 
                            {{errorMessage}}
                        </div>
                    {% endif %}
                </span>

                <!-- Form Name -->
                <legend class="m-t-md m-b-none p-b-none">Provide your shipping details</legend>
                <p>Your order will be shipped to the following address.</p>


                <!-- First and last names -->
                <!--
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" for="textinput">First name</label>
                        <input type="text" name="firstName" placeholder="First name" class="address form-control">
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="textinput">Last name</label>
                        <input type="text" name="lastName" placeholder="Last name" class="address form-control">
                    </div>
                </div>
                -->


                <!-- Street -->
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" for="textinput">Street</label>
                        <input type="text" name="street" placeholder="Street" class="address form-control">
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="textinput">City</label>
                        <input type="text" name="city" placeholder="City" class="city form-control">
                    </div>
                </div>

                <!-- State -->
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" for="textinput">State</label>
                        <input type="text" name="state" maxlength="65" placeholder="State" class="state form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="textinput">Postal Code</label>
                        <input type="text" name="zip" maxlength="9" placeholder="Postal Code" class="zip form-control">
                    </div>
                </div>

                <!-- Country -->
                <div class="row">
                    <div class="col-xs-12 m-b-sm">
                        <label class="control-label" for="textinput">Country</label>
                        <br />
                        <!--input type="text" name="country" placeholder="Country" class="country form-control"-->
                        <!--
                        <div class="country bfh-selectbox bfh-countries" name="country" placeholder="Select Country"
                             data-flags="true" data-filter="true" data-country="US"></div>
                        -->
                        <span class="pull-right"><a href="shipping.php">Change country of destination?</a></span>
                        {{ shipmentCountry.getCtyName() }}
                    </div>
                </div>

                <!-- Email -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label" for="textinput">Email address</label>
                        <p>Details of the order will be sent here</p>
                        <input type="text" name="email" maxlength="65" placeholder="Email" class="email form-control">
                    </div>
                </div>



                <!-- Different billing address -->
                <div class="row m-t-md">
                    <div class="col-xs-12">
                        <label class="control-label">
                            <input type="checkbox" class="js-toggle-billing">
                            Do you want to specify a different billing address?
                        </label>
                    </div>
                </div>

                <div class="js-different-billing" style="display: none">

                    <!-- Form Name -->
                    <legend class="m-t-lg m-b-none p-b-none">Provide your billing details</legend>

                    <!-- Street -->
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="billing-street">Street</label>
                            <input type="text" name="billing-street" placeholder="Street" class="address form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label" for="billing-city">City</label>
                            <input type="text" name="billing-city" placeholder="City" class="city form-control">
                        </div>
                    </div>

                    <!-- State -->
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="billing-state">State</label>
                            <input type="text" name="billing-state" maxlength="65" placeholder="State"
                                   class="state form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label" for="billing-zip">Postal Code</label>
                            <input type="text" name="billing-zip" maxlength="9" placeholder="Postal Code"
                                   class="zip form-control">
                        </div>
                    </div>

                    <!-- Country -->
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label" for="billing-country">Country</label>
                            <!--input type="text" name="country" placeholder="Country" class="country form-control"-->
                            <div class="country bfh-selectbox bfh-countries" name="billing-country"
                                 placeholder="Select Country"
                                 data-flags="true" data-filter="true">
                            </div>
                        </div>
                    </div>
                </div>




                <legend class="m-b-none p-b-none" style="margin-top: 40px;">Provide your card details</legend>


                <!-- Card Holder Name -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label" for="textinput">Cardholder's name</label>
                        <input type="text" name="cardholdername" maxlength="70" placeholder="Card Holder Name"
                               class="card-holder-name form-control">
                    </div>
                </div>

                <!-- Card Number -->
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label" for="textinput">Card number</label>
                        <input type="text" id="cardnumber" maxlength="19" placeholder="Card Number"
                               class="card-number form-control">
                    </div>
                </div>

                <!-- Expiry-->
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label" for="textinput">Card expiry date</label>
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="m-b-none p-b-none">Month</p>
                                <select name="select2" 
                                        data-stripe="exp-month"
                                        class="card-expiry-month stripe-sensitive required form-control"
                                        style="width: 100%;">
                                    <option value="01" selected="selected">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>                            
                            </div>

                            <div class="col-xs-6">
                                <p class="m-b-none p-b-none">Year</p>
                                <select name="select2" 
                                    data-stripe="exp-year"
                                    class="card-expiry-year stripe-sensitive required form-control"
                                    style="width: 100%;">
                                </select>                            
                            </div>

                            <script type="text/javascript">
                            </script>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="control-label" for="textinput">CVV/CVV2</label><br />    
                        <p class="m-b-none p-b-none">3-4 digit code on the back/front (AMEX) of your card</p>
                        <input type="text" id="cvv" placeholder="CVV" maxlength="4" class="card-cvc form-control">
                    </div>
                </div>


                <!-- Submit -->
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <p class="m-t-lg">By placing your order you agree to our <a href="terms-and-conditions.php">Terms & Conditions</a>. You also consent to some of your data being stored by {{websiteVars.websiteName}}, which may be used to make future shopping experiences better for you.</p>

                    </div>
                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                        <input value="CONFIRM PAYMENT" class="btn btn-block btn-success m-b-lg m-t-lg"
                               type="submit" style="padding: 20px 0">
                    </div>
                </div>

                </form>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-5 rightSidebar">
            {% include 'partials/checkout/orderSummary.php' %}
        </div>

        <div style="clear:both"></div>
    </div>
</div>

    {% endblock %}

    {% block customjs%}
    <script src="../assets/plugins/select2/js/select2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="../assets/stripe/js/bootstrap-formhelpers-min.js"></script>
    <script type="text/javascript" src="../assets/stripe/js/formValidation.js"></script>
    <script type="text/javascript" src="../assets/stripe/js/framework/bootstrap.js"></script>
    <!-- Custom -->
    <script type="text/javascript" src="../assets/js/scripts/stripe.js"></script>
    {% endblock %}

