{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} Version 4{% endblock %}

{% block content %}            



<div class="container main-container headerOffset">
<h2>Production process</h2>

<p class="lead">THE JOURNEY OF AN AIRPLANE MODEL begins with a British "Pilot" owned company with manufacturing facilities in the Philippines {{websiteVars.websiteName}}.com® offers custom made and standard "off the shelf" wooden model aircraft, wooden plaques, aircraft tail shields and aircraft "nose art" panels. Unlike our competitors {{websiteVars.websiteName}}.com® run their business direct from the factory source and not through third party companies or regional trading offices. The quality of your model is assured from day one of manufacture.</p>

<hr />

<h4>STAGE 1 : Moulding/Carving</h4>
                                             
<p>Skilled Carvers using only hand tools carve and meticulously shape the model. This is a specialist art, requiring many years of experience. The wood used is kiln dried Philippine Mahogany (commonly known as Lauan or Meranti) and is not on the endangered list as are many other woods such as Philippine Teak (Tectona Philippinensis) or Narra (Pterocarpus Indicus / Red Sandalwood Tree).  Wood carving is a form of working wood and in this case by using only hand tools.  No power tools are used in this process.  The Carvers work from actual aircraft drawing ensuring that the final carved body is an exact scale replica of the original aircraft.</p>

<h4>STAGE 2 : Puttying/Varnishing</h4>
<p>Once the model has been carved, several coats of putty are applied to create a very smooth, flawless finish prior to painting. Varnish is a finish applied to the wood in order to provide a clear, hard, durable, protective finish. The varnish is usually a combination of a drying oil, a resin and a thinner or solvent.  As opposed to paint, which contains pigment, and is opaque, varnish has little or no color, and is transparent. After being applied the varnish hardens either by evaporation of a solvent, or by a chemical reaction. Oil varnish drying time depends on the ratios of oil to resin and turpentine and may be sped up by exposure to UV light.</p>

<h4>STAGE 3 : Artwork</h4>

<p>Colour schemes are applied by hand or air brush, following the details or pictures supplied. To ensure the best colour match to the actual aircraft we are modelling we normally use a Pantone color reference which is provided by the customer or the original aircraft manufacturer.  The paint is a high quality acrylic type which enables us to give a very high quality custom finish that you would associate with that of a plane or even an automobile in a showroom environment.</p>

<p>After carefully painting the aircraft body and wings the artist then finely paints the intricate detail of the aircraft in the areas of the flight control surfaces, doors, windows and cargo hatches, engine cowlings, undercarriage and very importantly the very prominent “tail fin” or empennage of the aircraft.  No detail is spared, even the inside of the engine cowlings are carefully finished and are complemented by authentic looking, in the case of jet engines, fan blades.  Even propellers are also carved out of solid wood and finally finished by the artist.</p>

<h4>STAGE 4 : Quality Assurance & Packaging</h4>

<p>Throughout the process and on completion your model is carefully checked, by our Quality Assurance specialists, to ensure the model is finished to the specification, in the highest quality. Customers can review digital pictures before shipping. Shipping is by FedEx International Economy and insured for delivery within 3 - 4 days.</p>

<p>Quality Assurance covers all activities from design, development, production, and shipping. It introduced the sayings "fit for purpose" and "do it right the first time". It includes the regulation of the quality of raw materials, assemblies, products and components; services related to production; and management, production, and inspection processes.</p>

<p>The model airplanes that are being produced are properly enclosed in the package and are protected from damage caused by physical force, rain, heat, sunlight, cold, pressure, airborne contamination, and automated handling devices. The type of material chosen depends on: the sensitivity of the product; the types of damage that are likely; the value of the product; the size of the product; the weight of the product; the length of time the product will be packaged; and the method of shipping being used.</p>

</div>



{% endblock %}