{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} Version 4{% endblock %}
{% block keywords %}{{ websiteVars.keywords }}{% endblock %}
{% block description %}{{ websiteVars.description }}{% endblock %}

{% block customheader%}
<link href="../assets/stripe/css/formvalidation.min.css"/> 
{% endblock %}

{% block content %}            

    <div class="wrapper whitebg contact-us" style="margin-top: 100px;">

        <div class="container main-container">


            {% if congrats == 1 %}
                <div class="row innerPage">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row thank-you">
                            <div class="col-md-6 col-xs-12">

                                <h1>Thank you for your enquiry</h1>

                                <h3>Your message has been sent successfully.</h3>

                                <p class="lead">
                                Thank you for contacting us. We will respond to you as soon as possible. 
                                Alternatively, you can send us a direct email at <a href="mailto:sales@{{websiteVars.websiteURL}}">sales@{{websiteVars.websiteURL}}</a>
                                </p>                                

                            </div>
                        </div>

                    </div>
                </div>

            {% else %}


                <div class="row innerPage">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="row userInfo">

                            <div class="col-xs-12 col-sm-12">

                                <h2>Contact us</h2>

                                <hr />

                                <p class="lead">
                                For all enquiries, suggestions and support regarding our products and customer service, please use our contact form below. 
                                Alternatively, you can send us a direct email to <a href="mailto:sales@{{websiteVars.websiteURL}}">sales@{{websiteVars.websiteURL}}</a>
                                </p>

                            </div>
                        </div>

                    </div>
                </div>

                <div style="clear:both"></div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default ">
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    {{ form_start(form, {'attr': {'id': 'contactForm'}}) }}
                                        {{form_rest(form)}}
                                        <input type="submit" class="btn btn-primary" value="Submit"/>
                                    {{form_end(form)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

        </div>


    </div>

{% endblock %}

{% block customjs%}
<script src="../assets/stripe/js/formValidation.min.js"></script>
<script src="../assets/stripe/js/framework/bootstrap.min.js"></script>

<script>
$(document).ready(function() {
    $('#contactForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            firstName: {
                validators: {
                    notEmpty: {
                        message: 'Full name is required'
                    }
                }
            },
            emailAddress: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            },
            message: {
                validators: {
                    notEmpty: {
                        message: 'The message is required'
                    },
                }
            }
        }
    });
});
</script>

{% endblock %}
