{% extends "template.html" %}

{% block title %}{{ categoryCurrent.generateTitle(websiteVars.website) }}{% endblock %}
{% block keywords %}{{ categoryCurrent.generateSEOKeywords(websiteVars.website) }}{% endblock %}
{% block description %}{{ categoryCurrent.generateSEODescription(websiteVars.website) }}{% endblock %}

{% block content %}

<div class="container main-container headerOffset">

    <!-- Main component call to action -->

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">{{ categoryCurrent.getMenuName() }}</li>
            </ul>
        </div>
    </div>
    <!-- /.row  -->

    <div class="row">

        <!--left column-->

        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="panel-group" id="accordionNo">
                <!--Category-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseCategory" class="collapseWill">
                                Category
                                <span class="pull-right"> <i class="fa fa-caret-right"></i></span>                                 
                            </a>
                        </h4>
                    </div>
                    <div id="collapseCategory" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked tree">
                                {% for category in categories %}
                                    <li>
                                        <a href="category.php?category={{ category.getMenuId() }}">
                                            <span class="badge pull-right">{{ category.getProductCount(websiteVars.website) }}</span> 
                                            {{ category.getMenuName() }}
                                        </a>
                                    </li>                                    
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/Category menu end-->

            </div>
        </div>

        <!--right column-->
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="w100 clearfix category-top">
                <h2 class="no-margins">{{ categoryCurrent.getMenuName() }}</h2>
            </div>
            <!--/.category-top-->

            <div class="w100 productFilter clearfix">
                <p class="pull-left">
                    {% if productsPager.haveToPaginate() %}
                        Page {{ productsPager.getPage() }} of {{ productsPager.getLastPage() }}
                    {% endif %}
                </p>

                <div class="pull-right ">
                    <div class="change-order pull-right">
                        <select class="form-control js-order-changed" name="orderby">
                            {% for k, s in sorts %}
                            <option {% if k == sort %}selected="selected" {% endif %}value="{{ k }}">{{ s }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <!--/.productFilter-->

            <div class="row categoryProduct xsResponse clearfix">

                {% for product in productsPager %}
                    <div class="item col-sm-4 col-lg-3 col-md-3 col-xs-6">
                        <div class="product">
                            <!--
                            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                <i class="glyphicon glyphicon-heart"></i>
                            </a>
                            -->

                            <div class="image">
                                <div class="quickview" style="pointer-events: none;">
                                    <a title="More info" class="btn btn-xs btn-quickview"> More info </a>
                                </div>
                                <a href="product.php?id={{ product.getProdId() }}">                                    
                                    <img src="{{ websiteVars.image_url }}{{ product.displayMainImage( websiteVars.website ) }}" alt="img" 
                                    class="img-responsive" onerror="this.src = '{{ websiteVars.defaultImg }}';">
                                </a>
        
                            </div>
                            <div class="description">
                                <div class="fluid-ellipsis-container">
                                    <div class="fluid-ellipsis-content-wrapper">
                                        <a href="product.php?id={{ product.getProdId() }}">
                                        {{ product.getProdName() }}
                                        </a>
                                    </div>
                                </div>                                  
                                <!--
                                <div class="grid-description">
                                    <p>This product has a smaller version.</p>
                                </div>
                                -->
                            </div>
                            <!--
                            <div class="price">
                                <small>Starting from</small> 
                                <span> ${{ product.getTblProdPricing().getProdPricePrice() }}</span>
                            </div>
                            <div class="action-control">
                                <a class="btn btn-primary" href="cart.php">
                                    <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span>
                                </a>
                            </div>
                            -->
                        </div>
                    </div>                
                {% endfor %}

            </div>
            <!--/.categoryProduct || product content end-->
            {% if noPager is null %}
                {% include "partials/pagination.html.twig" with {"p": productsPager} %}
            {% endif %}

        </div>
        <!--/right column end-->
    </div>
    <!-- /.row  -->
</div>
<!-- /main container -->
{% endblock %}
{% block customjs%}
<script>
    (function (){
        $('.js-order-changed').change(function() {
            window.location.search = '?category={{ category }}&sort=' + this.value;
        });
    })();
</script>
{% endblock %}

