{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} Version 4{% endblock %}

{% block content %}            



<div class="container main-container headerOffset">
<h2>Terms and Conditions</h2>

<p class="lead">
By using this site, you agree to these terms of use. If you do not agree to these terms, you may not use this site. {{websiteVars.websiteName}} is a trade name of Wharfedale Wood Model Manufacturer and Exporter - a company duly registered in the Philippines. {{websiteVars.websiteName}} reserves the right, at any time, to modify, alter, or update these terms of use, and you agree to be bound by such modifications, alterations, or updates on subsequent visits.
</p>

<hr />

<h3>ORDER ACCEPTANCE AND PROCESSING</h3>

<ul class="list">
<li>All orders are accepted when your PayPal payment is processed. Any email or other acknowledgement of your order is merely to report that your request has been received and will be looked at, and does not in any way denote acceptance of your order regardless of any wording on the email.</li>

<li>Any customs duties or taxes or shipping surcharges are not included in quoted prices.  Orders shipped by FedEx or DHL are insured against loss and damage in transit.  Models shipped by Philpost are not insured against loss or damage during transit.</li>

<li>Production times quoted are approximate and exclusive of National Holidays. Production time commences from the date of our official order confirmation and prior to dispatch of your model you will receive images of the model showing the final stage after detailing has taken place.  After your approval or request for any modifications the model will then go to the final stages of production which involve final top coating and finishing processes and including one more final Quality Assurance check.  These stages normally take about an additional 7 days on top of the quoted production time although we aim to finish quicker if possible.</li>

<li>{{websiteVars.websiteName}} reserves the right, at any time prior to acceptance, to refuse any order or any part of an order, or to require further or better information to enable it to evaluate and/or process the order.</li>

<li>Custom made model orders are accepted only when the agreed specification has been confirmed by a completed order form returned to you, detailing sources of pictures and plans if required. Customers may send their own pictures, preferably digital.</li>

<li>Artists will paint the model to that specification, if necessary confirming to the customer with digital picture prior to shipment, that it is acceptable.</li>

<li>All physical dimensions stated on advertised models are approximate. The final delivered model dimensions may vary slightly from those advertised. Where the height of the model is stated the measurement is assuming that the model would be in a gear down configuration. If the model depicted does not show gear down an allowance should be made for a reduced overall height of the model.</li>

<li>Due to the inherent nature of wooden products we are unable to fully guarantee that over a period of time there will be no development of minor cracks within the model.  This is also partly due to the fact that different climatic conditions, humidity levels, temperature fluctuations can all play a part in altering the structure of natural wood.</li>

<li>Stock and generic models will have digital pictures already available and website pictures will always represent aircraft and airline markings and logos as closely as possible.</li>

<li>{{websiteVars.websiteName}} reserves the right to determine finally in the event of any dispute whether any model has failed to conform to the originally agreed specification.</li>

<li>Sometimes there are limitations regarding accuracy due to scale and manufacturing processes, and these are not the responsibility of {{websiteVars.websiteName}}.</li>

<li>{{websiteVars.websiteName}} reserves the right to photograph and use for general publicity purposes any model made for private or corporate customers irrespective of the type or version of the model in question.</li>
</ul>

<hr />

<h3>GENERAL TERMS & CONDITIONS</h3>

<ul class="list">
<li>All orders will be subject to the PayPal company's "rate of the day" or the rate quoted.</li>

<li>Your statutory rights are not affected.</li>

<li>We ask, however, that you return faulty goods within 14 days for a full refund but please note that the buyer is responsible for return shipping costs.</li>

<li>The seller shall have no liability in the event of the goods infringing or being alleged to infringe the rights of any third party. In the event that the goods are or maybe the subject of third party rights, the seller shall be obliged to transfer any such title he has but without prejudice to the rights of a consumer for a remedy in the event of total or partial non-performance.</li>

<li>If you have ordered more than one model, delivery may be effected in one or more installments. Delivery dates are approximate and no liability whatsoever is accepted in respect of late deliveries.</li>

<li>{{websiteVars.websiteName}} accepts no liability for any failure to ship products where this results from its inability to do so resulting from acts of God, civil commotion, terrorism, riots, flood, draught, fire, legislation or other factors outside its control, or its decision on reasonable grounds not to do so for reasons of suspicion of credit card fraud or similar, provided that it takes all reasonable steps to notify you within fourteen (14) days of order placement that products will not be shipped as ordered. In such cases {{websiteVars.websiteName}} will not process any payment or will immediately refund any payment made, in full. It is your responsibility to ensure that you order from {{websiteVars.websiteName}} with sufficient lead time to prevent any loss or disappointment resulting from such non-shipment.</li>

<li>The calculation of FedEx or DHL courier services on our website in several countries is limited to a quote being given for your desired country of destination and not to a specific postal or ZIP code area.  There are however very occasional exceptions whereby FedEx or DHL charge "Out of Delivery Area" (ODA) surcharges which are only known at the time we receive your full postal address or when FedEx or DHL make the actual delivery.  {{websiteVars.websiteName}} reserves the right to demand additional payment should an ODA charge apply to your order.</li>

<li>No claim for goods damaged in transit will be accepted unless when the goods are signed for the proof of delivery indicates that the goods were damaged on arrival. It is the purchaser's sole responsibility to check the parcel for damage on arrival and ensure that any damage is highlighted immediately in this way to the carrier. This does not apply to faulty goods, in the case of faulty goods you must inform us within 7 days of receipt that a fault exists.</li>

<li>Please examine your model immediately upon delivery. Shipping damage must be reported to us by e-mail within 24 hours of delivery. Upon return, we will repair the model at our cost.</li>

<li>If you are not completed satisfied with your purchase for any other reason, you may ship back to us within 14 days of our shipping to receive a refund (less 30% restocking fee).</li>

<li>The item must be received by us in new condition, complete, and in the original packaging.</li>

<li>We are not responsible for return shipping damage so please pack the model carefully and arrange suitable insurance.</li>

<li>{{websiteVars.websiteName}} does not pay for or reimburse shipping charges on returned items. All custom orders are final unless {{websiteVars.websiteName}} accepts fault.</li>

</ul>

<hr />

<h3>Disclaimers and limitations on {{websiteVars.websiteName}} liability</h3>

<ul class="list">
<li>Without prejudice to statutory rights afforded to purchasers of products, the information and materials contained in this site, including, without limitation, text, graphics, and links, are provided on an "as is" basis with no warranty, and in particular, {{websiteVars.websiteName}} does not represent or warrant that the information accessible via this site is accurate, complete or current, or that use of the site is free of risk of viruses or other damage. Price and availability information is subject to change without notice.
</li>

<li>Products purchased from {{websiteVars.websiteName}} and related services, which are provided by {{websiteVars.websiteName}} are warranted in accordance with law, and nothing herein is to be taken to exclude or restrict any rights, which applicable law grants to consumers in respect of such products or services. Individual products may be the subject of additional warranties or guarantees given by their manufacturers directly. Such warranties, etc. Are not enforceable against {{websiteVars.websiteName}} but only against the person giving them.
</li>

<li>{{websiteVars.websiteName}} accepts liability for damage to property where and to the extent that it arises from the negligence of {{websiteVars.websiteName}}, or of its servants and agents, up to a limit, in relation to any one event or series of events arising from a common cause, of one thousand dollars ($1,000) except as provided above there are no other warranties, conditions or other terms, express or implied, statutory or otherwise, and all such terms are hereby excluded to the maximum extent permitted by law.
</li>

<li>Nothing in the above should be construed as meaning that the purchaser does not have their full statutory rights with regard to fitness for purpose, satisfactory quality,or any liability for loss or damage.
</li>

</ul>

<hr />

<h3>Terms and conditions relating to {{websiteVars.websiteName}} website external sites</h3>

<p>This site may contain links to other sites on the Internet that are owned and operated by third party vendors and other third parties (the "external sites"). {{websiteVars.websiteName}} is not responsible for the availability of, or the content located on or through, any external site, nor for any transactions between you and such sites (including as to 'cookies', personal data, confidential information, or purchases of goods or services). You should contact the site administrator or webmaster for those external sites if you have any concerns regarding such links, content or transactions.</p>

<hr />

<h3>Copyright</h3>


<p>All rights in the site design, text, graphics and other content, interfaces, and the selection and arrangements thereof belong to {{websiteVars.websiteName}} or its licensors. All rights are reserved save as set out below. Permission is granted to electronically copy and to print hard copy portions of this site for the sole purpose of placing an order with {{websiteVars.websiteName}} or using this site as a shopping resource. Any other use of materials on this site, including reproduction for purposes other than those noted above, modification, distribution, or republication is strictly prohibited without the written approval of {{websiteVars.websiteName}}.</p>

</div>



{% endblock %}