{% extends "template.html" %}

{% block title %}{{websiteName}} Version 4{% endblock %}
{% block keywords %}{{ websiteVars.keywords }}{% endblock %}
{% block description %}{{ websiteVars.description }}{% endblock %}

{% block content %}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.php">Home</a></li>
            </ul>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-xs-12 text-center">
            
            <div style="margin: 50px 0;">
                <div style="width: 50%; display: block !important; overflow: hidden; position: relative; margin: 0px auto;">
                    <h2>Ooopss! Sorry! Something's wrong here.</h2>
                    <h3 class="m-b-sm">Either you are were given the wrong link or the model you're looking for does not exist anymore.</h3>

                    <div class="input-append newsLatterBox text-center" style="width: 50%; margin: 0px auto;">
                        <a class="btn bg-gray" href="category.php?category=13">
                            Browse all products <i class="fa fa-long-arrow-right"> </i>
                        </a>
                    </div>            
                </div>
            </div>

        </div>
    </div>
    <!--/row-->

</div>
<!-- /.main-container -->

{% endblock %}

