{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} Your order complete{% endblock %}

{% block content %}
<div class="container main-container headerOffset centered-content">

    <p class="lead">
        Thank you for making a recent purchase from {{websiteVars.websiteName}}! Your order has been accepted. You should receive an email soon outlining your order. If there are any changes or correction you'd like to make an order, please <a href="contact-us.php">contact us</a>.
    </p>

    <hr />
    {% set t=p.transactions[0] %}

    <h3 class="m-b-xs">Order details</h3>

	<table border="0" class="cartTable cartTableBorder order-success details" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>Products total</td>
          <td>${{ t.amount.details.subtotal }}</td>
        </tr>
        <tr>
          <td>Shipping total</td>
          <td>${{ t.amount.details.shipping }}</td>
        </tr>                                    
        <tr>
          <td>Order total</td>
          <td>${{ t.amount.total }}</td>
        </tr>
        <tr>
          <td>Date placed</td>
          <td>{{ 'now'|date('Y-m-d') }}</td>
        </tr>               
        <tr>
          <td>Payment method</td>
          <td>{{ info.payer.payment_method }}</td>
        </tr>                                                         
      </tbody>
    </table>


    <h3 class="m-b-xs m-t-lg">Order summary</h3>


    <table border="0" class="cartTable cartTableBorder order-success" cellpadding="0" cellspacing="0">
      <tbody>
      {% for p in t.item_list.items %}

      <tr>
         	<td>
                {{ p.name }}
        	</td>

         	<td class="text-right">
                ${{ p.price }} (Qty: {{ p.quantity }})
        	</td>                                      
        </tr>
      {% endfor %}

      </tbody>
    </table>


    <h3 class="m-b-xs m-t-lg">Shipping address</h3>
    {% set a=p.payer.payer_info.shipping_address %}

    <table border="0" class="cartTable cartTableBorder m-b-lg order-success" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>
              {{a.line1}}<br />
              {{a.city}}, {{a.state}}, {{a.country_code}}<br />
              {{a.postal_code}}
          </td>
        </tr>                                             
      </tbody>
    </table>


</div>
{% endblock %}
