{% extends "template.html" %}

{% block title %}{{websiteName}} Version 4{% endblock %}
{% block keywords %}{{ websiteVars.keywords }}{% endblock %}
{% block description %}{{ websiteVars.description }}{% endblock %}

{% block content %}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.php">Home</a></li>
                <li class="active">Cart</li>
            </ul>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-xs-12">
            <h1 class="section-title-inner">
                <a class="back"> <i class="fa fa-arrow-left"></i></a>            
                <span>
                    <i class="glyphicon glyphicon-shopping-cart"></i> Shopping cart 
                </span>
            </h1>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-xs-12 text-center">
            
            <div style="margin: 50px 0;">
                <h2>You have an empty shopping cart</h2>
                <div class="input-append newsLatterBox text-center" style="width: 50%; margin: 0px auto;">
                    <a class="btn bg-gray" href="category.php?category=13">
                        Browse all products <i class="fa fa-long-arrow-right"> </i>
                    </a>
                </div>            
            </div>

        </div>
    </div>
    <!--/row-->

</div>
<!-- /.main-container -->

{% endblock %}

