{% extends "template.html" %}

{% block title %}{{ product.generateTitle(websiteVars.website) }}{% endblock %}
{% block keywords %}{{ product.generateSEOKeywords(websiteVars.website) }}{% endblock %}
{% block description %}{{ product.generateSEODescription(websiteVars.websiteName) }}{% endblock %}

{% block customheader%}
<link rel="stylesheet" href="../node_modules/lightbox2/dist/css/lightbox.min.css"/> 
{% endblock %}



{% block content %}


<div class="container main-container headerOffset">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">

            <ul class="breadcrumb">
                <li><a href="index.php">Home</a></li>
                <li class="active">{{ product.getTblMenus().getMenuName() }}</li>
            </ul>
        </div>
    </div>

    <div class="row transitionfx">

        <!-- left column -->

        <div class="col-lg-6 col-md-6 col-sm-6 productImageZoom">

            <!--
            <div class='zoom' id='zoomContent' 
            style="background-image: url({{ websiteVars.image_url }}{{ product.displayImage( websiteVars.website, 1 ) }});">

                <a class="gall-item" title="product-title"
                   href="{{ websiteVars.image_url }}{{ product.displayImage( websiteVars.website, 1 ) }}">
                    
                    <img
                        class="zoomImage1 img-responsive"
                        data-src="{{ websiteVars.defaultImg }}"
                        src="{{ websiteVars.defaultImg }}"
                        title="{{ product.getProdName() }}"
                        alt="{{ product.getProdName() }}"/>
                </a>
            </div>
            -->

            <div id="mainImage" class="m-b-sm">
                <a href="{{ websiteVars.image_url }}{{ product.displayMainImage( websiteVars.website ) }}" 
                alt="{{ product.getProdName() }}" 
                title="{{ product.getProdName() }}"
                data-lightbox="gallery">
                    <img src="{{ websiteVars.image_url }}{{ product.displayMainImage( websiteVars.website ) }}" />
                </a>
            </div>

            <div id="gallery">
                {% for image in product.displayGallery ( websiteVars.website ) %}                    
                    <a href="{{ websiteVars.image_url }}{{ image }}" data-lightbox="gallery">
                        <img
                            src="{{ websiteVars.image_url }}{{ image }}"
                            title="{{ product.getProdName() }}"
                            alt="{{ product.getProdName() }}" />
                    </a>
                {% endfor %}
            </div>

        </div>
        <!--/ left column end -->


        <!-- right column -->
        <div class="col-lg-6 col-md-6 col-sm-5">
            {{ form_start(form) }}
            <h1 class="product-title">{{ product.getProdName() }}</h1>

            <h3 class="product-code">Product Code : {{ product.getProdCode() }}</h3>
            <input type="hidden" id="productID" value="{{ product.getProdId() }}"/>

            {% if smaller %}
                <div class="alert alert-info">
                    This product has a smaller version.
                    <div class="product-stats m-b-xs">
                        <h3 class="product-code">Product statistics</h3>
                        <span><strong>Length</strong> {{ smallerVersion.displayStat(smallerVersion.smProdLength) }}</span>
                        <span><strong>Wing span</strong> {{ smallerVersion.displayStat(smallerVersion.smProdWingspan) }}</span>
                        <span><strong>Height</strong> {{ smallerVersion.displayStat(smallerVersion.smProdHeight) }}</span>
                        <span><strong>Scale</strong> {{ smallerVersion.smProdScale }} </span>
                    </div>
                </div>

            {% endif %}

            <hr/>

            <div class="product-stats m-b-xs">
                <h3 class="product-code">Product statistics</h3>
                
                {{ product.displayStat(product.prodLength, 'Length')|raw }}
                {{ product.displayStat(product.prodWingspan, 'Wing span')|raw }}
                {{ product.displayStat(product.prodHeight, 'Height')|raw }}

                {% if product.prodScale %}
                    <span><strong>Scale</strong> {{ product.prodScale }} </span>
                {% endif %}
            </div>

            <hr/>

            <div class="details-description">
                <p>Shipping and choice of stand may increase the price of this model.</p>
            </div>


            <div class="productFilter">
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_label(form.product) }}
                        {{ form_widget(form.product, {
                        'attr': {'class': 'form-control filter-product'}
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_label(form.stand) }}
                        {{ form_widget(form.stand, {
                            'attr': {'class': 'form-control filter-stand'}
                        }) }}
                    </div>
                </div>
            </div>
            <!-- productFilter -->

            <div class="cart-actions">

                <div class="row">
                    <div class="col-sm-2 col-xs-12 addto">
                        {{ form_widget(form.quantity, {
                            'attr': {'class': 'form-control form-control-lg filter-qty'}
                        }) }}
                    </div>
                    <div class="col-sm-6 col-xs-12 addto">
                        <button class="button btn-block btn-cart cart first js-push-add-to-cart">Add to Cart</button>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="pull-right product-price">
                                <span class="price-sales">
                                    {% if product.getProdPriceId() > 0  %}
                                        ${{ product.getTblProdPricing().getProdPricePrice()|number_format(2, '.', ',') }}
                                    {% else %}
                                        ${{ product.getTblProdPrices().getProdNormalPrice()|number_format(2, '.', ',') }}
                                    {% endif %}
                                </span>
                        </div>
                    </div>
                </div>

                {% include 'partials/checkout/currencyConverter.php' %}

                <div style="clear:both"></div>

                <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> 8-10 weeks</h3>
                <h3 class="incaps pull-right"><i class="fa fa-lock"></i> Secure online ordering</h3>
            </div>
            <!--/.cart-actions-->

            <div class="clear"></div>

            <div class="product-tab w100 clearfix">

                <ul class="nav nav-tabs">

                    {% if product.getProdWriteup() %}
                    {% set activeProdWriteup = 'active' %}
                    {% set activeProdGeneral = '' %}
                    {% else %}
                    {% set activeProdWriteup = '' %}
                    {% set activeProdGeneral = 'active' %}
                    {% endif %}

                    {% if product.getProdWriteup() %}
                    <li class={{ activeProdWriteup }}>
                        <a href="#details" data-toggle="tab">Details</a>
                    </li>
                    {% endif %}


                    {% if product.getProdGeneral() %}
                    <li class={{ activeProdGeneral }}>
                        <a href="#size" data-toggle="tab">General product description</a>
                    </li>
                    {% endif %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    {% if product.getProdWriteup() %}
                    <div class="tab-pane {{activeProdWriteup}}" id="details">
                        {{ product.getProdWriteup()|displayHtml }}
                    </div>
                    {% endif %}

                    {% if product.getProdGeneral() %}
                    <div class="tab-pane {{activeProdGeneral}}" id="size">
                        {{ product.getTblGeneral().getGeneralDescription(
                        websiteVars.website,
                        product.getProdName(),
                        product.getProdAlt1(),
                        product.getProdAlt2(),
                        product.getProdAlt3(),
                        product.getProdAlt4()
                        )|displayHtml }}
                    </div>
                    {% endif %}
                </div>
                <!-- /.tab content -->

            </div>
            <!--/.product-tab-->

            <div style="clear:both"></div>

            <div class="product-share clearfix">
                <p> SHARE </p>

                <div class="socialIcon">
                    <a href="#"> <i class="fa fa-facebook"></i></a>
                    <a href="#"> <i class="fa fa-twitter"></i></a>
                    <a href="#"> <i class="fa fa-google-plus"></i></a>
                    <a href="#"> <i class="fa fa-pinterest"></i></a>
                </div>

            </div>
            <!--/.product-share-->
            {{ form_end(form) }}

        </div>
        <!--/ right column end -->
    </div>
    <!--/.row-->


    {% if product.getProdRelated() %}
    <div class="row recommended">

        <h1> YOU MAY ALSO LIKE </h1>

        <div id="SimilarProductSlider">

            {% for relatedProduct in relatedProducts %}
            <div class="item">
                <div class="product"><a class="product-image">
                    <img src="{{ websiteVars.image_url }}{{ relatedProduct.getTblProdPhotosv2().getProdSolo1() }}" alt="img"> </a>
                    <div class="description">
                        <h4><a href="product.php?id={{ relatedProduct.getProdId() }}">{{ relatedProduct.getProdName()
                            }}</a></h4>
                        <div class="price">
                            Starting at
                            <span>${{ relatedProduct.getTblProdPricing().getProdPricePrice() }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.item-->
            {% endfor %}

        </div>
        <!--/.recommended-->
    </div>
    {% endif %}


    <div style="clear:both"></div>


</div>
<!-- /main-container -->


<div class="gap"></div>
{% endblock %}

{% block customjs %}
<script>
var jsData = {{ jsData|json_encode|raw }};
var currencyRates = {{ convert_rates() | json_encode | raw }}
</script>
<script type="text/javascript" src="../assets/js/scripts/product.js"></script>
<script type="text/javascript" src="../node_modules/lightbox2/dist/js/lightbox.min.js"></script>
{% endblock %}
