{% extends "template.html" %}

{% block title %}{{websiteVars.websiteName}} - Category Page{% endblock %}

{% block content %}

<div class="container main-container headerOffset">

    <!-- Main component call to action -->

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">{{ categoryCurrent.getMenuName() }}</li>
            </ul>
        </div>
    </div>
    <!-- /.row  -->

    <div class="row">

        <!--right column-->
        <div class="col-sm-12">

            <div class="w100 clearfix category-top">
                <h2>Newest products</h2>
            </div>
            <!--/.category-top-->

            <div class="row categoryProduct xsResponse clearfix">

                {% for product in newProducts %}
                    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
                        <div class="product">
                            <!--
                            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                <i class="glyphicon glyphicon-heart"></i>
                            </a>
                            -->

                            <div class="image">
                                <div class="quickview">
                                    <a title="More info" class="btn btn-xs  btn-quickview" data-target="#product-details-modal" data-toggle="modal"> More info </a>
                                </div>
                                <a href="product.php?id={{ product.getProdId() }}">                                    
                                    <img src="{{ image_url }}{{ product.getTblProdPhotos().getProdSolo1() }}" alt="img" class="img-responsive">
                                </a>
        
                            </div>
                            <div class="description">
                                <h4><a href="product.php?id={{ product.prodId() }}">{{ product.getProdName() }}</a></h4>

                                <div class="grid-description">
                                    <p>This product has a smaller version.</p>
                                </div>
                            </div>
                            <div class="price"><small>Starting from</small> <span> ${{ product.getTblProdPricing().getProdPricePrice() }}</span></div>
                            <div class="action-control">
                                <a class="btn btn-primary" href="cart.php">
                                    <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span>
                                </a>
                            </div>
                        </div>
                    </div>                
                {% endfor %}

            </div>
            <!--/.categoryProduct || product content end-->


        </div>
        <!--/right column end-->
    </div>
    <!-- /.row  -->
</div>
<!-- /main container -->


{% endblock %}