<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title%} {% endblock %}</title>
<meta name="keywords" content="{% block keywords %}{% endblock %}">
<meta name="description" content="{% block description %}{% endblock %}">    
<meta name="author" content="{{websiteVars.websiteName}}">
<meta name="ROBOTS" content="ALL">   
{% include 'partials/header/header-styles-js.php' %}
{% block customheader%}{% endblock %}
</head>

<body class="snipcart-overwrite">
{% include 'partials/navbar.php' %}

    {% block content %}
    {% endblock %}

{% include 'partials/footer/footer.php' %}
{% include 'partials/footer/footer-styles-js.php' %}
{% block customjs%} {% endblock %}
</body>
</html>