.drop-files {
    height: 100px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-bottom: -100px;
}

.drop-files._drop {
    border: 1px solid black;
}

.hidden-multifile {
    width: 100%;
    display: block;
    opacity: 0;
    height: 100px;
}

.drop-files-cnt {
    font-size: 13px;
}

.drop-files-num {
    font-size: 14px;
}
.drop-files-num._alert {
    color: #B94A48;
}