.nav > li > a {
  color: #7e7e8f;
  padding: 14px 20px 15px 25px;
  font-weight: 500;

    &.user-element {
        padding: 4px 15px;
    }
}

.nav-label {
  font-size: 17px;
}

.navbar {
    min-height: 58px;
}

.navbar .dropdown-menu {
  margin-top: -12px;
  
    .indicator {
        left: auto !important;        
        right: 30px !important;        
    }
}

.navbar-right {
    float: right!important;
    margin-right: 0;

    li > a {
        color: #999c9e;
    }

    .dropdown-menu {
        right: 20px;
        left: auto;
    }
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  background-color: $dark-navyblue;
}


.navbar-header {
    width: 63px;
}

.navbar-search {
    width: auto;
    overflow: hidden;
    position: relative;   

    label {
        position: absolute;
        left: 28px;
        top: 16px;
        font-size: 18px;
        color: darken($gray, 25%);
    }

    .search-clear {
        text-decoration: none;
        position: absolute;
        font-size: 18px;
        right: 28px;
        top: 16px;
        color: $accent-color;
    }
}

.navbar-form-custom {
    float: none;
    height: 50px;
    padding: 0;
    display: inline;

    .form-group {
        padding: 10px 15px;
        margin-bottom: 0;
    }
}

.navbar-form-custom .form-control {
    background-color: darken($gray, 4%);
    border-radius: 2px;
    border: medium none;
    font-size: 16px;
    height: 38px;
    margin: 0;
    z-index: 2000;
    padding: 1px 15px; 
}

.navbar-links {
    float: right;
    width: 200px;
}

.navbar-top-links li {
    &.dropdown {
        margin-top: 23px;
    }

    a.count-info {
        padding: 23px 14px 17px 10px;
    }

    &:last-child {
        margin-right: 0;
    }

    &.profile-dropdown {
        padding: 0;
        vertical-align: top;
        margin-top: 10px;
        a {
            padding: 12px 20px 12px 10px;
        }

        .profile-name {
            padding: 0;
            color: $accent-color;
        }

         .initialsCircle {
            padding: 0;
            color: $grey;
        }
    
    }

}

.nav.navbar-top-links a {
  font-size: 15px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: $gray;
}

.count-info .label {
    top: -8px;
    right: 2px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: auto;
}

.navbar-top-links .dropdown-alerts {
    margin-left: auto;
    right: -70px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.nav-header {
    background: $nav-bg;
}

.nav > li.active {
    border-left: 4px solid $accent-color;
    background: $dark-navyblue;

    a {
    padding-left: 21px;
    }
  
}

.navbar-form-custom {
    display: inline;
}

.canvas-menu.mini-navbar .nav-second-level {
    background: darken($nav-bg, 5%);
}

.navbar-fixed-top, .navbar-static-top {
    background: $gray;
    @include shadow-md;
}

body.mini-navbar .profile-element, body.mini-navbar .logo, body.mini-navbar .nav-label, body.mini-navbar .navbar-default .nav li a span {
  display: none;
}

body.mini-navbar .nav-header {
  background-color: $darker-navyblue;
}

.minimalize-styl-2 {
    margin: 11px 5px 5px 25px;
}